	<aside class="home-slider swiper-container-style">

		<div class="swiper-container swiper-container--home-slider">

			<ul class="home-slider__list swiper-wrapper">

				<li class="swiper-slide">

					<div class="home-slider__item">

{% set nameFile = '9ebd32f6c5019c3d1107434e571c3c35' %}
{% include "_include/home/slider__picture.html" %}

						<div class="center home-slider__content">

							<div class="home-slider__content-inner">

								<h3 class="home-slider__content-title h1">
									<span class="color-yellow">Выберите фонарь</span> по параметрам
								</h3>

								<div class="home-slider__content-flex">

									<div class="home-slider__content-steps">

										<ol>
											<li>
												<span>
													Укажите нужные <br> параметры
												</span>
											</li>
											<li>
												<span>
													Получите <br> список товаров
												</span>
											</li>
											<li>
												<span>
													Выберите <br> нужный фонарь <br> и оформите заказ
												</span>
											</li>
										</ol>

									</div>

									<p class="home-slider__content-lantern">
										<a class="home-slider__content-lantern-link" href="/catalog/fonari/?set_filter=y">
											Перейти <br> к подбору фонаря
										</a>
									</p>

								</div>

							</div>

						</div>

					</div>

				</li>

				<li class="swiper-slide">

					<div class="home-slider__item">

{% set nameFile = '84f8f5bbfc22b3ca1265f21cd877d1a9' %}
{% include "_include/home/slider__picture.html" %}

					</div>

				</li>

				<li class="swiper-slide">

					<div class="home-slider__item">

{% set nameFile = '501de88a44781b325853ef1f2c9f8241' %}
{% include "_include/home/slider__picture.html" %}

					</div>

				</li>

			</ul>

		</div>

	</aside>