{% set title = "У нас вы можете купить яркий фонарь. Цена - одна из самых низких в Москве. Большой ассортимент товаров, возможность купить фонарик, цена на который снижена, с доставкой по всей России." %}

{% set description = "Предлагаем купить фонарик с доставкой. Низкие цены фонарей и большой выбор аксессуаров ведущих мировых производителей. Можно зарезервировать товар и выкупить яркий фонарь в нашем московском магазине." %}

{% set urlPage = "catalog" %}

{% set article = "catalog" %}

{% set breadcrumbs = [
	{
		name : "Каталог",
		link: "catalog"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<section class="catalog-section">

			<h2 class="catalog-section__title h1">
				<a href="/">
					Фонари
				</a>
			</h2>

			<ul class="catalog-section__list">

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/80f/80fe6b97c41db372620326c71d44dc7f.jpg" width="95" height="42" alt="Подствольные" title="Подствольные">
						</span>
						<span class="catalog-section__name">
							Подствольные
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/470/4706f684598d9b62748fe06540dfefb1.jpg" width="80" height="67" alt="Ручные и карманные" title="Ручные и карманные">
						</span>
						<span class="catalog-section__name">
							Ручные и карманные
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/abe/abe03e3fa1a4aaa4623f0244cee2f06c.jpg" width="71" height="50" alt="Налобные" title="Налобные">
						</span>
						<span class="catalog-section__name">
							Налобные
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/646/646d17d18278633506dfcdd6a44974d6.jpg" width="122" height="72" alt="Велофары" title="Велофары">
						</span>
						<span class="catalog-section__name">
							Велофары
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/acb/acb83c048e076b1b350e07d7f37980a2.jpg" width="102" height="77" alt="Подводные" title="Подводные">
						</span>
						<span class="catalog-section__name">
							Подводные
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/81f/81f980b216850b85441638d17c601496.jpg" width="108" height="80" alt="Кемпинговые" title="Кемпинговые">
						</span>
						<span class="catalog-section__name">
							Кемпинговые
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/4d8/4d8ca20221d16b25f4040eae9867e602.jpg" width="103" height="71" alt="Ультрафиолет и ИК" title="Ультрафиолет и ИК">
						</span>
						<span class="catalog-section__name">
							Ультрафиолет и ИК
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/32e/32ec300471d4f02997eccbe884ea67ff.jpg" width="65" height="65" alt="Поисковые" title="Поисковые">
						</span>
						<span class="catalog-section__name">
							Поисковые
						</span>
					</a>
				</li>

			</ul>

			<div class="catalog-section__archive">

				<a href="/">
					Архив
				</a>

			</div>

		</section>

		<section class="catalog-section">

			<h2 class="catalog-section__title h1">
				<a href="/">
					Аккумуляторы, зарядные устройства
				</a>
			</h2>

			<ul class="catalog-section__list">

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/630/630e766970ead94435cc367c8279c0bb.jpg" width="102" height="57" alt="Аксессуары" title="Аксессуары">
						</span>
						<span class="catalog-section__name">
							Аксессуары
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/8ea/8eae5b1921920006a3c197bcdcbf7fe2.jpg" width="71" height="49" alt="Батарейки и аккумуляторы" title="Батарейки и аккумуляторы">
						</span>
						<span class="catalog-section__name">
							Батарейки и аккумуляторы
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/819/819f4a9f533a8a080a8356296063a5b4.jpg" width="80" height="61" alt="Зарядные устройства" title="Зарядные устройства">
						</span>
						<span class="catalog-section__name">
							Зарядные устройства
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/ea1/ea17bb5cc7bfa51eced5b35f2c47a9ee.jpg" width="79" height="69" alt="Комплекты АКБ + ЗУ" title="Комплекты АКБ + ЗУ">
						</span>
						<span class="catalog-section__name">
							Комплекты АКБ + ЗУ
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/603/603df05f99ec82a19a0f09014bff3e3f.jpg" width="102" height="47" alt="Накопители энергии" title="Накопители энергии">
						</span>
						<span class="catalog-section__name">
							Накопители энергии
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/603/603a0c777eb53e115027d17f90ceeefc.jpg" width="62" height="62" alt="Солнечные панели" title="Солнечные панели">
						</span>
						<span class="catalog-section__name">
							Солнечные панели
						</span>
					</a>
				</li>

			</ul>

		</section>

		<section class="catalog-section">

			<h2 class="catalog-section__title h1">
				<a href="/">
					Оружейные аксессуары
				</a>
			</h2>

			<ul class="catalog-section__list">

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/f7f/f7f07ab6537c479ccb70561932afddc0.jpg" width="106" height="37" alt="Бленды" title="Бленды">
						</span>
						<span class="catalog-section__name">
							Бленды
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/132/132c9819688d7ec4c910e18056f74d3f.jpg" width="78" height="56" alt="Выносные кнопки" title="Выносные кнопки">
						</span>
						<span class="catalog-section__name">
							Выносные кнопки
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/c11/c1163b8f8f7a4e3de92159bc530aa788.jpg" width="84" height="62" alt="Кронштейны" title="Кронштейны">
						</span>
						<span class="catalog-section__name">
							Кронштейны
						</span>
					</a>
				</li>

			</ul>

		</section>

		<section class="catalog-section">

			<h2 class="catalog-section__title h1">
				<a href="/">
					Снаряжение и мультитулы
				</a>
			</h2>

			<ul class="catalog-section__list">

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/bf9/bf9cebf182ea66eec783a76f713ef301.jpg" width="100" height="57" alt="Аксессуары" title="Аксессуары">
						</span>
						<span class="catalog-section__name">
							Аксессуары
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/0ba/0ba0f5e3670e1476ef957a3f8890496c.jpg" width="108" height="80" alt="Мультитулы" title="Мультитулы">
						</span>
						<span class="catalog-section__name">
							Мультитулы
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/799/799f46ea5ed6d06f1a6f0f6f6d9b1ca5.jpg" width="108" height="80" alt="Ножи" title="Ножи">
						</span>
						<span class="catalog-section__name">
							Ножи
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/c84/c84615f8da6a8b13ad78db0080c3cb47.jpg" width="81" height="70" alt="Органайзеры" title="Органайзеры">
						</span>
						<span class="catalog-section__name">
							Органайзеры
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/c55/c55c81c36bac38fc5b882c9cec996334.jpg" width="90" height="54" alt="Подсумки" title="Подсумки">
						</span>
						<span class="catalog-section__name">
							Подсумки
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/3e8/3e83e2255aff4c4ad33e272374ed0f35.jpg" width="78" height="88" alt="Рюкзаки" title="Рюкзаки">
						</span>
						<span class="catalog-section__name">
							Рюкзаки
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/ef4/ef4df244d70cc132cc63b9604aeb5235.jpg" width="97" height="79" alt="Сумки" title="Сумки">
						</span>
						<span class="catalog-section__name">
							Сумки
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/e02/e021203ea0a9d4b6bb8ae3bc40886c2e.jpg" width="114" height="44" alt="Чехлы" title="Чехлы">
						</span>
						<span class="catalog-section__name">
							Чехлы
						</span>
					</a>
				</li>

			</ul>

		</section>

		<section class="catalog-section">

			<h2 class="catalog-section__title h1">
				<a href="/">
					Услуги
				</a>
			</h2>

		</section>

		<section class="catalog-section">

			<h2 class="catalog-section__title h1">
				<a href="/">
					Аксессуары
				</a>
			</h2>

			<ul class="catalog-section__list">

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/dfa/dfa11eed63962b6fbd5504dc9f9d7a89.jpg" width="110" height="70" alt="Брелки, карабины и прочее" title="Брелки, карабины и прочее">
						</span>
						<span class="catalog-section__name">
							Брелки, карабины и прочее
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/16d/16d62b653797f274cd5707bf4ff97d1c.jpg" width="111" height="79" alt="Велокрепления" title="Велокрепления">
						</span>
						<span class="catalog-section__name">
							Велокрепления
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/ca3/ca3fdc8dfb002eaf28b352e9c980b014.jpg" width="87" height="61" alt="Запчасти" title="Запчасти">
						</span>
						<span class="catalog-section__name">
							Запчасти
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/99e/99e3ac0f811d671b0514c621e16942e7.jpg" width="89" height="73" alt="Налобные крепления" title="Налобные крепления">
						</span>
						<span class="catalog-section__name">
							Налобные крепления
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/597/5978ae60c026b8a607c0a3a00b2e6bb5.jpg" width="90" height="60" alt="Рассеиватели и светофильтры" title="Рассеиватели и светофильтры">
						</span>
						<span class="catalog-section__name">
							Рассеиватели и светофильтры
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/cca/ccacc3d75e02cd993ff4b2f8aa89b61f.jpg" width="73" height="40" alt="Тюнинг" title="Тюнинг">
						</span>
						<span class="catalog-section__name">
							Тюнинг
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/534/534533507663180b20b1a42cc5437788.jpg" width="97" height="80" alt="Уход и обслуживание" title="Уход и обслуживание">
						</span>
						<span class="catalog-section__name">
							Уход и обслуживание
						</span>
					</a>
				</li>

				<li class="catalog-section__item">
					<a href="/" class="catalog-section__link">
						<span class="catalog-section__img">
							<img src="https://superfonarik.ru/upload/iblock/da6/da6e0acb099e81dfdb8ff4474fc83afb.jpg" width="114" height="44" alt="Чехлы" title="Чехлы">
						</span>
						<span class="catalog-section__name">
							Чехлы
						</span>
					</a>
				</li>

			</ul>

		</section>

	</div>

{% endblock %}