{% set title = "Корзина" %}

{% set description = "" %}

{% set breadcrumbs = [
	{
		name : "Мой кабинет",
		link: "personal"
	},
	{
		name : "Корзина",
		link: "personal/cart"
	}
] %}

{% extends "template/base.html" %}

{% block content %}


	<form action="/personal/cart/" class="cart" novalidate="novalidate" autocomplete="off">

		<div class="cart__head">

			<div class="cart__head-title">

				<h1 class="h1">
					Корзина
				</h1>

			</div>

			<div class="cart__head-btn">

				<button class="btn btn--gray" type="button" disabled="disabled">
					Готовы к заказу
				</button>

				<button class="btn btn--yellow" type="button">
					Отложено (1)
				</button>

			</div>

		</div>

		<div class="hidden-md">

			<div class="cart-product-table">

				<table>

					<thead>
						<tr>
							<td colspan="2">
								Товары
							</td>
							<td>
								Скидка
							</td>
							<td>
								Цена
							</td>
							<td>
								Сумма
							</td>
							<td colspan="2">
								Количество
							</td>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>

								<a class="cart-product__img" href="/product" target="_blank">

									<picture>

										<source srcset="/img/cart/item@1x.png 1x, /img/cart/item@2x.png 2x">

										<img src="/img/cart/item@1x.png" alt="Комплект Охотник-5 (EagleTac T25L-R Kit, XHP35 HD) для гладкоствольного оружия">

									</picture>

								</a>

							</td>
							<td>

								<a href="/product/" class="cart-product__link" target="_blank">
									Комплект Охотник-5 (EagleTac T25L-R Kit, XHP35 HD) для гладкоствольного оружия
								</a>

							</td>
							<td class="cart-product-table__number">
								0%
							</td>
							<td class="cart-product-table__number">
								7 800 <span class="rub">₽</span>
							</td>
							<td class="cart-product-table__number">
								15 600 <span class="rub">₽</span>
							</td>
							<td>

								<div class="input-quantity">

									<button class="button input-quantity__minus" type="button">
										Уменьшить количество на один
									</button>

									<input type="tel" class="input input--border input-quantity__input" value="2">

									<button class="button input-quantity__plus" type="button">
										Увеличить количество на один
									</button>

								</div>

							</td>
							<td>

								<div class="cart-product__btns">

									<button class="btn btn--dotted" type="button">
										Удалить
									</button>

									<button class="btn btn--dotted" type="button">
										Отложить
									</button>

								</div>

							</td>
						</tr>
						<tr>
							<td>

								<a class="cart-product__img" href="/product" target="_blank">

									<picture>

										<source srcset="/img/cart/item@1x.png 1x, /img/cart/item@2x.png 2x">

										<img src="/img/cart/item@1x.png" alt="Фонарь-брелок ЯРКИЙ ЛУЧ X8 Scorpion">

									</picture>

								</a>

							</td>
							<td>

								<a href="/product/" class="cart-product__link" target="_blank">
									Фонарь-брелок ЯРКИЙ ЛУЧ X8 "Scorpion"
								</a>

							</td>
							<td class="cart-product-table__number">
								5%
							</td>
							<td class="cart-product-table__number">
								1 000 <span class="rub">₽</span>
							</td>
							<td class="cart-product-table__number">
								950 <span class="rub">₽</span>
							</td>
							<td>

								<div class="input-quantity">

									<button class="button input-quantity__minus" type="button">
										Уменьшить количество на один
									</button>

									<input type="tel" class="input input--border input-quantity__input" value="1">

									<button class="button input-quantity__plus" type="button">
										Увеличить количество на один
									</button>

								</div>

							</td>
							<td>

								<div class="cart-product__btns">

									<button class="btn btn--dotted" type="button">
										Удалить
									</button>

									<button class="btn btn--dotted" type="button">
										Отложить
									</button>

								</div>

							</td>
						</tr>
					</tbody>

				</table>

			</div>

		</div>

		<div class="cart__list visible-md">

			<div class="cart-product">

				<a class="cart-product__img" href="/product" target="_blank">

					<picture>

						<source srcset="/img/cart/item@1x.png 1x, /img/cart/item@2x.png 2x">

						<img src="/img/cart/item@1x.png" alt="Комплект Охотник-5 (EagleTac T25L-R Kit, XHP35 HD) для гладкоствольного оружия">

					</picture>

				</a>

				<div class="cart-product__body">

					<a href="/product/" class="cart-product__link" target="_blank">
						Комплект Охотник-5 (EagleTac T25L-R Kit, XHP35 HD) для гладкоствольного оружия
					</a>

					<div class="cart-product__details">

						<div class="input-quantity">

							<button class="button input-quantity__minus" type="button">
								Уменьшить количество на один
							</button>

							<input type="tel" class="input input--border input-quantity__input" value="2">

							<button class="button input-quantity__plus" type="button">
								Увеличить количество на один
							</button>

						</div>

						<div class="table-property">

							<div class="table-property__row">
								<div class="table-property__key">Цена</div>
								<div class="table-property__value">7 800 <span class="rub">₽</span></div>
							</div>

							<div class="table-property__row">
								<div class="table-property__key">Скидка</div>
								<div class="table-property__value">0%</div>
							</div>

							<div class="table-property__row">
								<div class="table-property__key">Сумма</div>
								<div class="table-property__value">15 600 <span class="rub">₽</span></div>
							</div>

						</div>

						<div class="cart-product__btns">

							<button class="btn btn--yellow" type="button">
								Отложить
							</button>

							<button class="btn btn--yellow" type="button">
								Удалить
							</button>

						</div>

					</div>

				</div>

			</div>

			<div class="cart-product">

				<a class="cart-product__img" href="/product" target="_blank">

					<picture>

						<source srcset="/img/cart/item@1x.png 1x, /img/cart/item@2x.png 2x">

						<img src="/img/cart/item@1x.png" alt="Фонарь-брелок ЯРКИЙ ЛУЧ X8 Scorpion">

					</picture>

				</a>

				<div class="cart-product__body">

					<a href="/product/" class="cart-product__link" target="_blank">
						Фонарь-брелок ЯРКИЙ ЛУЧ X8 "Scorpion"
					</a>

					<div class="cart-product__details">

						<div class="input-quantity">

							<button class="button input-quantity__minus" type="button">
								Уменьшить количество на один
							</button>

							<input type="tel" class="input input--border input-quantity__input" value="1">

							<button class="button input-quantity__plus" type="button">
								Увеличить количество на один
							</button>

						</div>

						<div class="table-property">

							<div class="table-property__row">
								<div class="table-property__key">Цена</div>
								<div class="table-property__value">1 000 <span class="rub">₽</span></div>
							</div>

							<div class="table-property__row">
								<div class="table-property__key">Скидка</div>
								<div class="table-property__value">5%</div>
							</div>

							<div class="table-property__row">
								<div class="table-property__key">Сумма</div>
								<div class="table-property__value">950 <span class="rub">₽</span></div>
							</div>

						</div>

						<div class="cart-product__btns">

							<button class="btn btn--yellow" type="button">
								Отложить
							</button>

							<button class="btn btn--yellow" type="button">
								Удалить
							</button>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="cart__foot">

			<div class="cart__kupon">

				<input class="input input--border" placeholder="Код купона">

				<button type="button" class="btn btn--yellow">
					Применить
				</button>

			</div>

			<div class="cart__total">

				<p>
					<span class="cart__total-head">Итого:</span>
					<b class="cart__total-value">12 340 <span class="rub">₽</span></b>
				</p>

			</div>

		</div>

		<div class="cart__btns">

			<button type="button" class="btn btn--order" data-modal="one-click-buy">
				Купить в 1 клик
			</button>

			<button class="btn btn--order">
				Оформить заказ
			</button>

		</div>

	</form>

{% endblock %}