{% set title = "Корзина" %}

{% set description = "" %}

{% set breadcrumbs = [
	{
		name : "Мой кабинет",
		link: "personal"
	},
	{
		name : "Корзина",
		link: "personal/cart"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<form action="/personal/cart/" class="cart tabs tabs--btn-no-move" novalidate="novalidate" autocomplete="off">

		<div class="cart__head">

			<div class="cart__head-title">

				<h1 class="h1">
					Корзина
				</h1>

			</div>

			<div class="cart__head-btn">

				<button class="btn btn--yellow tabs__btn tabs__btn--active" type="button">
					Готовы к заказу
				</button>

				<button class="btn btn--yellow tabs__btn" type="button">
					Отложено (1)
				</button>

			</div>

		</div>

		<div class="tabs__item tabs__item--active">

{% include "personal/cart/tab-cart.html" %}

		</div>

		<div class="tabs__item visuallyhidden">

{% include "personal/cart/tab-favorite.html" %}

		</div>

	</form>

{% endblock %}