{% set title = "Суперфонарик - лучший магазин, где можно купить фонарь в Москве недорого" %}

{% set description = "Магазин Суперфонарик в Москве - это самое лучшее место, где можно купить фонарь с ярким светом. У нас вы найдёте ответ на вопрос - где купить фонарик по низкой цене и с высоким качеством света." %}

{% set urlPage = "contacts" %}

{% set breadcrumbs = [
	{
		name : "Контакты",
		link: "contacts"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="contacts">

		<h1 class="contacts__title h1">
			Контакты
		</h1>

		<div class="contacts__row">

			<div class="contacts__left contacts__address">

				<h2 class="h3">
					Адрес:
				</h2>

				<p>
					115230, г. Москва, Варшавское ш., д.42. Бизнес-центр "На Варшавке". Офис 2314. Второй этаж.
				</p>

				<h3 class="h3">
					Время работы:
				</h3>

				<p>
					Понедельник - пятница <br>с 10:00 до 20:00 <br>Суббота - по предварительной договорённости (по телефону), после 13:00.
				</p>

				<h3 class="h3">
					Телефоны:
				</h3>

				<p>
					<a href="tel:88001002166">
						8-800-100-21-66 (<u>звонок бесплатный!</u>)
					</a>
					<br>
					<a href="tel:+74953693005">
						+7 (495) 369-30-05
					</a>
					<br>
					<a href="tel:+79261715254">
						+7 (926) 171-52-54
					</a>
					<br>
					<a href="https://wa.me/79778649379" target="_blank" rel="nofollow">
						+7 (977) 864-93-79 (<svg width="14" height="14" viewBox="0 0 14 14"><use xlink:href="#whatsapp-ico"/></svg> <u>WhatsApp</u>)
					</a>
				</p>

				<h3 class="h3">
					E-mail:
				</h3>

				<p>
					<a href="mailto:sf@superfonarik.ru">
						sf@superfonarik.ru
					</a>
				</p>

			</div>

			<iframe class="contacts__right" src="https://yandex.ru/map-widget/v1/?um=constructor%3ARgobCMBpT1ZtHhaz75QIOYD7zWB6kq4u&amp;source=constructor" frameborder="0"></iframe>

		</div>

		<h2 class="h3">
			Как добраться?
		</h2>

		<div class="contacts__row">

			<div class="contacts__left contacts__geo">

				<h3 class="h3 flag-title">
					Пешком
				</h3>

				<p>
					Метро Нагатинская, <b>1-ый вагон</b> из центра. При выходе из метро, из стеклянных дверей - направо, далее сразу по лестнице направо.
				</p>

				<p>
					Далее - по Варшавскому шоссе, в сторону области, мимо пожарной части, до дома <b>№ 42</b> (семиэтажное кирпичное здание).
				</p>

				<p>
					Войти в здание через центральный вход (вращающаяся стеклянная дверь). Сразу после входа - направо вниз по лестнице.
				</p>

				<p>
					Как спуститесь - позвоните нам. Мы сообщим охране о вашем визите и вас пропустят.
				</p>

				<h3 class="h3 flag-title">
					На транспорте
				</h3>

				<p>
					От станции метро "Нагатинская" до остановки «1-й Нагатинский пр. - Каширский двор - 2»:
				</p>

				<ul>
					<li>Троллейбус 8, 40</li>
					<li>Трамвай 3, 16, 49</li>
					<li>Автобус 142, 147, 751</li>
				</ul>

			</div>

			<div class="contacts__right contacts__foto">

				<a target="_blank" rel="nofollow" href="https://yandex.ru/maps/-/CCR1EX6h">

					<figure>

						<picture>

							<source srcset="/img/contacts/foto@1x.webp 1x, /img/contacts/foto@2x.webp 2x" type="image/webp">

							<source srcset="/img/contacts/foto@1x.jpg 1x, /img/contacts/foto@2x.jpg 2x">

							<img src="/img/contacts/foto@1x.jpg" alt="" loading="lazy" width="634" height="477">

						</picture>

						<figcaption>
							Панорама нашего офисного центра на Яндекс-картах
						</figcaption>

					</figure>

				</a>

			</div>

		</div>

		<div class="article">

			<p>
				<b>Желаемый способ самовывоза вы можете выбрать при оформлении заказа. В офис можно приехать без оформления заказа, но наличие товаров лучше предварительно уточнить по телефону.</b>
			</p>

			<p>
				Покупатели из регионов России могут заказать у нас товары с доставкой Почтой России или курьерскими компаниями (EMS, СДЭК).
			</p>

			<div class="flag-title">

				<h3>
					Информация для автовладельцев
				</h3>

			</div>

			<p>
				Если вы планируете приехать к нам на автомобиле, то просим вас заранее (за 10-15 минут до приезда) позвонить нам по телефонам +7 (495) 369-30-05 или +7 (926) 171-52-54. Мы закажем для вас пропуск на территорию бизнес-центра, где вы сможете <strong>бесплатно</strong> оставить свой автомобиль.
			</p>

			<p>
				Возле нашего бизнес-центра, на Варшавском шоссе и Проектируемом проезде №5013, места для стоянки отсутствуют. <strong>Работают эвакуаторы</strong>!

			</p>

			<div class="flag-title">

				<h3>
					Реквизиты
				</h3>

			</div>

			<p>
				ООО «Суперфонарик»<br> Юридический адрес: 115230, г. Москва, Варшавское шоссе, д.42, офис 2330<br> Почтовый адрес: 115230, г. Москва, Варшавское шоссе, д.42, офис 2314, получатель - ООО Суперфонарик<br> ИНН 7726706695<br> КПП 772601001<br> ОГРН 1127747045579
			</p>

			<hr>

			<p>
				Если вы ищете, где купить фонарь в Москве, то рекомендуем посетить наш магазин. У нас вы сможете воочию убедиться в качестве современных светодиодных фонарей, а также подобрать необходимые аксессуары для них.
			</p>

			<p>
				В нашем магазине можно не только посмотреть фонари, но и собственноручно включить их, а также проверить работу во всех режимах. Если вы сомневаетесь в том, стоит ли покупать какую-либо конкретную модель фонаря – просто посетите наш магазин, попробуйте фонарь в деле, и примите решение. После визита к нам перед вами больше не будет стоять вопрос: где купить фонарик.
			</p>

			<p>
				У нас в магазине можно купить батарейки и аккумуляторы, сетевые и автомобильные зарядные устройства и иные аксессуары для фонарей.<br> А если вы задумались о том, где можно купить солнечную панель (батарею) в Москве, то мы крайне рекомендуем приехать к нам. Вы сможете увидеть весь ассортимент солнечных панелей и аксессуаров к ним, а также убедиться в их работоспособности.
			</p>

			<p>
				Наш магазин расположен недалеко от центра Москвы, в пешей доступности от станции метро Нагатинская и платформы Нижние Котлы (Павелецкого направления Московской железной дороги).
			</p>

		</div>

	</article>

{% endblock %}