{% set title = "Адреса для доставки" %}

{% set description = "" %}

{% set breadcrumbs = [
	{
		name : "Мой кабинет",
		link: "personal"
	},
	{
		name : "Адреса для доставки",
		link: "personal/profiles"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="lk">

		<h1 class="lk__title h1">
			Адреса для доставки
		</h1>

		<ul class="lk__cards">

			<li class="lk__card">

				<h3 class="lk__head">
					Доставка домой
				</h3>

				<dl class="lk__dl">

					<dt>
						Ф.И.О.
					</dt>
					<dd>
						Артем Измайлов
					</dd>

					<dt>
						Адрес доставки
					</dt>
					<dd>
						г. Москва
					</dd>

					<dt>
						Телефон
					</dt>
					<dd>
						+7 (900) 120-15-70
					</dd>

				</dl>

				<div class="lk__btns">

					<a href="/personal/profiles/edit/" class="btn btn--dark">
						Изменить
					</a>

					<button type="button" class="btn btn--yellow" onclick="if(confirm('Вы уверены, что хотите удалить этот профиль?')) window.location='/personal/profiles/?del_id=31717&sessid=53096832ef1be458f77df2dca6bde9bc'">
						Удалить
					</button>

				</div>

			</li>

		</ul>

	</article>

{% endblock %}