{% set title = "Купить Фонари с доставкой по Москве, в любую точку России и в страны Таможенного союза" %}

{% set description = "Магазин SuperFonarik - лучшее место, чтобы купить Фонари по доступным ценам. У нас все Фонари высокого качества и с гарантией производителя. Есть доставка по всей России" %}

{% set urlPage = "catalog/fonari" %}

{% set article = "fonari" %}

{% set breadcrumbs = [
	{
		name : "Каталог",
		link: "catalog"
	},
	{
		name : "Фонари",
		link: "catalog/fonari"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<div class="catalog-head">

{% include "catalog/fonari/catalog-section.html" %}

		<div class="visible-md">

			<div class="catalog-head__filter">

{% include "catalog/fonari/catalog-sort-mobile.html" %}

				<button class="btn btn--filter js-open-filter" type="button">
					Фильтр
					<svg width="17" height="12" viewBox="0 0 17 12">
						<g class="stroke">
							<path d="M2.5.5h1v11h-1z"/>
							<path d="M7.5.5h1v11h-1z"/>
							<path d="M13.5.5h1v11h-1z"/>
						</g>
						<g class="fill">
							<path d="M0 2h6v2H0z"/>
							<path d="M5 8h6v2H5z"/>
							<path d="M11 2h6v2h-6z"/>
						</g>
					</svg>
				</button>

			</div>

		</div>

	</div>

	<div class="catalog">

		<div class="catalog__filter">

{% include "catalog/fonari/catalog-filter.html" %}

		</div>

		<div class="catalog__list">

			<div class="catalog__sort hidden-md">

{% include "catalog/fonari/catalog-sort.html" %}

			</div>

			<div class="catalog__desc">

				<p>
					SuperFonarik – это один из крупнейших магазинов в Российской Федерации, в котором можно купить яркий фонарь с высоким качеством изготовления и превосходными характеристиками. Мы предлагаем купить яркие и мощные фонари по отличной цене.
				</p>

				<p>
					Воспользуйтесь фильтром слева, чтобы подобрать фонарь по нужным параметрам
				</p>

			</div>

{% include "catalog/fonari/catalog-list.html" %}
{% include "catalog/fonari/catalog-list.html" %}
{% include "catalog/fonari/catalog-list.html" %}

			<div class="catalog__more">

				<button class="btn btn--more" type="button">
					Показать ещё
				</button>

			</div>

			<div class="catalog__pagination">

{% include "template/pagination.html" %}

			</div>

		</div>

	</div>

{% endblock %}