{% set title = "Купить Фонари с доставкой по Москве, в любую точку России и в страны Таможенного союза" %}

{% set description = "Магазин SuperFonarik - лучшее место, чтобы купить Фонари по доступным ценам. У нас все Фонари высокого качества и с гарантией производителя. Есть доставка по всей России" %}

{% set urlPage = "catalog/fonari" %}

{% set article = "fonari" %}

{% set breadcrumbs = [
	{
		name : "Каталог",
		link: "catalog"
	},
	{
		name : "Фонари",
		link: "catalog/fonari"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<div class="catalog-img">


	</div>

{% endblock %}