	<aside class="home-slider swiper-container-style">

		<div class="swiper-container swiper-container--home-slider">

			<ul class="home-slider__list swiper-wrapper">

				<li class="swiper-slide">

					<div class="home-slider__item">

{% set nameFile = '9ebd32f6c5019c3d1107434e571c3c35' %}
{% include "home/slider__picture.html" %}

						<div class="center home-slider__content">

							<div class="home-slider-product-select-param">

								<h3 class="home-slider-product-select-param__title h1">
									<span class="color-yellow">Выберите фонарь</span> по параметрам
								</h3>

								<div class="home-slider-product-select-param__flex">

									<div class="home-slider-product-select-param__steps">

										<ol>
											<li>
												<span>
													Укажите нужные <br> параметры
												</span>
											</li>
											<li>
												<span>
													Получите <br> список товаров
												</span>
											</li>
											<li>
												<span>
													Выберите <br> нужный фонарь <br> и оформите заказ
												</span>
											</li>
										</ol>

									</div>

									<p class="home-slider-product-select-param__lantern">

										<a class="home-slider-product-select-param__lantern-link" href="/catalog/fonari/?set_filter=y">
											<svg class="home-slider-product-select-param__lantern-link-bg" width="216" height="70" viewBox="0 0 216 70">
												<path stroke-width="3" stroke-linecap="butt" stroke-linejoin="miter" d="M1.5,1.5 L205,1.5 L215.5,35 L205,68.5 L1.5,68.5 Z"/>
											</svg>
											<span>Перейти <br> к подбору фонаря</span>
											<svg class="home-slider-product-select-param__lantern-link-ico" width="41" height="41" viewBox="0 0 41 41">
												<path d="M33.56 6.06a1.41 1.41 0 01-.37.73c-.74.92-1.49 1.84-2.2 2.78-.45.59-.84 1.21-1.26 1.82A73.08 73.08 0 0025.67 18q-2 3.6-3.65 7.36a2.44 2.44 0 01-.18.35 1.28 1.28 0 01-2.15 0l-1.55-2.25-3.48-5.06a.92.92 0 01.48-1.4.87.87 0 011 .3l1.15 1.37 3.15 3.74.08.09.08-.15c1.38-2.7 2.89-5.32 4.52-7.87 1.24-1.94 2.57-3.82 4-5.64.58-.76 1.23-1.47 1.85-2.2Q31.42 6 32 5.41a.9.9 0 011.5.22l.07.16zM9.25 27.81a1.08 1.08 0 01-.65 1 1 1 0 01-1.22-.18c-.52-.47-1-1-1.54-1.43L.42 22.14a1.15 1.15 0 01-.15-1.62 1.1 1.1 0 011.59-.11c.33.29.65.6 1 .9l6 5.56a1.27 1.27 0 01.39.94zM4.93 18.33a1.06 1.06 0 01-1-.65 1.07 1.07 0 01.18-1.24c.46-.53.94-1 1.41-1.56l5-5.49a1.12 1.12 0 011.6-.15 1.14 1.14 0 01.11 1.61c-.29.33-.59.65-.89 1l-5.49 6a1.24 1.24 0 01-.92.48z"/>
												<path d="M40.34 18.15L21.31.54a2 2 0 00-2.88.13l-8.87 9.82L11.19 12l7.38-8.18a2 2 0 012.88-.13l15.78 14.6a2.09 2.09 0 01.13 2.91l-14.42 16a2 2 0 01-2.88.13L8.86 26.95a2 2 0 01-.21.27l-1.25 1.4 12.8 11.84a2 2 0 002.88-.13l17.39-19.27a2.09 2.09 0 00-.13-2.91z"/>
											</svg>
										</a>

									</p>

								</div>

							</div>

						</div>

					</div>

				</li>

				<li class="swiper-slide">

					<div class="home-slider__item">

{% set nameFile = '84f8f5bbfc22b3ca1265f21cd877d1a9' %}
{% include "home/slider__picture.html" %}

					</div>

				</li>

				<li class="swiper-slide">

					<div class="home-slider__item">

{% set nameFile = '501de88a44781b325853ef1f2c9f8241' %}
{% include "home/slider__picture.html" %}

					</div>

				</li>

			</ul>

		</div>

	</aside>