<!DOCTYPE html>
<html lang="ru" prefix="og: https://ogp.me/ns#">
<head>

	<meta charset="utf-8">

	<title>{{ title }}</title>

	<link href="/css/styles.css" rel="preload" as="style">
	<link href="/fonts/Hermes.otf" rel="preload" as="font">
	<link href="/js/scripts.js" rel="preload" as="script">

	<link href="/favicon.png" rel="apple-touch-icon-precomposed">

	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ description }}">
	<meta name="theme-color" content="#ffffff">

	<meta property="og:locale" content="ru_RU">
	<meta property="og:site_name" content="{{ site }}">
	<meta property="og:url" content="{{ url }}/{% if urlPage %}{{ urlPage }}/{% endif %}">
	<meta property="og:type" content="{{ ogType | default('website') }}">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ description }}">

{% if ogType == 'product' or ogType == 'article' %}

	<meta property="og:image" content="{{ url }}/{{ ogImage | default('og.jpg') }}">

{% else %}

	<meta property="og:image" content="{{ url }}/{{ ogImage | default('og.jpg') }}">
	<meta property="og:image:secure_url" content="{{ url }}/{{ ogImage | default('og.jpg') }}">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta property="og:image" content="{{ url }}/{{ ogImage236 | default('og-236.png') }}">
	<meta property="og:image:width" content="236">
	<meta property="og:image:height" content="236">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="{{ description }}">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:image" content="{{ url }}/{{ ogImage | default('og.jpg') }}">

{% endif %}

	<link href="/css/styles.css" rel="stylesheet">

</head>

<body>

{% include "template/schema.html" %}

<div class="wrapper">

{% include "template/header.html" %}

	<main class="main center">

{% if breadcrumbs %}

	{% include "template/breadcrumbs.html" %}

{% endif %}

{% if article %}

		<article class="article article--index">

{% include "_include/article/" + article + ".html" %}

		</article>

{% endif %}

{% block content %}{% endblock %}

	</main>

{% include "template/footer.html" %}

</div>

{% include "template/modal.html" %}

<script defer src="/js/scripts.js"></script>

</body>
</html>