	<ul class="breadcrumbs">

		<li class="breadcrumbs__item">

			<a href="/">
				Главная
			</a>

		</li>

		{% for item in breadcrumbs %}

		<li class="breadcrumbs__item">

{% if loop.last %}

			{{ item.name }}

{% else %}

			<a href="/{{ item.link }}/">
				{{ item.name }}
			</a>

{% endif %}

		</li>

		{% endfor %}

	</ul>

	<script type="application/ld+json">

		{

			"@context": "https://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement":
			[

				{
					"@type": "ListItem",
					"position": "1",
					"item":
					{
						"@id": "{{ url }}",
						"name": "{{ site }}"
					}
				}

{% for item in breadcrumbs %}

				,
				{
					"@type": "ListItem",
					"position": "{{ loop.index + 1 }}",
					"item":
					{
						"@id": "{{ url }}/{{ item.link }}",
						"name": "{{ item.name }}"
					}
				}

{% endfor %}

			]

		}

	</script>