			<div class="footer__paymend">

				<ul>
					<li>
						<img src="/img/footer/0d0f3761874735364ae54f619e43ce04.png" width="87" height="25" alt="Сбербанк" loading="lazy">
					</li>
					<li>
						<img src="/img/footer/a0f67e32bf54cae3d92a956da2f5f586.png" width="18" height="27" alt="Альфабанк" loading="lazy">
					</li>
					<li>
						<img src="/img/footer/a1a6dc6b976f318c6df6d8973e372e34.png" width="33" height="32" alt="Промсвязьбанк" loading="lazy">
					</li>
					<li>
						<img src="/img/footer/pay-logo4.png" width="97" height="29" alt="QIWI" loading="lazy">
					</li>
					<li>
						<img src="/img/footer/pay-logo6.png" width="82" height="36" alt="WebMoney" loading="lazy">
					</li>
					<li>
						<img src="/img/footer/pay-logo7.png" width="60" height="18" alt="VISA" loading="lazy">
					</li>
					<li>
						<img src="/img/footer/pay-logo8.png" width="50" height="30" alt="MasterCard" loading="lazy">
					</li>
				</ul>

				<p class="footer__paymend-system">

					прием платежей огранизован <br> платежным агрегатором:
					<img src="/img/footer/4e437cc76fbab2cce9d1a9773f110e7c.png" width="82" height="52" alt="Pay any way" loading="lazy">

				</p>

			</div>