			<div class="footer__paymend">

				<ul>

					<li>
						<picture>

							<source srcset="/img/footer/sberbank.svg" media="(max-width: 767px)">

							<source srcset="/img/footer/0d0f3761874735364ae54f619e43ce04.webp" type="image/webp">
							<source srcset="/img/footer/0d0f3761874735364ae54f619e43ce04.png">

							<img src="/img/footer/0d0f3761874735364ae54f619e43ce04.png" width="87" height="25" alt="Сбербанк" loading="lazy">

						</picture>
					</li>

					<li>
						<picture>

							<source srcset="/img/footer/alpha.svg" media="(max-width: 767px)">

							<source srcset="/img/footer/a0f67e32bf54cae3d92a956da2f5f586.webp" type="image/webp">
							<source srcset="/img/footer/a0f67e32bf54cae3d92a956da2f5f586.png">

							<img src="/img/footer/a0f67e32bf54cae3d92a956da2f5f586.png" width="18" height="27" alt="Альфабанк" loading="lazy">

						</picture>
					</li>

					<li>
						<picture>

							<source srcset="/img/footer/psbank.svg" media="(max-width: 767px)">

							<source srcset="/img/footer/a1a6dc6b976f318c6df6d8973e372e34.webp" type="image/webp">
							<source srcset="/img/footer/a1a6dc6b976f318c6df6d8973e372e34.png">

							<img src="/img/footer/a1a6dc6b976f318c6df6d8973e372e34.png" width="33" height="32" alt="Промсвязьбанк" loading="lazy">

						</picture>
					</li>

					<li>
						<picture>

							<source srcset="/img/footer/qiwi.svg" media="(max-width: 767px)">

							<source srcset="/img/footer/pay-logo4.webp" type="image/webp">
							<source srcset="/img/footer/pay-logo4.png">

							<img src="/img/footer/pay-logo4.png" width="97" height="29" alt="QIWI" loading="lazy">

						</picture>
					</li>

					<li>
						<picture>

							<source srcset="/img/footer/webmoney.svg" media="(max-width: 767px)">

							<source srcset="/img/footer/pay-logo6.webp" type="image/webp">
							<source srcset="/img/footer/pay-logo6.png">

							<img src="/img/footer/pay-logo6.png" width="82" height="36" alt="WebMoney" loading="lazy">

						</picture>
					</li>

					<li>
						<picture>

							<source srcset="/img/footer/visa.svg" media="(max-width: 767px)">

							<source srcset="/img/footer/pay-logo7.webp" type="image/webp">
							<source srcset="/img/footer/pay-logo7.png">

							<img src="/img/footer/pay-logo7.png" width="60" height="18" alt="VISA" loading="lazy">

						</picture>
					</li>

					<li>
						<picture>

							<source srcset="/img/footer/mastercard.svg" media="(max-width: 767px)">

							<source srcset="/img/footer/pay-logo8.webp" type="image/webp">
							<source srcset="/img/footer/pay-logo8.png">

							<img src="/img/footer/pay-logo8.png" width="50" height="30" alt="MasterCard" loading="lazy">

						</picture>
					</li>

				</ul>

				<p class="footer__paymend-system">

					<span>
						прием платежей огранизован <br> платежным агрегатором:
					</span>

					<picture>

						<source srcset="/img/footer/payanyway@1x.webp 1x, /img/footer/payanyway@2x.webp 2x" type="image/webp" media="(max-width: 767px)">
						<source srcset="/img/footer/payanyway@1x.webp 1x, /img/footer/payanyway@2x.png 2x" media="(max-width: 767px)">

						<source srcset="/img/footer/4e437cc76fbab2cce9d1a9773f110e7c.webp" type="image/webp">
						<source srcset="/img/footer/4e437cc76fbab2cce9d1a9773f110e7c.png">

						<img src="/img/footer/4e437cc76fbab2cce9d1a9773f110e7c.png" width="82" height="52" alt="Pay any way" loading="lazy">

					</picture>

				</p>

			</div>