				<div class="footer__menu">

					<ul>
						<li>
							<a href="/about/">О компании</a>
						</li>
						<li>
							<a href="/lab/">Наша лаборатория</a>
						</li>
						<li>
							<a href="/discounts/">Скидки</a>
						</li>
						<li>
							<a href="/where-to-buy/">Где купить?</a>
						</li>
						<li>
							<a href="/delivery-and-payment/">Доставка и оплата</a>
						</li>
						<li>
							<a href="/contacts/">Контакты</a>
						</li>
					</ul>

					<ul>
						<li>
							<a href="/catalog/fonari/">Фонари</a>
						</li>
						<li>
							<a href="/catalog/akkumulyatory_zaryadnye_ustroystva/">Питание</a>
						</li>
						<li>
							<a href="/catalog/oruzheynye_aksessuary/">Оружейные аксессуары</a>
						</li>
						<li>
							<a href="/catalog/snaryazhenie_i_multituly/">Снаряжение, мультитуллы</a>
						</li>
						<li>
							<a href="/catalog/uslugi/">Услуги</a>
						</li>
						<li>
							<a href="/catalog/aksessuary_1/">Аксессуары</a>
						</li>
					</ul>

					<ul>
						<li>
							<a href="/dealers/">Дилерам</a>
						</li>
						<li>
							<a href="/about/#tabs-3">Гарантии</a>
						</li>
						<li>
							<a href="/about/#tabs-4">Сертификаты</a>
						</li>
						<li>
							<a href="/news/">Новости</a>
						</li>
					</ul>

					<a class="footer__menu-reviews" rel="nofollow" href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*https://market.yandex.ru/shop/31645/reviews" target="_blank">
						<img src="/img/yandex.market.svg" alt="Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете" width="150" height="100" loading="lazy">
					</a>

				</div>