			<div class="footer__paymend">

				<ul>
					<li>
						<img src="/img/footer/0d0f3761874735364ae54f619e43ce04.png" width="87" height="25" alt="Сбербанк">
					</li>
					<li>
						<img src="/img/footer/a0f67e32bf54cae3d92a956da2f5f586.png" width="18" height="27" alt="Альфабанк">
					</li>
					<li>
						<img src="/img/footer/a1a6dc6b976f318c6df6d8973e372e34.png" width="33" height="32" alt="Промсвязьбанк">
					</li>
					<li>
						<img src="/img/footer/pay-logo4.png" width="97" height="29" alt="QIWI">
					</li>
					<li>
						<img src="/img/footer/pay-logo6.png" width="82" height="36" alt="WebMoney">
					</li>
					<li>
						<img src="/img/footer/pay-logo7.png" width="60" height="18" alt="VISA">
					</li>
					<li>
						<img src="/img/footer/pay-logo8.png" width="50" height="30" alt="MasterCard">
					</li>
					<li>
						<span>прием платежей огранизован <br> платежным агрегатором:</span>
						<img src="/img/footer/4e437cc76fbab2cce9d1a9773f110e7c.png" width="82" height="52" alt="Pay any way">
					</li>
				</ul>

			</div>