	<header class="header">

		<div class="center">

{% include "template/menu-top.html" %}

			<div class="header__box">

				<div class="header__top">

{% include "template/header__contacts.html" %}

					<div class="header__logo">

						<a href="/">
							<img src="/img/logo.svg" alt="Магазин СуперФонарик" width="301" height="146">
						</a>

					</div>

{% include "template/header__user.html" %}

				</div>

{% include "template/menu-catalog.html" %}

			</div>

			<div class="visible-sm">

				<button class="button btn-menu-toggle" type="button">
					<span>открыть меню</span>
				</button>

				<button class="button btn-menu-toggle btn-menu-toggle--close" type="button">
					<span>закрыть меню</span>
				</button>

			</div>

		</div>

{% if sliderHome %}

{% include "home/slider.html" %}

{% endif %}

	</header>