	<header class="header">

		<div class="center">

{% include "template/menu-top.html" %}

			<div class="header__box">

				<div class="header__top">

{% include "template/header__contacts.html" %}

					<button class="button btn-menu-toggle visible-sm" type="button">
						<span>открыть меню</span>
					</button>

					<div class="header__logo">

						<a href="/">
							<img src="/img/logo.svg" alt="Магазин СуперФонарик" width="301" height="146">
						</a>

					</div>

{% include "template/header__user.html" %}

				</div>

			</div>

		</div>

		<div class="header__catalog center{% if menuCatalogMod %} header__catalog--{{ menuCatalogMod }}{% endif %}">

{% include "template/menu-catalog.html" %}

		</div>

{% include "template/menu-mobile.html" %}

{% if sliderHome %}

{% include "home/slider.html" %}

{% endif %}

	</header>