<div class="infomess" data-time="2011-01-26T13:51:50">

	<div class="center">

		<p>
			В связи с COVID-2019 наш шоу-рум на Нагатинской закрыт для посетителей.<br> Заказы, оформленные через сайт, принимаются и доставляются в обычном режиме.<br> Подробная информация - <a href="/news/ogranicheniya-v-rabote-magazina-iz-za-covid-2019/" target="_blank">здесь</a>.
		</p>

		<button type="button" class="infomess__close button" aria-label="Закрыть информационное окно">
			<svg width="12" height="12" viewBox="0 0 12 12">
				<path d="M2.0402.0603l9.8995 9.8995-1.98 1.9799L.0604 2.0402 2.0402.0603z"/>
				<path d="M11.9397 2.0402l-9.8995 9.8995L.0603 9.9598 9.9598.0603l1.9799 1.98z"/>
			</svg>
		</button>

	</div>

</div>