			<nav class="menu-top">

				<ul class="menu-top__list">

					<li class="menu-top__item">
						<a href="/about/">О компании</a>
					</li>
					<li class="menu-top__item">
						<a href="/discounts/">Скидки</a>
					</li>
					<li class="menu-top__item">
						<a href="/lab/">Наша лаборатория</a>
					</li>

				</ul>

				<ul class="menu-top__list">

					<li class="menu-top__item">
						<a href="/where-to-buy/">Где купить?</a>
					</li>
					<li class="menu-top__item">
						<a href="/delivery-and-payment/">Доставка и оплата</a>
					</li>
					<li class="menu-top__item">
						<a href="/contacts/">Контакты</a>
					</li>

				</ul>

			</nav>