				<nav class="menu-catalog">

					<ul class="menu-catalog__list">

						<li class="menu-catalog__item menu-catalog__item--1">
							<a href="/catalog/fonari/">Фонари</a>
						</li>
						<li class="menu-catalog__item menu-catalog__item--2">
							<a href="/catalog/akkumulyatory_zaryadnye_ustroystva/">Питание</a>
						</li>
						<li class="menu-catalog__item menu-catalog__item--3">
							<a href="/catalog/oruzheynye_aksessuary/">Оружейные аксессуары</a>
						</li>
						<li class="menu-catalog__item menu-catalog__item--4">
							<a href="/catalog/snaryazhenie_i_multituly/">Снаряжение, мультитулы</a>
						</li>
						<li class="menu-catalog__item menu-catalog__item--5">
							<a href="/catalog/uslugi/">Услуги</a>
						</li>
						<li class="menu-catalog__item menu-catalog__item--6">
							<a href="/catalog/aksessuary_1/">Аксессуары</a>
						</li>

					</ul>

				</nav>