			<nav class="menu-mobile">

				<ul class="menu-mobile__list">

					<li><a href="/">Главная</a></li>
					<li><a href="/catalog/">Каталог</a></li>
					<li><a href="/news/">Новости</a></li>
					<li><a href="/about/">О компании</a></li>
					<li><a href="/discounts/">Скидки</a></li>
					<li><a href="/lab/">Наша лаборатория</a></li>
					<li><a href="/where-to-buy/">Где купить</a></li>
					<li><a href="/about/#tabs-4">Сертификаты</a></li>
					<li><a href="/about/#tabs-3">Гарантии</a></li>
					<li><a href="/delivery-and-payment/">Доставка и оплата</a></li>
					<li><a href="/contacts/">Контакты</a></li>

				</ul>

				<button class="btn btn--yellow" type="button" data-modal="login">
					Войти в Личный кабинет
				</button>

			</nav>