	<div class="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--lk">

				<form class="modal-form" action="/" autocomplete="off" novalidate="novalidate">

					<h3 class="modal-form__title h3">
						Вход в личный кабинет
					</h3>

					<label class="modal-form__input input-box">

						<input class="input-box__input input" name="email" type="email">

						<span class="input-box__label">
							Email
						</span>

					</label>

					<label class="modal-form__input input-box">

						<input class="input-box__input input" name="password" type="password">

						<span class="input-box__label">
							Пароль
						</span>

					</label>

					<div class="modal-form__links">

						<button class="modal-form__links-red button" type="button" data-modal="reset">
							Забыли пароль?
						</button>

						<button class="modal-form__links-dark button" type="button" data-modal="reg">
							Регистрация
						</button>

					</div>

					<button class="modal-form__submit btn btn--big btn--red">
						<span>Войти</span>
					</button>

				</form>

			</div>

			<div class="modal__item modal__item--reset">

				<form class="modal-form" action="/" autocomplete="off" novalidate="novalidate">

					<h3 class="modal-form__title h3">
						Восстановление пароля
					</h3>

					<label class="modal-form__input input-box input-box--error">

						<input class="input-box__input input input--error" name="email" type="email">

						<span class="input-box__label">
							Email
						</span>

						<span class="input-box__text">
							Не верно введён e-mail
						</span>

					</label>

					<button class="modal-form__submit btn btn--big btn--red">
						<span>Отправить</span>
					</button>

				</form>

			</div>

			<button type="button" class="modal__close modal__close-btn button">
				Закрыть
			</button>

		</div>

	</div>