	<ul class="pagination">

		<li class="pagination__item pagination__item--prev">
			<span>Назад</span>
		</li>

		<li class="pagination__item pagination__item--active">
			<span>1</span>
		</li>

		<li class="pagination__item">
			<a href="/catalog/fonari/?PAGEN_1=2">2</a>
		</li>

		<li class="pagination__item">
			<a href="/catalog/fonari/?PAGEN_1=3">3</a>
		</li>

		<li class="pagination__item">
			<a href="/catalog/fonari/?PAGEN_1=4">4</a>
		</li>

		<li class="pagination__item">
			<a href="/catalog/fonari/?PAGEN_1=26">26</a>
		</li>

		<li class="pagination__item pagination__item--next">
			<a href="/catalog/fonari/?PAGEN_1=2">Вперед</a>
		</li>


	</ul>