	<script type="application/ld+json">

		[
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "{{ site }}",
				"url": "{{ url }}",
				"logo": "{{ url }}/og-236.png",
				"telephone": [
					"+7 800 100-2166",
					"+7 495 369-3005"
				],
				"email": "sf@superfonarik.ru",
				"address": {
					"@type": "PostalAddress",
					"postalCode": "115230",
					"addressLocality": "г. Москва",
					"streetAddress": "Варшавское ш., д.42. Бизнес-центр \"На Варшавке\". Офис 2314."
				}
			},
			{
				"@context": "https://schema.org",
				"@type": "WPHeader",
				"name": "{{ title }}",
				"description": "{{ description }}"
			}

		]

	</script>