{% set title = "Наша лаборатория" %}

{% set description = "Наша лаборатория оснащена по последнему слову техники. Фактически, мы - единственный дистрибьютор фонарей в России, у которого есть своя электронная лаборатория" %}

{% set urlPage = "lab" %}

{% set ogType = "article" %}
{% set ogImage = "/img/lab/img-laboratory.jpg" %}

{% set breadcrumbs = [
	{
		name : "Наша лаборатория",
		link: "lab"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="article mb30">

		<h1>
			{{ title }}
		</h1>

		<img alt="лаборатория SuperFonarik " src="/img/lab/img-laboratory.jpg" class="img-left">

		<p>
			 SuperFonarik - это не просто магазин фонарей, а торгово-производственная компания со своей собственной лабораторией, испытательной базой и производством.
		</p>

		<h2>
			Наши возможности
		</h2>

		<p>
			Наша лаборатория оснащена по последнему слову техники. Фактически, мы - единственный дистрибьютор фонарей в России, у которого есть своя электронная лаборатория, а также штат высококлассных инженеров, программистов, конструкторов. Это позволяет нам проверять все заявленные производителями характеристики фонарей, аккумуляторов и зарядных устройств на собственном оборудовании. Если мы обнаруживаем, что производитель лукавит или прислал массовый брак - такая продукция не попадет к покупателям. Как разработчики, мы имеем необходимый багаж знаний и опыта, и сразу видим, какой фонарь спроектирован и изготовлен качественно, а какой - только с виду. И предлагаем нашим покупателям только самое лучшее и проверенное.
		</p>

		<h2>
			Профессиональное оборудование
		</h2>

		<p>
			 Среди всего нашего оборудования особо стоит отметить большую интегрирующую сферу (диаметром 1 метр), позволяющую тестировать любой фонарь или иной источник света. Сфера откалибрована и оснащена высокоточным спектрорадиометром. Это профессиональное оборудование, аналоги которого имеются только у крупных производителей светотехники!
		</p>

		<p>
			<a class="h3" href="http://old.superfonarik.ru/lab/" target="_blank">
				Посмотреть каталог измеренных фонарей можно здесь
			</a>
		</p>

	</article>

	<section class="news">

		<h2 class="h1">
			Наши статьи
		</h2>

{% set list = [
	{
		title: "Приглашаем на выставку Arms & Hunting 2019",
		tags: ["выставка","комплекты","фотообзор","обзор"],
		text: "С 10 по 13 октября ждём вас на стенде E90 в выставочном комплексе «Гостиный двор».",
		img: "1"
	},
	{
		title: "Готовые комплекты с фонарями EagleTac",
		tags: ["бимшоты","фонаревка","свет фонаря","снимки света"],
		text: "Представляем вам готовые комплекты с фонарями EagleTac: поисковыми, ручными и подствольными (тактическими). Комплекты готовы к использованию, не требуют обязательного приобретения дополнительных аксессуаров. Они выгоднее по цене, чем покупка всех их составляющих отдельно.",
		img: "2"
	},
	{
		title: "Выберите свою новинку EagleTac",
		tags: ["фотообзор","обзор","выставка"],
		text: "Новые модели фонарей EagleTac ждут вас в нашем магазине. Взгляните на новый тактический фонарь EagleTac G3L (пришедший на смену легендарному G25C2 Mk II), на новые версии D25C Clicky Mark II (которые светят более чем в 1,5 раза ярче предыдущей версии), на новый титановый D3C. Также вам стоит обратить внимание на компактные карманные фонари DX3B Clicky на дальнобойном светодиоде XHP35 HI, на новый DX3L (тот же DX3B, только на АКБ 18650) и на версию TX3L со светодиодом XHP35 HI.",
		img: "3"
	}
] %}

		<div class="news__list">

{% for item in list %}
{% set maxText = 365 %}

{% include "news/item.html" %}

{% endfor %}

		</div>

		<div class="link-all">

			<a href="/articles/">
				Посмотреть все статьи
				<svg width="24" height="18" viewBox="0 0 24 18">
					<path d="M23.85 7.59C23.63 7.28 18.53 0 12 0S.37 7.28.15 7.59a.88.88 0 000 1c.21.31 5.32 7.59 11.85 7.59s11.63-7.29 11.85-7.6a.88.88 0 000-.99zM12 14.5c-4.81 0-9-4.83-10.2-6.41C3 6.5 7.18 1.67 12 1.67s9 4.83 10.2 6.41C21 9.67 16.82 14.5 12 14.5z"/>
					<path d="M12 3.27A4.75 4.75 0 1016.75 8 4.75 4.75 0 0012 3.27zm0 7.91A3.17 3.17 0 1115.17 8 3.17 3.17 0 0112 11.18z"/>
				</svg>
			</a>

		</div>

	</section>

{% endblock %}