{% set list = [
	{
		autor: "Александр Ермаков",
		date: "2019-10-16",
		text1: "Доставка быстрая, менеджеры грамотные и консультируют качественно, гарантийные обязательства реально исполняются.",
		text2: "Отсутствуют",
		text3: "Соотношение цена/качество товара + качество сервиса отличное. <br>Очень приятно общаться с менеджерами. <br>Уже несколько лет покупаю фонари, батарейки и аксессуары для фонарей. Сбоев ни разу не было.",
		stars: 5
	},
	{
		autor: "Андрей Ш.",
		date: "2019-08-13",
		text1: "Уже не в первый раз заказываю в этом магазине как фонари, так и продукцию  фирмы\" Kiwidition\"! Всё качественное,  обслуживание на уровне! Очень  нравится  как сам магазин, так и качественное  обслуживание!👍",
		stars: 5
	},
	{
		autor: "Покупатель",
		date: "2019-02-19",
		text1: "Все оперативно, вежливо, ничего не перепутали",
		text2: "пока нет",
		text3: "Купил рюкзак Kiwidition Kahu City 20 -рюкзак качественный, то что нужно, я доволен",
		stars: 4
	},
	{
		autor: "Андрей Х.",
		date: "2018-12-24",
		text1: "Прекрасный магазин! Хорошие цены, качество, оперативность. Все на очень приличном уровне! На любые вопросы по товарам и работе даются исчерпывающие ответы.",
		text2: "Не выявлены. Разве, что дизайн магазина (платформу) стоило бы современней сделать :-) Но это уже технический вопрос, который, уверен, в скором времени будет решен.",
		stars: 5
	}
] %}

{% set months = [
	"Января",
	"Февраля",
	"Марта",
	"Апреля",
	"Мая",
	"Июня",
	"Июля",
	"Августа",
	"Сентября",
	"Октября",
	"Ноября",
	"Декабря"
] %}

	<section class="comments">

		<header>

			<h2 class="comments__title h3">
				Отзывы наших покупателей на Яндекс.Маркете
			</h2>

{% include "about/rating.html" %}

		</header>

{% for item in list %}

		<article class="comments__item">

			<header class="comments__item-head">

				<div class="comments__item-left">

					<b class="comments__item-autor">
						{{ item.autor }}
					</b>

				</div>

				<div class="comments__item-right" data-stars="{{ item.stars }}">

					<time class="comments__item-date" datetime="{{ item.date }}">

{% set year = '' %}
{% set month = '' %}
{% set day = '' %}

{% for litteral in item.date | replace("-", "") %}

	{% if year.length == 4 and month.length == 2 %}

		{% set day = day + litteral %}

	{% elseif year.length == 4 %}

		{% set month = month + litteral %}

	{% else %}

		{% set year = year + litteral %}

	{% endif %}

{% endfor %}

{% set month = month | int %}

						{{ day }} {{ months[month-1] }} {{ year }}

					</time>

				</div>

			</header>

			<div class="comments__item-body">

				<div class="comments__item-right">

					{% if item.text1 %}

						<p>
							<b>Достоинства:</b>
							{{ item.text1 | safe }}
						</p>

					{% endif %}

					{% if item.text2 %}

						<p>
							<b>Недостатки:</b>
							{{ item.text2 | safe }}
						</p>

					{% endif %}

					{% if item.text3 %}

						<p>
							<b>Комментарий:</b>
							{{ item.text3 | safe }}
						</p>

					{% endif %}

				</div>

			</div>

		</article>

{% endfor %}

		<footer>

			<div class="comments__pagination">

{% include "template/pagination.html" %}

			</div>

{% include "about/rating2.html" %}

		</footer>

	</section>