	<div class="order__item is-open">

{% set head = "Доставка" %}
{% include "personal/order/make/head.html" %}

		<div class="order__body">

			<div class="order__body-inner">

				<div class="order__option-desc">

					<div class="order__option-desc-select">

						<div class="order__radio-img">

							<label class="order__radio-img-item">

								<input class="order__radio-img-input" type="radio" name="DELIVERY_ID" checked="checked">

								<span class="order__radio-img-box">

									<img src="https://superfonarik.ru/upload/sale/delivery/logotip/60a/60af1d101661c56d0f4c24995847cc58.png" alt="">

									<span class="order__radio-img-label">
										0 руб.
									</span>

								</span>

								<span class="order__radio-img-text">
									Бесплатная доставка курьером по Москве
								</span>

							</label>

							<label class="order__radio-img-item">

								<input class="order__radio-img-input" type="radio" name="DELIVERY_ID" checked="checked">

								<span class="order__radio-img-box">

									<img src="https://superfonarik.ru/upload/sale/delivery/logotip/601/6017236a3721b92893e4040d2a1d5e18.png" alt="">

									<span class="order__radio-img-label">
										0 руб.
									</span>

								</span>

								<span class="order__radio-img-text">
									Самовывоз из нашего офиса в Москве
								</span>

							</label>

							<label class="order__radio-img-item">

								<input class="order__radio-img-input" type="radio" name="DELIVERY_ID">

								<span class="order__radio-img-box">

									<img src="https://superfonarik.ru/upload/sale/delivery/logotip/60a/60af1d101661c56d0f4c24995847cc58.png" alt="">

									<span class="order__radio-img-label">
										200 руб.
									</span>

								</span>

								<span class="order__radio-img-text">
									Доставка курьером за МКАД (зона 1) для заказов от 8000 р.
								</span>

							</label>

							<label class="order__radio-img-item">

								<input class="order__radio-img-input" type="radio" name="DELIVERY_ID">

								<span class="order__radio-img-box">

									<img src="https://superfonarik.ru/upload/sale/delivery/logotip/60a/60af1d101661c56d0f4c24995847cc58.png" alt="">

									<span class="order__radio-img-label">
										250 руб.
									</span>

								</span>

								<span class="order__radio-img-text">
									Доставка курьером за МКАД (зона 2) для заказов от 8000 р.
								</span>

							</label>

							<label class="order__radio-img-item">

								<input class="order__radio-img-input" type="radio" name="DELIVERY_ID">

								<span class="order__radio-img-box">

									<img src="https://superfonarik.ru/upload/sale/delivery/logotip/270/2701cbb64521235a51975efd343f9619.png" alt="">

									<span class="order__radio-img-label">
										0 руб.
									</span>

								</span>

								<span class="order__radio-img-text">
									Бесплатная доставка почтой по России (для заказов свыше 8 000 р.)
								</span>

							</label>

							<label class="order__radio-img-item">

								<input class="order__radio-img-input" type="radio" name="DELIVERY_ID">

								<span class="order__radio-img-box">

									<img src="https://superfonarik.ru/upload/sale/delivery/logotip/60a/60af1d101661c56d0f4c24995847cc58.png" alt="">

									<span class="order__radio-img-label">
										350 руб.
									</span>

								</span>

								<span class="order__radio-img-text">
									Доставка курьером за МКАД (зона 4) для заказов от 8000 р.
								</span>

							</label>

							<label class="order__radio-img-item">

								<input class="order__radio-img-input" type="radio" name="DELIVERY_ID">

								<span class="order__radio-img-box">

									<img src="https://superfonarik.ru/upload/resize_cache/sale/delivery/logotip/ec5/300_300_1/ec543f45fe6c5b08ef001ddd659aa689.jpg" alt="">

									<span class="order__radio-img-label">
										350 руб.
									</span>

								</span>

								<span class="order__radio-img-text">
									ЕМС (Курьерская служба Почты России)
								</span>

							</label>

						</div>

					</div>

					<div class="order__option-desc-current">

						<p class="order__option-desc-title">
							Бесплатная доставка курьером по Москве
						</p>

						<img src="https://superfonarik.ru/upload/sale/delivery/logotip/6fb/6fb570eca734a936ac95e5d6920ee2d9.jpg" alt="">

						<p>
							Доставка заказа в один из пунктов выдачи заказов компании СДЭК
						</p>

						<button class="order__btn-full btn btn--yellow" type="button">
							Выбрать пункт СДЭК
						</button>

						<p>
							Стоимость: <b>0 руб.</b>
						</p>

						<p>
							Срок доставки: <b>2-3 дня</b>
						</p>

					</div>

				</div>

{% include "personal/order/make/btns.html" %}

			</div>

		</div>

	</div>