.about {

	.tabs {

		margin: 30px 0;

	}

	&__rating {

		&-btn {

			display: flex;

		}

		.h4 {

			margin: 14px 0;

		}

		&-link {

			margin: 30px 0 10px;

			a {

				color: var(--color);
				text-decoration: underline;
				text-decoration-color: var(--color);
				transition: .3s;

				&:hover {

					text-decoration-color: color(var(--color) a(0%));

				}

			}

		}

	}

}