.about {

	margin-bottom: 30px;

	&__title {

		margin-bottom: 30px;

		@media ($mdWidth) {

			text-transform: none;
			margin-bottom: 20px;
			color: var(--dark);

		}

	}

	&__rating {

		&-btn {

			display: flex;

		}

		.h4 {

			margin: 14px 0;

			@media ($smWidth) {

				font: 14px/18px Hermes;
				color: var(--dark);

			}

		}

		&-link {

			margin: 30px 0 10px;

			a {

				color: var(--color);
				text-decoration: underline;
				text-decoration-color: var(--color);
				transition: .3s;

				&:hover {

					text-decoration-color: color(var(--color) a(0%));

				}

			}

		}

		&-img-market {

			@media ($smWidth) {

				width: 90px;
				height: 60px;

			}

		}

	}

}