.address {

	&__title {

		@media ($mdWidth) {

			text-transform: none;
			color: var(--dark);
			margin-bottom: 20px;

		}

	}

	&__box {

		display: flex;
		align-items: flex-start;
		margin: 20px 0;

		@media ($mdWidth) {

			flex-direction: column-reverse;

		}

		@media ($smWidth) {

			margin: 0;

		}

	}

	&__left {

		flex-grow: 1;
		position: relative;
		padding-right: 14px;

		@media ($mdWidth) {

			padding: 0;
			width: 100%;

		}

	}

	&__right {

		width: 272px;
		flex-shrink: 0;
		position: relative;
		padding: 12px 0 12px 20px;
		color: var(--dark);
		background-color: var(--yellow);

		@media ($mdWidth) {

			width: auto;
			margin-bottom: 20px;

		}

		@media ($smWidth) {

			margin: 0 -20px;
			padding: 30px 20px;

			h2 {

				margin-top: 0 !important;

			}

			p {

				font: 12px/16px Tahoma;
				color: var(--dark);

			}

		}

		@media ($xsWidth) {

			margin: 0 -10px;
			padding: 20px 10px;

		}

		p {

			margin-top: 10px;

			span {

				color: var(--color);

			}

		}

		&::after {

			position: absolute;
			width: 100vw;
			top: 0;
			left: 100%;
			bottom: 0;
			content: '';
			background-color: var(--yellow);

		}

	}

	&__city {

		display: flex;
		margin: -5px;
		flex-wrap: wrap;

		.btn {

			margin: 5px;

			@media ($smWidth) {

				margin: 5px 0;

			}

		}

		@media ($smWidth) {

			margin: -5px -15px 5px;

		}

		@media ($xsWidth) {

			margin: -5px -10px 5px;

		}

	}

	&__map {

		border: 2px solid var(--yellow);
		height: 430px;
		position: relative;
		margin: 10px 0;

		@media ($smWidth) {

			margin: 0 -20px;
			padding: 20px;
			border: 0;
			height: 40vw;
			background-color: #f7f7f7;

		}

		@media ($xsWidth) {

			margin: 0 -10px;
			padding: 10px;

		}

	}

	&-shop {

		display: flex;
		margin: 20px -10px;
		counter-reset: headings 0;

		@media ($smWidth) {

			display: block;
			margin: 0 -20px;
			padding: 30px 20px;
			border: 0;
			background-color: #f7f7f7;

		}

		@media ($xsWidth) {

			margin: 0 -10px;
			padding: 20px 10px;

		}

		&__item {

			margin: 10px;
			flex-basis: calc((100% - 40px) / 3);
			counter-increment: headings 1;

			&::before {

				content: counter(headings, decimal);
				display: block;
				font-family: 'Hermes', 'Impact';
				font-size: 30px;
				line-height: 38px;

			}

			@media ($smWidth) {

				margin: 0;

				&::before {

					display: none;

				}

				& + & {

					border-top: 1px solid #e0e0e0;
					margin-top: 30px;
					padding-top: 25px;

				}

			}

		}

		&__title {

			border-top: 1px solid #eee;
			color: #000;
			font-size: 18px;
			line-height: 24px;
			min-height: 52px;
			padding: 4px 0 0 36px;
			margin-bottom: 16px;
			position: relative;

			@media ($smWidth) {

				font: 15px/18px Hermes;
				color: var(--dark);
				padding: 0;
				border: 0;
				margin: 15px 0;
				min-height: 0;

				&::before {

					display: none;

				}

			}

			&::before {

				border-top: 30px solid #fff95a;
				border-right: 35px solid transparent;
				content: "";
				position: absolute;
				top: 0;
				left: 0;

			}

		}

	}

	@media ($smWidth) {

		.table-characteristics {

			display: block;
			margin: 0;

			tbody, head, tr, th, td {

				display: block;
				background-color: transparent !important;
				padding: 0;
				border: 0;
				text-align: left;
				font-size: 12px;
				line-height: 1.33;
				color: var(--dark);

			}

			br {

				display: none;

			}

			td:first-child:not([colspan="2"]),
			b {

				font: 12px/26px Hermes;
				display: block;
				margin: 20px 0 7px;

			}

		}

	}

}