.article {

	flex-shrink: 0;

	&--index {

		order: 10;

	}

	h1 {

		font-family: 'Hermes', 'Impact';
		font-size: 36px;
		line-height: 43px;
		margin: 21px 0 15px;
		font-weight: 400;
		text-transform: uppercase;

	}

	h2 {

		font-family: 'Hermes', 'Impact';
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;

	}

	h3 {

		font-family: 'Hermes', 'Impact';
		font-weight: 400;
		text-transform: uppercase;
		border-bottom: 1px solid #e8e8e8;
		font-size: 20px;
		margin: 0 0 35px;
		padding: 0 0 5px;
		position: relative;

		&::after {

			border-top: 30px solid var(--yellow);
			border-right: 35px solid transparent;
			content: "";
			position: absolute;
			bottom: -30px;
			left: 0;

		}

	}

	h4 {

		font-family: 'Hermes', 'Impact';
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;

	}

	p {

		margin: 0 0 17px;
		line-height: 17px;
		text-align: justify;

	}

	a {

		color: var(--color);
		text-decoration: underline;
		text-decoration-color: var(--color);
		transition: .3s;

		&:hover {

			text-decoration-color: color(var(--color) a(0%));

		}

	}

	ul {

		margin: 0 0 17px;
		line-height: 17px;

		li {

			padding-left: 15px;

			&::before {

				position: absolute;
				width: 7px;
				height: 7px;
				top: 7px;
				left: 0;
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 77 78'%3E%3Cpath d='M13.17 28.4l16.22 17.51L62.58 0l14.18 17.28-47.88 60.11L0 43.31z'/%3E%3C/svg%3E%0A");
				background-size: contain;
				background-repeat: no-repeat;

			}

		}

	}

	hr {

		margin: 10px 0;

	}

	table {

		margin: 24px 0;

		&.specs_table {

			border: 0;

			caption {

				font-family: 'Hermes', 'Impact';
				text-transform: uppercase;
				font-size: 18px;
				margin-bottom: 7px;

			}

			td, th {

				border: 1px solid #eee;
				text-align: center;
				vertical-align: top;
				padding: 6px;

			}

			tr:nth-child(2n-1) th,
			tr:nth-child(2n-1) td,
			th:nth-child(2n) {

				background-color: #fff;

			}

			tr:nth-child(2n) td {

				background-color: #eee;

			}

			th.spec {

				text-align: left;

			}

		}

	}

	img {

		max-width: 100%;

	}

	iframe {

		margin: 20px 0;
		border: 0;
		max-width: 100%;

	}

	.img-left {

		float: left;
		margin: 12px 35px 12px 0;

	}

}