.article {

	flex-shrink: 0;

	&--index {

		order: 10;

	}

	h1 {

		font-family: 'Hermes', 'Helvetica', 'Arial', sans-serif;
		font-size: 36px;
		line-height: 43px;
		margin: 21px 0 15px;
		font-weight: 400;
		text-transform: uppercase;

	}

	h2 {

	}

	p {

		margin: 0 0 17px;
		line-height: 17px;
		text-align: justify;

	}

}