.article {

	flex-shrink: 0;

	&--index {

		order: 10;

		@media ($smWidth) {

			margin: 20px 0;

		}

		@media ($xsWidth) {

			margin: 10px 0;

		}

	}

	h1:not([class]) {

		font-family: 'Hermes', 'Impact';
		font-size: 36px;
		line-height: 43px;
		margin: 21px 0 15px;
		font-weight: 400;
		text-transform: uppercase;

		@media ($mdWidth) {

			font-size: 21px;
			line-height: 1.24;
			text-transform: none;
			color: var(--dark);

		}

	}

	h2:not([class]) {

		font-family: 'Hermes', 'Impact';
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;

		@media ($mdWidth) {

			font-size: 21px;
			line-height: 1.24;
			text-transform: none;
			color: var(--dark);

		}

		@media ($smWidth) {

			font-size: 15px;
			line-height: 18px;
			color: var(--dark);
			margin: 2em 0 1em;

		}

	}

	h3:not([class]) {

		font-family: 'Hermes', 'Impact';
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;

		@media ($smWidth) {

			font-size: 15px;
			line-height: 18px;

		}

	}

	h4:not([class]) {

		font-family: 'Hermes', 'Impact';
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;

	}

	p:not([class]) {

		margin: 0 0 1em;
		line-height: 17px;
		text-align: justify;

		@media ($mdWidth) {

			line-height: 19px;
			text-align: left;
			color: var(--dark);

		}

	}

	a[href^="tel"] {

		color: var(--color);

	}

	a:not([href^="tel"]) {

		color: var(--color);
		text-decoration: underline;
		text-decoration-color: var(--color);
		transition: .3s;

		&:hover {

			text-decoration-color: color(var(--color) a(0%));

		}

	}

	ul:not([class]) {

		margin: 0 0 1em;
		line-height: 17px;
		text-align: justify;

		@media ($mdWidth) {

			line-height: 19px;
			text-align: left;
			color: var(--dark);

		}

		li {

			padding-left: 15px;

			&::before {

				position: absolute;
				width: 7px;
				height: 7px;
				top: 7px;
				left: 0;
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 77 78'%3E%3Cpath d='M13.17 28.4l16.22 17.51L62.58 0l14.18 17.28-47.88 60.11L0 43.31z'/%3E%3C/svg%3E%0A");
				background-size: contain;
				background-repeat: no-repeat;

			}

			@media ($mdWidth) {

				line-height: 1.75;
				padding-left: 20px;

				&::before {

					width: 10px;
					height: 8px;
					top: 8px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpath fill='none' stroke='%23979797' stroke-width='2' d='M1 3.43L3.949 6 9 1'/%3E%3C/svg%3E%0A");

				}

			}

		}

	}

	hr {

		margin: 10px 0;

	}

	table {

		margin: 24px 0;

		&.specs_table {

			border: 0;
/*
			@media ($mdWidth) {

				display: block;
				overflow: auto;
				padding-bottom: 30px;

				&::-webkit-scrollbar {

					height: 6px;
					border-radius: 3px;
					background-color: #f5f6f8;

				}

				&::-webkit-scrollbar-thumb {

					border-radius: 3px;
					background-color: #d1d3d8;

				}

				tbody {

					display: table;

				}

			}
 */
			caption {

				font-family: 'Hermes', 'Impact';
				text-transform: uppercase;
				font-size: 18px;
				margin-bottom: 7px;

			}

			td, th {

				border: 1px solid #eee;
				text-align: center;
				vertical-align: top;
				padding: 6px;

			}

			tr:nth-child(2n-1) th,
			tr:nth-child(2n-1) td,
			th:nth-child(2n) {

				background-color: #fff;

			}

			tr:nth-child(2n) td {

				background-color: #eee;

			}

			th.spec {

				text-align: left;

			}

		}

	}

	img {

		max-width: 100%;

		@media ($mdWidth) {

			height: auto;

		}

		@media ($smWidth) {

			&[style*="float"] {

				max-width: 30%;

			}

		}

	}

	iframe {

		margin: 20px 0;
		border: 0;
		max-width: 100%;
		display: block;

		@media ($smWidth) {

			height: calc((100vw - 40px) * 0.5625);

		}

	}

	.clr {

		&::after {

			display: table;
			width: 100%;
			content: '';

		}

	}

	.img-left {

		float: left;
		margin: 12px 35px 12px 0;

	}

	@media ($mdWidth) {

		.md-img-left-off {

			float: none;
			display: block;
			margin: 12px 0;

		}

	}

}

.link-video {

	position: relative;
	display: inline-block;
	width: 280px;

	&__img {

		display: block;
		position: relative;

		&::after,
		&::before {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			transition: .3s;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='48' viewBox='0 0 68 48'%3E%3Cpath fill='%23212121' opacity='0.8' d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z'%3E%3C/path%3E%3Cpath fill='%23fff' d='M 45,24 27,14 27,34'%3E%3C/path%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: center;

		}

		&::before {

			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='48' viewBox='0 0 68 48'%3E%3Cpath fill='%23f00' d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z'%3E%3C/path%3E%3Cpath fill='%23fff' d='M 45,24 27,14 27,34'%3E%3C/path%3E%3C/svg%3E");
			opacity: 0;
			z-index: 1;

		}

		img {

			width: 100%;
			position: relative;

		}

	}

	&__text {

		font-size: 18px;
		margin: 10px 0 14px;
		color: var(--color);
		text-decoration: underline;
		text-decoration-color: var(--color);
		transition: .3s;

	}

	&:hover &__text {

		text-decoration-color: color(var(--color) a(0%));

	}

	&:hover &__img::before {

		opacity: 1;

	}

}