.breadcrumbs {

	margin: 8px 0 16px;
	display: flex;
	flex-wrap: wrap;

	@media ($smWidth) {

		display: none;

	}

	&__item {

		display: flex;
		white-space: nowrap;
		color: color(var(--color) a(81%));

		&:last-child::after {

			display: none;

		}

		&::after {

			content: "/";
			margin: 0 10px;

		}

		a {

			color: color(var(--color) a(81%));
			text-decoration: underline;
			transition: .3s;
			text-decoration-color: color(var(--color) a(0%));

			&:hover {

				text-decoration-color: color(var(--color) a(81%));

			}

		}

	}

}