.breadcrumbs {

	margin: 8px 0 16px;
	display: flex;
	flex-wrap: wrap;

	&__item {

		display: flex;
		white-space: nowrap;

		&:last-child::after {

			display: none;

		}

		&::after {

			content: "/";
			margin: 0 10px;

		}

		a {

			color: var(--color);
			text-decoration: underline;
			transition: .3s;
			text-decoration-color: color(var(--color) a(0%));

			&:hover {

				text-decoration-color: var(--color);

			}

		}

	}

}