.carousel {

	flex-shrink: 0;
	margin-bottom: 23px;

	@media ($smWidth) {

		margin: 30px 0 40px;

		.swiper-controls {

			display: none;

		}

	}

	@media ($xsWidth) {

		margin: 20px 0 30px;

	}

	.swiper-container {

		padding-bottom: 56px;

		@media ($smWidth) {

			margin: 0 -20px;
			padding: 0 20px 40px;

			.swiper-slide {

				width: 280px !important;
				padding-right: 20px;

			}

		}

		@media ($xsWidth) {

			margin: 0 -10px;
			padding: 0 0 40px;

			.swiper-slide {

				padding: 0 10px;
				width: 100% !important;

			}

		}

	}

	&__title {

		margin: 18px 0 30px;

	}

	&__item {

		max-width: calc((100% - 59px - 59px) / 3);
		margin-right: 59px;

		@media ($mdWidth) {

			max-width: calc((100% - 20px - 20px) / 3);
			margin-right: 20px;

		}

		@media ($smWidth) {

			max-width: 100%;
			margin-right: 0;

		}

	}

	&__link {

		display: block;

		@media ($smWidth) {

			max-width: 240px;

		}

		@media ($xsWidth) {

			max-width: 100%;

		}

	}

	&__img {

		height: 140px;
		display: block;
		position: relative;
		text-align: center;

		img {

			max-width: 100%;
			max-height: 100%;
			object-fit: contain;

			@media ($mdWidth) {

				max-width: 140px;

			}

		}

	}

	&__price {

		height: 45px;
		position: relative;
		display: block;

		&-old {

			color: rgba(85,85,85,.7);
			font-size: 19px;
			text-decoration: line-through;
			position: absolute;
			top: -28px;
			right: 25px;

			@media ($smWidth) {

				font-size: 18px;

			}

		}

		&-current {

			color: rgba(0,0,0,.8);
			font-weight: bold;
			font-size: 24px;
			position: absolute;
			bottom: 12px;
			right: 30px;

			@media ($smWidth) {

				font-size: 21px;

			}

		}

		&::before {

			border-right: 105px solid var(--yellow);
			border-top: 105px solid transparent;
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;

		}

	}

	&__name {

		display: block;
		color: #555;
		font-weight: bold;
		font-size: 18px;
		text-decoration: underline;
		border-top: 1px solid #eee;
		padding: 11px 0 11px 40px;
		position: relative;
		line-height: 22px;

		@media ($mdWidth) {

			font: 15px/18px Hermes;
			color: var(--dark);

		}

		&::before {

			border-left: 35px solid var(--yellow);
			border-bottom: 30px solid transparent;
			content: "";
			position: absolute;
			top: -1px;
			left: 0;

		}

	}

	&__link:hover &__name {

		color: #000;
		text-decoration: underline;

	}

	.link-all {

		position: absolute;
		top: 18px;
		right: 0;

		@media ($smWidth) {

			position: relative;
			top: 0;

		}

	}

}