.catalog-section {

	& + & {

		margin: 40px 0;

		@media ($mdWidth) {

			margin: 40px 0 0;

		}

	}

	&__title {

		margin: 0 0 13px;

		a {

			color: var(--color);
			text-decoration: underline;
			text-decoration-color: color(var(--color) a(0%));
			transition: .3s;

			&:hover {

				text-decoration-color: var(--color);

			}

		}

	}

	&__list {

		display: flex;
		flex-wrap: wrap;
		margin: -6px;

		@media ($mdWidth) {

			margin: -5px;

		}

	}

	&__item {

		margin: 6px;
		width: 108px;

		@media ($mdWidth) {

			margin: 5px;
			width: 155px;
			background-color: #f7f7f7;

		}

		@media ($smWidth) {

			width: calc(50% - 10px);

		}

	}

	&__archive {

		display: flex;
		justify-content: flex-end;

		@media ($mdWidth) {

			display: none;

		}

		a {

			font-size: 13px;
			color: var(--color);
			text-decoration: underline;
			text-decoration-color: color(var(--color) a(0%));
			transition: .3s;

			&:hover {

				text-decoration-color: var(--color);

			}

		}

	}

	&__img {

		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media ($mdWidth) {

			height: 65px;

		}

		img {

			max-width: 100%;
			max-height: 100%;

			@media ($mdWidth) {

				width: auto;
				height: auto;
				max-width: 50px;
				max-height: 40px;
				mix-blend-mode: multiply;

			}

		}

	}

	&__name {

		display: block;
		padding: 6px;
		font-size: 13px;
		line-height: 16px;
		transition: .3s;
		color: var(--color);
		text-align: center;

		@media ($mdWidth) {

			padding: 0 10px 20px;
			font-size: 13px;
			line-height: 16px;
			font: 13px/15px Hermes;
			color: var(--dark);

		}

	}

	@media ($desktop) {

		&__link:hover &__name {

			background-color: var(--yellow);

		}

	}

}