.catalog {

	display: flex;
	margin: 24px 0 30px;
	align-items: flex-start;

	@media ($mdWidth) {

		margin: 0;

	}

	&-search-form {

		margin-bottom: 20px;

	}

	&-head {

		@media ($mdWidth) {

			margin: -30px -20px 0;
			padding: 20px;
			background-color: var(--bg);

			.catalog-section__title {

				text-transform: none;
				margin: 10px 0;

			}

			.catalog-section__item {

				background-color: #fff;

			}

			&__filter {

				display: flex;
				padding-top: 20px;
				margin-top: 20px;
				border-top: 1px solid color(#979797 a(20%));

				.sort-mobile {

					margin-right: 10px;

				}

			}

		}

		@media ($xsWidth) {

			margin: -30px -10px 0;
			padding: 20px 10px;

		}

	}

	&__search-menu {

		width: 270px;
		position: relative;
		flex-shrink: 0;
		margin-right: 58px;

		a {

			display: block;
			padding: 10px 40px;
			text-decoration: none;
			font-size: 18px;
			font-weight: bold;
			color: var(--color);

		}

		@media ($mdWidth) {

			display: none;

		}

		li {

			border: 1px solid #e8e8e8;
			margin: 10px 0;

		}

		&-current {

			border-color: var(--yellow) !important;
			background-color: var(--yellow);

		}

	}

	&__filter {

		width: 270px;
		background-color: #eee;
		position: relative;
		padding: 40px 10px 40px 0;
		flex-shrink: 0;
		margin-right: 48px;

		@media ($mdWidth) {

			display: none;
			width: 100%;
			background-color: transparent;
			position: relative;
			padding: 30px 0;
			margin: 0;

			&::after {

				display: none;

			}

		}

		@media ($smWidth) {

			padding-top: 0;

		}

		&::after {

			position: absolute;
			width: 100vw;
			top: 0;
			right: 100%;
			bottom: 0;
			content: '';
			background-color: #eee;
			pointer-events: none;

		}

	}

	&__list {

		flex-grow: 1;

		@media ($mdWidth) {

			margin-top: 10px;
			display: flex;
			flex-direction: column;

		}

	}

	&__sort {

		margin: 8px 0 20px;

	}

	&__desc {

		@media ($mdWidth) {

			order: 5;
			padding-bottom: 20px;
			border-bottom: 1px solid var(--dark);
			margin-bottom: 20px;

		}

		p {

			text-align: justify;
			margin-top: 1em;
			line-height: 17px;

			@media ($mdWidth) {

				font-size: 12px;
				line-height: 1.33;
				color: var(--dark);

			}

		}

	}

	&__more {

		margin-top: 10px;

		@media ($mdWidth) {

			margin-top: 30px;

		}

	}

	&__pagination {

		margin-top: 30px;


		@media ($mdWidth) {

			margin: 30px 0 10px;

		}

	}

}