.catalog-product {

	display: flex;
	position: relative;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	margin-top: 10px;

	@media ($smWidth) {

		margin-top: 30px;
		border-top-color: #eee;
		border-bottom-color: #eee;

		& + & {

			border-top: 0;
			margin-top: 0;

		}

	}

	&::after {

		position: absolute;
		content: attr(data-label);
		text-transform: uppercase;
		font-weight: bold;
		top: 18px;
		left: 18px;
		font-size: 12px;
		pointer-events: none;

		@media ($smWidth) {

			top: 8px;
			left: 14px;

		}

	}

	&__left {

		width: 190px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;

		@media ($smWidth) {

			width: 130px;

		}

	}

	&__body {

		flex-grow: 1;
		display: flex;
		padding-left: 15px;

		@media ($mdWidth) {

			display: block;
			width: calc(100% - 130px);

		}

		@media ($smWidth) {

			padding-left: 10px;

		}

	}

	&__center {

		flex-grow: 1;
		display: flex;
		flex-direction: column;
		padding: 19px 10px 15px 0;
		position: relative;
		z-index: 1;

		@media ($mdWidth) {

			padding: 15px 0 0;

		}

	}

	&__right {

		width: 190px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		position: relative;

		@media ($mdWidth) {

			width: 100%;

		}

	}

	&__img {

		padding: 35px 0 20px;
		position: relative;

		@media ($smWidth) {

			padding: 20px 0;

		}

		&::after {

			border-top: 66px solid var(--yellow);
			border-right: 66px solid transparent;
			content: "";
			position: absolute;
			top: 0;
			left: 0;

			@media ($smWidth) {

				border-top: 34px solid var(--yellow);
				border-right: 34px solid transparent;

			}

		}

		img {

			max-width: 100%;

			@media ($mdWidth) {

				height: auto;

			}

		}

	}

	&__sku {

		text-align: center;
		font-family: monospace;
		margin-top: auto;
		margin-bottom: 15px;

		@media ($smWidth) {

			display: none;

		}

	}

	&__name {

		display: block;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 9px;
		color: var(--color);
		text-decoration: underline;
		text-decoration-color: var(--color);
		transition: .3s;

		&:hover {

			text-decoration-color: color(var(--color) a(0%));

		}

		@media ($smWidth) {

			font: 15px/18px Hermes;

		}

	}

	&__property {

		font-size: 13px;
		line-height: 15px;
		margin-bottom: 21px;

		@media ($smWidth) {

			font-size: 12px;
			line-height: 14px;
			color: var(--dark);
			margin-bottom: 10px;

		}

		dl {

			display: block;
			margin-bottom: 5px;

		}

		dt {

			display: inline;
			padding-right: 5px;

		}

		dd {

			display: inline;

		}

	}

	&__btns {

		margin-top: auto;
		display: flex;

		@media ($mdWidth) {

			display: none;

		}

		.btn {

			margin-right: 30px;

		}

	}

	&__reviews {

		text-align: right;
		margin: 16px 0 8px;

		@media ($mdWidth) {

			display: none;

		}

		a {

			font-size: 12px;
			text-decoration: underline;
			text-decoration-color: var(--color);
			transition: .3s;
			color: var(--color);
			opacity: .84;

			&:hover {

				text-decoration-color: color(var(--color) a(0%));

			}

		}

	}

	&__available {

		display: flex;
		justify-content: flex-end;
		margin-bottom: auto;
		font-size: 12px;

		@media ($mdWidth) {

			justify-content: flex-start;

		}

		@media ($smWidth) {

			font: 12px/24px Hermes;
			color: var(--dark);

		}

		&-value {

			padding: 1px 10px;
			background-color: var(--yellow);

			@media ($smWidth) {

				padding: 0 5px;

			}

		}

		&.is-not &-value {

			background-color: #eee;

		}

	}

	&__price {

		margin-top: 50px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		padding: 10px;

		@media ($mdWidth) {

			margin-top: 0;
			padding: 10px 0 24px;
			display: block;

		}

		&-value {

			font-size: 26px;
			font-weight: 700;
			color: var(--dark);
			position: relative;

			@media ($smWidth) {

				font-size: 21px;

			}

		}

		&-old {

			font-size: 19px;
			position: relative;
			color: #4c4c4c;
			text-decoration: line-through;

			@media ($smWidth) {

				font-size: 18px;

			}

		}

		&::before {

			border-right: 105px solid var(--yellow);
			border-top: 105px solid transparent;
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;

		}

	}

	&__cart {

		display: flex;
		justify-content: flex-end;

		@media ($mdWidth) {

			position: absolute;
			right: 0;
			bottom: 0;

		}

		@media ($smWidth) {

			.btn {

				width: 40px;
				height: 40px;
				padding: 0;
				font-size: 0;
				color: transparent;
				min-width: 0;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' viewBox='0 0 19 18'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M17.984 3.502H6.68c-.368 0-.578.285-.469.636L8 9.376c.088.283.4.512.696.512h7.41a.772.772 0 00.696-.512l1.558-5.361c.089-.283-.08-.513-.376-.513z'/%3E%3Ccircle cx='8.703' cy='15.922' r='1.691'/%3E%3Ccircle cx='15.858' cy='15.943' r='1.691'/%3E%3Cpath d='M17.888 11.609h-9.89L4.04.218H.957a.957.957 0 100 1.914h1.721l3.959 11.392h11.25a.957.957 0 100-1.915z'/%3E%3C/g%3E%3C/svg%3E%0A");
				background-position: center;
				background-repeat: no-repeat;

				&::after,
				&::before {

					display: none;

				}

			}

		}

	}

}