.comments {

	&__title {

		margin: 20px 0;

	}

	&__pagination {

		margin: 30px 0;
		padding-top: 30px;
		border-top: 1px solid #fff;

		@media ($smWidth) {

			border-top: 0;
			padding: 0;

		}

	}

	&__item {

		margin: 14px 0;
		padding: 14px 20px;
		border-top: 1px solid #fff;

		@media ($smWidth) {

			padding: 0;
			margin: 0;
			border: 0;

			& + & {

				margin-top: 20px;
				padding-top: 25px;
				border-top: solid 1px #e0e0e0;

			}

			&-head {

				justify-content: space-between;

			}

		}

		&-head,
		&-body {

			display: flex;

		}

		&-body {

			justify-content: flex-end;

			p {

				margin-top: 16px;

				@media ($smWidth) {

					font-size: 12px;
					line-height: 16px;
					color: var(--dark);

				}

			}

		}

		&-left {

			width: 210px;

			@media ($smWidth) {

				width: auto;

			}

		}

		&-right {

			width: calc(100% - 210px);
			padding-left: 20px;
			margin-left: auto;
			padding-top: 5px;

			@media ($smWidth) {

				width: auto;
				padding: 0;
				margin: 0;

				&[data-stars="4"]::before {

					background-position: -15px 0;

				}

				&[data-stars="3"]::before {

					background-position: -30px 0;

				}

				&[data-stars="2"]::before {

					background-position: -45px 0;

				}

				&[data-stars="1"]::before {

					background-position: -60px 0;

				}

			}

			&[data-stars]::before {

				width: 90px;
				height: 18px;
				content: '';
				display: inline-block;
				margin-right: 20px;
				margin-top: 4px;
				vertical-align: middle;
				flex-shrink: 0;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200' height='18' viewBox='0 0 200 18'%3E%3Cdefs%3E%3Cpath id='s' d='M7.148,-0.000 L9.406,4.085 L14.000,4.965 L10.802,8.371 L11.383,13.000 L7.148,11.018 L2.913,13.000 L3.493,8.371 L0.295,4.965 L4.889,4.085 L7.148,-0.000 '/%3E%3C/defs%3E%3Cg fill='%23353434'%3E%3Cuse xlink:href='%23s'/%3E%3Cuse xlink:href='%23s' x='18'/%3E%3Cuse xlink:href='%23s' x='36'/%3E%3Cuse xlink:href='%23s' x='54'/%3E%3Cuse xlink:href='%23s' x='72'/%3E%3C/g%3E%3Cg fill='%23fff'%3E%3Cuse xlink:href='%23s' x='90'/%3E%3Cuse xlink:href='%23s' x='108'/%3E%3Cuse xlink:href='%23s' x='126'/%3E%3Cuse xlink:href='%23s' x='144'/%3E%3Cuse xlink:href='%23s' x='162'/%3E%3C/g%3E%3C/svg%3E");

				@media ($smWidth) {

					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='150' height='12' viewBox='0 0 150 12'%3E%3Cdefs%3E%3Cpath id='s' d='M5.995.012l1.853 3.754 4.143.602L8.993 7.29l.707 4.126-3.705-1.948-3.705 1.948.708-4.126L0 4.368l4.143-.602z'/%3E%3C/defs%3E%3Cg fill='%23fac917'%3E%3Cuse xlink:href='%23s'/%3E%3Cuse xlink:href='%23s' x='15'/%3E%3Cuse xlink:href='%23s' x='30'/%3E%3Cuse xlink:href='%23s' x='45'/%3E%3Cuse xlink:href='%23s' x='60'/%3E%3C/g%3E%3Cg fill='%23fff'%3E%3Cuse xlink:href='%23s' x='75'/%3E%3Cuse xlink:href='%23s' x='90'/%3E%3Cuse xlink:href='%23s' x='105'/%3E%3Cuse xlink:href='%23s' x='120'/%3E%3Cuse xlink:href='%23s' x='135'/%3E%3C/g%3E%3C/svg%3E%0A");
					margin: 0;
					width: 75px;
					height: 12px;

				}

			}

			&[data-stars="4"]::before {

				background-position: -18px 0;

			}

			&[data-stars="3"]::before {

				background-position: -36px 0;

			}

			&[data-stars="2"]::before {

				background-position: -54px 0;

			}

			&[data-stars="1"]::before {

				background-position: -72px 0;

			}

		}

		&-head &-right {

			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			flex-grow: 1;

		}

		&-autor {

			font-size: 18px;
			color: #353434;
			font-weight: 300;

			@media ($smWidth) {

				font: 14px/18px Hermes;
				color: var(--dark);
				padding-right: 10px;

			}

		}

		&-date {

			font-weight: 300;
			line-height: 18px;
			display: inline-block;
			vertical-align: middle;
			white-space: nowrap;

			@media ($smWidth) {

				font: 12px/18px Tahoma, 'Helvetica';
				color: var(--dark);

			}

		}

	}

}