.contacts {

	&__row {

		display: flex;
		margin: 15px 0 40px;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__left {

		flex-shrink: 0;
		width: 324px;
		margin-right: 40px;

		@media ($mdWidth) {

			margin-right: 0;
			width: 100%;

		}

	}

	&__right {

		flex-grow: 1;

		@media ($mdWidth) {

			width: 100%;
			margin-top: 10px;

		}

		iframe& {

			min-height: 40vw;

		}

	}

	&__address {

		border: 2px solid var(--yellow);
		padding: 14px 23px;

		.h3 {

			text-transform: none;
			font-size: 24px;
			margin-bottom: 6px;
			color: var(--dark);

			& ~ .h3 {

				margin-top: 20px;

			}

		}

		a {

			color: inherit;


			svg {

				display: inline;

			}

		}

	}

	&__geo {

		.h3 {

			font-size: 20px;

			& ~ .h3 {

				margin-top: 20px;

			}

		}

		p + p {

			margin-top: 17px;

		}

		ul li {

			padding-left: 17px;

			&::before {

				position: absolute;
				width: 8px;
				height: 1px;
				top: 10px;
				left: 0;
				content: '';
				background-color: var(--color);

			}

		}

	}

	&__foto {

		a {

			color: var(--color);
			text-decoration: underline;
			text-decoration-color: var(--color);
			transition: .3s;

			&:hover {

				text-decoration-color: color(var(--color) a(0%));

			}

		}

	}

	.article {

		.flag-title {

			margin-top: 36px;

		}

		hr {

			margin: 20px 0;

		}

	}

}