.contacts {

	&__title {

		@media ($mdWidth) {

			text-transform: none;
			margin-bottom: 20px;
			color: var(--dark);

		}

	}

	@media ($smWidth) {

		font-size: 12px;
		line-height: 16px;
		color: var(--dark);
		margin-bottom: 30px;

		.flag-title {

			font-size: 15px;
			color: var(--color);
			margin-bottom: 20px;
			padding-bottom: 10px;

			&::after {

				display: none;

			}

			h3 {

				font-size: 15px;
				color: var(--color);
				margin: 0;
				padding: 0;
				text-transform: none;

				&::after {

					display: none;

				}

			}

		}

	}

	&__row {

		display: flex;
		margin: 15px 0 40px;

		@media ($mdWidth) {

			display: block;

		}

		@media ($smWidth) {

			margin-bottom: 30px;

		}

	}

	&__left {

		flex-shrink: 0;
		width: 324px;
		margin-right: 40px;

		@media ($mdWidth) {

			margin-right: 0;
			width: 100%;

		}

	}

	&__right {

		flex-grow: 1;

		@media ($mdWidth) {

			width: 100%;
			margin-top: 10px;

		}

		iframe& {

			min-height: 40vw;

		}

	}

	&__address {

		border: 2px solid var(--yellow);
		padding: 14px 23px;

		@media ($smWidth) {

			padding: 0;
			border: 0;
			margin-bottom: 24px;

			a[href^="mailto"] {

				text-decoration: underline;

			}

		}

		.h3 {

			text-transform: none;
			font-size: 24px;
			margin-bottom: 6px;
			color: var(--dark);

			@media ($smWidth) {

				font-size: 15px;

			}

			& ~ .h3 {

				margin-top: 20px;

			}

		}

		a {

			color: inherit;


			svg {

				display: inline;

			}

		}

	}

	&__geo {

		.h3 {

			font-size: 20px;

			@media ($smWidth) {

				margin-top: 20px;

			}

			& ~ .h3 {

				margin-top: 20px;

				@media ($smWidth) {

					margin-top: 30px;

				}

			}

		}

		p + p {

			margin-top: 17px;

		}

		ul li {

			padding-left: 17px;

			&::before {

				position: absolute;
				width: 8px;
				height: 1px;
				top: 10px;
				left: 0;
				content: '';
				background-color: var(--color);

			}

		}

	}

	&__foto {

		a {

			color: var(--color);
			text-decoration: underline;
			text-decoration-color: var(--color);
			transition: .3s;

			&:hover {

				text-decoration-color: color(var(--color) a(0%));

			}

		}

		@media ($smWidth) {

			img {

				max-width: 100%;
				height: auto;

			}

		}

	}

	.article {

		.flag-title {

			margin-top: 36px;

			@media ($smWidth) {

				margin-top: 30px;

			}

		}

		hr {

			margin: 20px 0;

		}

	}

}