* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
/* color: red !important;

*/
}

html {

	min-height: 100%;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;

	&.scroll-behavior-off {

		scroll-behavior: auto;

	}

}

body {

	color: var(--color);
	min-width: 320px;
	font-size: 14px;
	line-height: 1.4;
	font-family: 'Tahoma', 'Helvetica', 'Arial', sans-serif;
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: scrollbar;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow-y: scroll;
	position: relative;

	&.bg-footer {

		background-color: #292929;

	}

/* background-image: url(/css/1.png); */
background-position: center 0;
/* background-size: 1920px auto; */

	/* IE10+ CSS styles go here */
	@media (-ms-high-contrast: none), (-ms-high-contrast: active) {

		min-height: 100vh;

	}

}

a {

	color: var(--yellow);
	text-decoration: none;

	&:hover {

		cursor: pointer;
		text-decoration: none;

	}

}



::selection {

	color: #fff;
	background-color: var(--color);

}

img {

	border: 0;
	position: relative;
	vertical-align: top;

}

li {

	list-style: none;
	position: relative;

}

svg {

	display: block;

}


hr {

	height: 1px;
	border: 0;
	background-color: var(--color);

}

.color-yellow {

	color: var(--yellow);

}
.color-dark {

	color: var(--dark);

}

.rub {

	font-family: 'PT Sans RUB';

}

table {

	border: 0;
	border-collapse: collapse;

}

/*
-----------------------------------------------------------------------------*/
.notsel {

	user-select: none;

}


.h1 {

	font-family: 'Hermes', 'Impact';
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;

	@media ($mdWidth) {

		font-size: 32px;

	}

	@media ($smWidth) {

		font-size: 21px;
		color: var(--dark);

	}

}

.h2 {

	font-family: 'Hermes', 'Impact';
	font-size: 32px;
	font-weight: 400;
	text-transform: uppercase;

}

.h3 {

	font-family: 'Hermes', 'Impact';
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;

	@media ($mdWidth) {

		font-size: 24px;

	}

	@media ($smWidth) {

		font-size: 21px;
		color: var(--dark);
		text-transform: none;

	}

}

.h4 {

	font-family: 'Hermes', 'Impact';
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;

}


main,
header,
footer,
section,
article,
aside,
time {

	display: block;
	position: relative;

}

.wrapper {

	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	background-color: #fff;
	flex-grow: 1;

}

.main {

	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	@media ($smWidth) {

		padding-top: 30px;
		border-top: 2px solid var(--yellow);

	}

	@media ($xsWidth) {

		padding-top: 30px;

	}

}

.hash-detect {

	position: absolute;
	width: 1px;
	height: 1px;
	top: -40px;

}

.chk-title,
.chk-title-w {

	&::before {

		content: "";
		height: 28px;
		display: inline-block;
		margin: 0 12px 0 0;
		vertical-align: middle;
		width: 28px;
		background-color: var(--yellow);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 77 78'%3E%3Cpath d='M13.17 28.4l16.22 17.51L62.58 0l14.18 17.28-47.88 60.11L0 43.31z'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: center;

	}

	@media ($smWidth) {

		color: var(--dark);
		font: 15px/18px Hermes;
		text-transform: none;
		padding: 9px 15px 8px 10px;
		position: relative;
		margin-left: 35px;
		background-color: #fff;
		display: inline-block;

		&::before {

			width: 25px;
			height: 25px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpath fill='none' stroke='%23272827' stroke-width='2' d='M1 3.43L3.949 6 9 1'/%3E%3C/svg%3E%0A");
			border: 5px solid #fff;
			position: absolute;
			top: 0;
			left: -35px;

		}

	}

}

.chk-title-w {

	background-color: #fff;
	line-height: 28px;
	padding: 0 12px;
	margin-left: 28px;
	display: inline-block;
	position: relative;

	&::before {

		position: absolute;
		top: 0;
		left: -28px;

	}

}

.flag-title {

	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 35px;
	padding: 0 0 5px;
	position: relative;

	&::after {

		border-top: 30px solid var(--yellow);
		border-right: 35px solid transparent;
		content: "";
		position: absolute;
		bottom: -30px;
		left: 0;

	}

}

/* hidden
-----------------------------------------------------------------------------*/
.hide {

	display: none !important;

}

.visuallyhidden {

	position: absolute !important;

	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;

	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;

}

.white-space {

	white-space: nowrap;

}