* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
/* color: red !important;

*/
}

html {

	min-height: 100%;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;

	&.scroll-behavior-off {

		scroll-behavior: auto;

	}

}

body {

	color: var(--color);
	min-width: 320px;
	font-size: 14px;
	line-height: 1.4;
	font-family: 'Tahoma', 'Helvetica', 'Arial', sans-serif;
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: scrollbar;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow-y: scroll;
	position: relative;

/* background-image: url(/css/1.png); */
background-position: center 0;
/* background-size: 1920px auto; */

	/* IE10+ CSS styles go here */
	@media (-ms-high-contrast: none), (-ms-high-contrast: active) {

		min-height: 100vh;

	}

}

a {

	color: var(--yellow);
	text-decoration: none;

	&:hover {

		cursor: pointer;
		text-decoration: none;

	}

}



::selection {

	color: #fff;
	background-color: var(--color);

}

img {

	border: 0;
	position: relative;
	vertical-align: top;

}

li {

	list-style: none;
	position: relative;

}

svg {

	display: block;

}


hr {

	height: 1px;
	border: 0;
	background-color: var(--color);

}

.color-yellow {

	color: var(--yellow);

}
.color-dark {

	color: var(--dark);

}

.rub {

	font-family: 'PT Sans RUB';

}

table {

	border: 0;
	border-collapse: collapse;

}

/*
-----------------------------------------------------------------------------*/
.notsel {

	user-select: none;

}

.h1 {

	font-family: 'Hermes', 'Impact';
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;

	@media ($mdWidth) {


	}

	@media ($smWidth) {


	}

}

.h2 {


}

.h3 {

	font-family: 'Hermes', 'Impact';
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;

}

.h4 {

	font-family: 'Hermes', 'Impact';
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;

}


main,
header,
footer,
section,
article,
aside,
time {

	display: block;
	position: relative;

}

.wrapper {

	position: relative;
	overflow: hidden;
	flex-shrink: 0;

}

.main {

	display: flex;
	flex-direction: column;
	flex-shrink: 0;

}

/* hidden
-----------------------------------------------------------------------------*/
.hide {

	display: none !important;

}

.visuallyhidden {

	position: absolute !important;

	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;

	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;

}

.white-space {

	white-space: nowrap;

}