.delivery-and-payment {

	margin-bottom: 30px;

	&__card {

		display: flex;
		flex-wrap: wrap;
		margin: 10px -10px 40px;

		&-item {

			position: relative;
			width: 214px;
			height: 204px;
			border: 2px solid var(--yellow);
			margin: 10px;

			&::before {

				border-bottom: 82px solid var(--yellow);
				border-left: 82px solid transparent;
				content: "";
				position: absolute;
				bottom: 0;
				right: 0;

			}

			figcaption {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 15px 24px;

			}

			b {

				position: absolute;
				color: #565656;
				bottom: 8px;
				right: 7px;
				text-transform: none;

			}

			img {

				position: absolute;
				top: 0;
				left: 0;

			}

		}

	}

	.chk-title-w {

		font-weight: 400;
		font-size: 14px;
		margin-bottom: 20px;
		line-height: 20px;
		padding: 4px 12px;

	}

	.chk-title-w-list {

		display: flex;
		flex-direction: column;
		align-items: flex-start;

	}

}