.discounts {

	margin-bottom: 36px;

	@media ($smWidth) {

		font-size: 12px;
		line-height: 1.33;
		color: var(--dark);
		margin-bottom: 0;

	}

	&__title {

		@media ($mdWidth) {

			text-transform: none;
			margin-bottom: 10px;
			color: var(--dark);

		}

	}

	&__top {

		display: flex;
		margin: 20px 0;
		align-items: flex-start;

		@media ($smWidth) {

			display: block;
			margin: 0;

		}

		&-text {

			flex-grow: 1;
			padding-right: 128px;

			@media ($mdWidth) {

				padding-right: 15px;

			}

			@media ($smWidth) {

				padding: 0;

			}

			p {

				margin-bottom: 1em !important;
				line-height: 20px !important;

			}

		}

		&-list {

			width: 272px;
			flex-shrink: 0;
			background-color: var(--yellow);
			padding: 10px 0 10px 52px;
			position: relative;

			@media ($smWidth) {

				width: auto;
				padding: 20px 0 20px 40px;
				margin: 25px 0 30px;

				li::before {

					width: 10px;
					height: 8px;
					margin: 0;
					top: 5px;
					left: -20px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpath fill='none' stroke='%23272827' stroke-width='2' d='M1 3.43L3.949 6 9 1'/%3E%3C/svg%3E%0A");

				}

				& + li {

					margin-top: 10px;

				}

			}

			li {

				line-height: 18px;
				padding: 0;

				&::before {

					position: absolute;
					width: 21px;
					height: 21px;
					top: 50%;
					margin-top: -10px;
					left: -30px;
					content: '';
					background-size: contain;
					background-repeat: no-repeat;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 77 78'%3E%3Cpath d='M13.17 28.4l16.22 17.51L62.58 0l14.18 17.28-47.88 60.11L0 43.31z'/%3E%3C/svg%3E%0A");

				}

				& + li {

					margin-top: 12px;

				}

			}

			&::after {

				position: absolute;
				width: calc((100vw - var(--widthScrollBar) - var(--widthCenter)) / 2);
				top: 0;
				left: 100%;
				bottom: 0;
				content: '';
				background-color: var(--yellow);

			}

		}

	}

	&__cards {

		display: flex;
		justify-content: space-between;
		margin: 26px 0;

		@media ($smWidth) {

			flex-wrap: wrap;
			margin: 15px -20px;

		}

		&-item {

			position: relative;

			&::before {

				position: absolute;
				width: 155px;
				height: 1px;
				left: 80px;
				bottom: 0;
				background-color: #eee;
				content: '';

			}

			@media ($mdWidth) {

				img {

					max-width: 90%;
					height: auto;

				}

			}

			@media ($smWidth) {

				margin: 15px 20px;

				img {

					max-width: 140px;

				}

				&::before {

					left: 38px;
					width: 80px;

				}

			}

		}

	}

	&__card-use {

		display: flex;
		justify-content: space-between;
		margin: 26px 0;

		@media ($smWidth) {

			display: block;
			margin: 30px 0;

			img {

				width: 100px;
				height: 100px;
				position: absolute;
				top: 0;
				left: 0;

			}

		}

		@media ($xsWidth) {

			margin: 20px 0 30px;

		}

		&-item {

			border: 2px solid var(--yellow);
			width: 270px;
			position: relative;

			@media ($mdWidth) {

				width: calc(100% / 3 - 10px);

			}

			@media ($smWidth) {

				display: block;
				width: 100%;
				height: 100px;
				margin: 10px 0;

			}

		}

		figcaption {

			position: absolute;
			left: 28px;
			right: 10px;
			bottom: 32px;
			font-size: 16px;
			line-height: 20px;

			@media ($mdWidth) {

				left: 18px;
				bottom: 18px;
				font-size: 14px;

			}

			@media ($smWidth) {

				font-size: 12px;
				line-height: 16px;
				color: var(--dark);
				left: 128px;
				top: 10px;
				bottom: 10px;
				display: flex;
				align-items: center;

			}

		}

	}

	&__more {

		@media ($smWidth) {

			background-color: #f7f7f7;
			margin: 40px -20px 0;
			padding: 35px 20px;

			h3 {

				margin: 20px 0 10px;
				text-transform: none !important;

			}

		}

		@media ($xsWidth) {

			margin: 20px -10px 0;
			padding: 30px 10px;

		}

		&-row {

			display: flex;
			margin: 72px 0 36px;

			@media ($mdWidth) {

				display: block;

			}

			@media ($smWidth) {

				margin: 0;

			}

		}

		&-gray {

			background-color: #eee;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 60px;
			padding: 12px 24px 0 0;

			@media ($smWidth) {

				background-color: transparent;
				display: block;
				margin: 0;
				padding: 0;

				&::before,
				&::after {

					display: none;

				}

				img {

					max-width: 200px;
					height: auto;
					display: block;
					margin: 25px 0 8px;

				}

			}

			img {

				flex-shrink: 0;

			}

			&::before {

				border-left: 55px solid transparent;
				border-bottom: 45px solid #eee;
				content: "";
				position: absolute;
				top: -44px;
				left: 0;

			}

			&::after {

				position: absolute;
				width: 100vw;
				top: 0;
				right: 100%;
				bottom: 0;
				content: '';
				background-color: #eee;

			}

		}

		&-left {

			flex-grow: 1;

		}

		&-right {

			width: 272px;
			flex-shrink: 0;
			border: 2px solid #eee;
			padding: 12px 31px;

			@media ($mdWidth) {

				width: auto;
				border-top: 0;
				padding: 14px 20px;

			}

			@media ($smWidth) {

				background-color: transparent;
				width: auto;
				border: 0;
				padding: 0;

			}

		}

		&-list-check {

			width: 256px;
			font-size: 15px;
			line-height: 20px;

			@media ($smWidth) {

				font: 12px/16px Tahoma, 'Helvetica';
				text-transform: none;
				width: auto;
				color: var(--dark);
				margin-bottom: 20px;

				br {

					display: none;

				}

				li {

					margin-left: 20px;

				}

			}

			li {

				& + li {

					margin-top: 12px;

					@media ($smWidth) {

						margin-top: 10px;

					}

				}

				&::before {

					position: absolute;
					width: 21px;
					height: 21px;
					top: 8px;
					left: -40px;
					content: '';
					background-size: contain;
					background-repeat: no-repeat;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 77 78'%3E%3Cpath d='M13.17 28.4l16.22 17.51L62.58 0l14.18 17.28-47.88 60.11L0 43.31z'/%3E%3C/svg%3E%0A");

					@media ($smWidth) {

						position: absolute;
						width: 10px;
						height: 8px;
						top: 5px;
						left: -20px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpath fill='none' stroke='%23272827' stroke-width='2' d='M1 3.43L3.949 6 9 1'/%3E%3C/svg%3E%0A");

					}

				}

			}

		}

		&-list {

			li {

				margin-top: 12px;
				line-height: 17px;

			}

		}

	}

}