.documents {

	display: flex;
	flex-wrap: wrap;
	margin: -10px;
	padding-top: 20px;

	@media ($mdWidth) {

		padding: 0;

	}

	@media ($smWidth) {

		margin: 0;
		display: block;

	}

	&__item {

		margin: 10px 9px;
		width: 375px;
		min-height: 170px;
		border-radius: 6px;
		box-shadow: 0 0 49px rgba(9, 9, 9, 0.09);
		background-color: #fff;
		position: relative;
		padding: 20px 30px 60px 82px;

		@media ($mdWidth) {

			width: calc(50% - 18px);

		}

		@media ($smWidth) {

			width: 100%;
			margin: 20px 0;
			min-height: 108px;
			padding: 16px 30px 50px 72px;

		}

		&[data-type]::after {

			position: absolute;
			pointer-events: none;
			bottom: 30px;
			left: 30px;
			content: attr(data-type);
			font-size: 10px;
			font-weight: 600;
			line-height: 20px;
			text-align: center;
			color: #fff;
			width: 33px;
			border-radius: 3px;
			text-transform: uppercase;
			background-image: linear-gradient(220deg, var(--red), var(--rusty-red));

			@media ($smWidth) {

				bottom: 20px;
				left: 20px;

			}

		}

		&[data-size]::before {

			position: absolute;
			pointer-events: none;
			bottom: 30px;
			left: 82px;
			content: attr(data-size);
			font-size: 10px;
			line-height: 20px;
			font-size: 12px;
			color: #95959c;

			@media ($smWidth) {

				bottom: 20px;
				left: 72px;

			}

		}

	}

	&__link {

		font-size: 16px;
		line-height: 30px;
		color: var(--tealish);
		text-decoration: underline;

		@media ($smWidth) {

			font-size: 14px;
			line-height: 20px;

		}

		&:hover {

			text-decoration: none;

		}

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';

		}

		&::before {

			position: absolute;
			top: 28px;
			left: 30px;
			width: 33px;
			height: 39px;
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='39' viewBox='0 0 33 39'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='84.722%25' x2='50%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23D10808'/%3E%3Cstop offset='100%25' stop-color='%23A41212'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23a)' fill-rule='evenodd' d='M27.625 0H4.875A4.874 4.874 0 0 0 0 4.875v29.25A4.874 4.874 0 0 0 4.875 39h22.75a4.874 4.874 0 0 0 4.875-4.875V4.875A4.874 4.874 0 0 0 27.625 0zm1.625 34.125c0 .898-.727 1.625-1.625 1.625H4.875a1.625 1.625 0 0 1-1.625-1.625V4.875c0-.898.727-1.625 1.625-1.625h22.75c.898 0 1.625.727 1.625 1.625v29.25zm-6.5-6.5h-13a1.625 1.625 0 0 0 0 3.25h13a1.625 1.625 0 0 0 0-3.25zm0-6.5h-13a1.625 1.625 0 0 0 0 3.25h13a1.625 1.625 0 0 0 0-3.25zm0-6.5h-13a1.625 1.625 0 0 0 0 3.25h13a1.625 1.625 0 0 0 0-3.25zm-13-3.25h6.5a1.625 1.625 0 0 0 0-3.25h-6.5a1.625 1.625 0 0 0 0 3.25z'/%3E%3C/svg%3E%0A");

			@media ($smWidth) {

				top: 18px;
				left: 20px;

			}

		}

	}

}