.filter {

	&__header {

		margin-bottom: 20px;

		&-item {

			margin-bottom: 5px;

		}

	}

	&__form {

		position: relative;

	}

	&__fieldset {

		position: relative;
		border: 0;
		margin: 22px 0 6px;
		border-radius: 0;
		display: block;

	}

	&__legend {

		margin: 0 0 4px;

	}

	&__slider {

		margin-bottom: 6px;

	}

	&__checkbox {

		margin-bottom: 2px;
		position: relative;

	}

	&__result-ajax {

		font-size: 13px;
		position: absolute;
		z-index: 9;
		white-space: nowrap;
		color: #3f3f3f;
		border-radius: 3px;
		background-color: #fff;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
		border: 2px solid var(--yellow);
		padding: 12px 20px;
		left: 100%;
		top: 0;
		display: flex;
		pointer-events: none;
		opacity: 0;
		transition: .3s;

		&.is-show {

			opacity: 1;
			pointer-events: auto;

		}

		&-count {

			padding: 0 5px;

		}

		.btn {

			font-weight: inherit;
			font-size: inherit;
			color: var(--blue);

		}

		&::after,
		&::before {

			position: absolute;
			top: 8px;
			left: -26px;
			content: '';
			border-top: 26px solid var(--yellow);
			border-left: 26px solid transparent;

		}

		&::after {

			border-top-color: #fff;
			left: -22px;
			top: 10px;

		}

	}

	&__submit {

		width: 234px;
		margin: 24px auto 0;

	}

}