@font-face {
	font-family: 'PT Sans RUB';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/pt-sans-ruble.woff2') format('woff2'),
		 url('/fonts/pt-sans-ruble.woff') format('woff');
}


@font-face {
	font-family: 'Hermes';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Hermes Regular'), local('Hermes-Regular'),
		 url('/fonts/Hermes.otf') format('truetype');
}