.footer {

	color: #fff;
	background: #202020 url(/img/footer/bg-footer.jpg) center top no-repeat;
	flex-shrink: 0;
	margin-top: 4px;

	@media ($smWidth) {

		background: #202020;
		margin-top: 0;

	}

	a {

		color: #fff;

	}

	&__top {

		display: flex;
		justify-content: space-between;
		padding: 14px 0 42px;

		@media ($smWidth) {

			padding: 20px 0;
			flex-direction: column-reverse;

		}

	}

	&__contacts {

		width: 270px;
		flex-shrink: 0;

		@media ($mdWidth) {

			width: 200px;

		}

		@media ($smWidth) {

			width: 100%;
			display: flex;
			flex-wrap: wrap;

		}

		&-head {

			@media ($smWidth) {

				font-family: Hermes;
				font-size: 14px;
				line-height: 26px;
				color: #777;

			}

		}

		&-item {

			margin-top: 14px;
			color: #858585;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			position: relative;
			line-height: 17px;

			&:first-child {

				margin-top: 4px;

				@media ($smWidth) {

					margin-top: 14px;

				}

			}

			@media ($smWidth) {

				width: 50%;

			}

		}

	}

	&__whatsapp {

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;

		span {

			display: flex;
			align-items: center;

		}

		svg {

			fill: var(--yellow);
			flex-shrink: 0;
			margin-right: 5px;

		}

	}

	&__social {

		ul {

			margin-top: 6px;
			display: flex;

			@media ($smWidth) {

				margin: 0 -5px;

			}

		}

		li {

			margin-right: 8px;

			@media ($smWidth) {

				margin: 5px;

			}

		}

		a {

			display: block;
			height: 34px;
			width: 34px;
			transition: .3s;
			background-color: #858585;
			position: relative;
			transition: .3s;
			border-radius: 50%;

			@media ($smWidth) {

				border-radius: 0;
				background-color: #292929;

				svg {

					fill: #fff;

				}

			}

			@media ($xsWidth) {

				height: 30px;
				width: 30px;

			}

			&:hover {

				background-color: var(--yellow);

				svg {

					fill: #202020;

				}

			}

		}

		svg {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			fill: #202020;
			transition: .3s;

		}

	}

	&__menu {

		width: 668px;
		padding-right: 48px;
		display: flex;
		justify-content: space-between;
		position: relative;

		@media ($mdWidth) {

			padding: 0;

		}

		@media ($smWidth) {

			width: 100%;
			flex-wrap: wrap;

			ul {

				width: 50%;

			}

			li {

				margin-bottom: 8px;

				a {

					color: var(--yellow);
					font-size: 13px;
					line-height: 16px;
					border-bottom: 1px solid;

				}

			}

		}

		&-reviews {

			position: absolute;
			right: 0;
			bottom: 0;

			display: flex;
			align-items: center;

			@media ($smWidth) {

				width: 50%;
				position: relative;

			}

			img {

				width: 120px;
				height: 80px;

				@media ($smWidth) {

					width: 90px;
					height: 60px;

				}

			}

		}

		li a {

			font-size: 15px;
			line-height: 22px;
			border-bottom: 1px solid transparent;
			transition: .3s;

			&:hover {

				color: var(--yellow);
				border-bottom-color: var(--yellow);

			}

		}

	}

	&__paymend {

		background-image: linear-gradient(to right, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
		padding: 20px 0 32px;
		position: relative;
		display: flex;
		align-items: center;

		@media ($mdWidth) {

			display: block;
			background: #292929;
			margin: 0 -15px;
			padding: 10px 20px 25px;

		}

		@media ($smWidth) {

			margin: 0 -10px;
			padding: 10px 10px 25px;

		}

		&-system {

			font-size: 12px;
			line-height: 14px;
			display: flex;
			align-items: center;

			img {

				margin-left: 10px;
				flex-shrink: 0;

				@media ($mdWidth) {

					margin-left: 26px;
					width: 39px;
					height: 34px;

				}

			}

			@media ($mdWidth) {

				justify-content: flex-start;
				margin-top: 26px;

			}

		}

		&::after {

			background-color: rgba(255, 255, 255, 0.04);
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 100%;
			width: 100vw;

		}

		ul {

			display: flex;
			align-items: center;

			@media ($smWidth) {

				margin: 20px -7px;

			}

			@media ($xsWidth) {

				margin: 10px 0;
				justify-content: space-between;

			}

		}

		li {

			margin-right: 22px;
			flex-shrink: 0;

			@media ($mdWidth) {

				margin: 7px;

				img {

					width: 34px;
					height: 34px;

 				}

			}

			@media ($xsWidth) {

				margin: 0;

			}

		}

	}

}