.footer {

	color: #fff;
	background: #202020 url(/img/footer/bg-footer.jpg) center top no-repeat;
	flex-shrink: 0;
	margin-top: 4px;

	a {

		color: #fff;

	}

	&__top {

		display: flex;
		justify-content: space-between;
		padding: 14px 0 42px;

	}

	&__contacts {

		width: 270px;
		flex-shrink: 0;

		&-item {

			margin-top: 14px;
			color: #858585;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			position: relative;
			line-height: 17px;

			&:first-child {

				margin-top: 4px;

			}

		}

	}

	&__whatsapp {

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;

		span {

			display: flex;

		}

		svg {

			fill: var(--yellow);
			flex-shrink: 0;
			margin-right: 5px;

		}

	}

	&__social {

		ul {

			margin-top: 6px;
			display: flex;

		}

		li {

			margin-right: 8px;

		}

		a {

			display: block;
			height: 34px;
			width: 34px;
			transition: .3s;
			background-color: #858585;
			position: relative;
			transition: .3s;
			border-radius: 50%;

			&:hover {

				background-color: var(--yellow);

				svg {

					fill: #202020;

				}

			}

		}

		svg {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			fill: #fff;
			transition: .3s;

		}

	}

	&__menu {

		width: 668px;
		padding-right: 48px;
		display: flex;
		justify-content: space-between;

		a {

			font-size: 15px;
			line-height: 22px;
			border-bottom: 1px solid transparent;
			transition: .3s;

			&:hover {

				color: var(--yellow);
				border-bottom-color: var(--yellow);

			}

		}

	}

	&__paymend {

		background-image: linear-gradient(to right, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
		padding: 20px 0 32px;
		position: relative;

		&::after {

			background-color: rgba(255, 255, 255, 0.04);
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 100%;
			width: 100vw;

		}

		ul {

			display: flex;
			align-items: center;

		}

		li {

			font-size: 12px;
			line-height: 14px;
			margin-right: 22px;
			display: flex;
			align-items: center;
			flex-shrink: 0;

			span + img {

				margin-left: 10px;

			}

		}

	}

}