.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: .3s;
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: 0;
	color: transparent;
	text-align: center;
	white-space: nowrap;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&[disabled] {

		pointer-events: none;

	}

}


.btn {

	display: block;
	text-align: center;
	vertical-align: middle;
	position: relative;
	white-space: nowrap;

	padding: 0 30px;

	height: 46px;
	font-size: 14px;
	line-height: 46px;
	font-weight: 400;
	text-align: center;
	color: #555;
	border-radius: 0px;
	background-color: transparent;

	&--yellow {

		color: #111;
		background-color: var(--yellow);

		&:hover {

			color: #fff;
			background-color: #4e4e4e;

		}

		@media ($smWidth) {

			height: 50px;
			font: 15px/50px Hermes;
			color: var(--dark);

		}

	}

	&--download {

		background-color: var(--yellow);
		padding: 0 20px 0 80px;
		display: inline-block;

		&:hover {

			color: #fff;
			background-color: #4e4e4e;

			svg {

				fill: var(--yellow);

			}

			&::before {

				background-color: #fff;

			}

		}

		&::before {

			position: absolute;
			width: 2px;
			height: 14px;
			top: 0;
			left: 60px;
			bottom: 0;
			margin: auto;
			content: '';
			background-color: var(--color);
			transition: .3s;

		}

		svg {

			position: absolute;
			top: 12px;
			left: 18px;
			color: #555;
			transition: .3s;

		}

	}

	&--gray {

		background-color: #eee;

		&:hover {

			background-color: #dadada;

		}

	}

	&--dark {

		color: #fff;
		background-color: #4e4e4e;
		transition: background-color .3s, color .3s;

		&:hover {

			color: #111;
			background-color: var(--yellow);

		}

		&[data-open].is-open {

			&::before {

				color: #fff;
				font-size: 14px;

			}

			&:hover::before {

				color: #111;

			}

		}

	}

	&--link {

		font-weight: 700;
		padding: 0;
		height: 18px;
		line-height: 18px;
		border-bottom: 1px solid;

		&:hover {

			border-bottom-color: transparent;

		}

	}

	&--user {

		padding-right: 78px;

		&::before {

			position: absolute;
			width: 2px;
			top: 14px;
			right: 50px;
			bottom: 12px;
			background-color: var(--color);
			transition: .3s;
			content: '';

		}

		svg {

			position: absolute;
			top: 14px;
			right: 15px;
			fill: var(--dark);
			transition: .3s;

		}

		&:hover {

			&::before {

				background-color: #fff;

			}

			svg {

				fill: var(--yellow);

			}

		}

	}

	&--user&--gray {

		&:hover {

			&::before {

				background-color: var(--color);

			}

			svg {

				fill: var(--color);

			}

		}

	}

	&--more {

		width: 100%;
		color: #fff;
		background-color: #4e4e4e;

		&:hover {

			color: var(--color);
			background-color: var(--yellow);

		}

	}

	&--compare,
	&--bookmark {

		color: #343434;
		padding: 0;
		font-size: 12px;
		line-height: 18px;
		height: 18px;
		border-bottom: 1px dashed;
		margin-left: 20px;

		&::after {

			position: absolute;
			width: 15px;
			height: 16px;
			top: 2px;
			left: -20px;
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='16' viewBox='0 0 15 16'%3E%3Cg fill='%235b5b5b'%3E%3Cpath d='M0 15V2h11v13zM9 4H2v9h7z'/%3E%3Cpath d='M12 13V1H2V0h11v13z'/%3E%3C/g%3E%3C/svg%3E%0A");

		}

		&.in-compare,
		&.in-bookmark {

			font-size: 0;
			color: transparent;

			&::before {

				content: attr(data-in-compare);
				color: #343434;
				font-size: 12px;
				border-bottom: 1px dotted;
				transition: .3s;

			}

		}

		&.is-link {

			border-bottom-style: solid;
			display: inline-block;
			vertical-align: middle;

		}

		&.is-text {

			border-bottom: none;
			display: inline-block;
			vertical-align: middle;
			cursor: default;

		}

		&:hover {

			border-bottom-color: transparent;

			&::before {

				border-bottom-color: transparent;

			}

		}

	}

	&--bookmark {

		&::after {

			top: 2px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='16'%3E%3Cpath fill='%235b5b5b' d='M12 7V0l3 7h-3zM0 16V0h11v16l-5.5-3L0 16zm10-3V1H1v12l5-2 4 2z'/%3E%3C/svg%3E%0A");

		}

		&.in-bookmark {

			&::before {

				content: attr(data-in-bookmark);

			}

		}

	}

	&--cart {

		@media ($desktop) {

			color: #fff;
			background-color: #4e4e4e;
			padding-right: 70px;
			min-width: 164px;

			&::after {

				position: absolute;
				width: 46px;
				top: 0;
				right: 0;
				bottom: 0;
				content: '';
				transition: .3s;
				background-color: var(--dark);
				background-position: center;
				background-size: 22px auto;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 78'%3E%3Cg fill='%23fff95a'%3E%3Cpath d='M40.27.52a1.63 1.63 0 01-.09 2.3L12.25 29.14A1.62 1.62 0 0110 29a1.62 1.62 0 01.09-2.3L38 .43a1.63 1.63 0 012.3.09zM73.39 28.68a1.63 1.63 0 01-2.18.72l-27.79-17a1.62 1.62 0 01-.71-2.18 1.62 1.62 0 012.18-.72l27.79 17a1.62 1.62 0 01.72 2.18zM56.6 60.45H22.4a1.8 1.8 0 100 3.6h34.3a1.79 1.79 0 001.8-1.8 1.88 1.88 0 00-1.9-1.8z'/%3E%3Cpath d='M73.5 26.55h-3.8l-.27-.25H64l.16.15h-49l.17-.15H10l-.28.25H6.1a6.06 6.06 0 00-6.1 6.1V35a6.1 6.1 0 003.1 5.3l6.4 33.2a4.4 4.4 0 004.6 3.5H66a4 4 0 004-2.8V74l6.5-33.8a6.22 6.22 0 003.1-5.3v-2.4a6 6 0 00-6.1-5.95zm-7.1 46.7c0 .1-.1.1-.5.1H14.1c-.2 0-.8 0-.9-.5L7 41h65.6zM75.9 35a2.43 2.43 0 01-2.4 2.4H6.1A2.43 2.43 0 013.7 35v-2.4a2.43 2.43 0 012.4-2.4h67.4a2.43 2.43 0 012.4 2.4z'/%3E%3Cpath d='M20.2 53.75h38.5a1.8 1.8 0 000-3.6H20.1A1.79 1.79 0 0018.3 52a1.88 1.88 0 001.9 1.75z'/%3E%3C/g%3E%3C/svg%3E%0A");

			}

			&.in-cart {

				font-size: 0;
				color: transparent;
				background-color: var(--dark);

				&::after {

					background-color: #4e4e4e;

				}

				&::before {

					content: attr(data-in-cart);
					font-size: 14px;
					color: #fff;

				}

				&:hover::before {

					content: attr(data-delete);

				}

			}

			&:hover {

				background-color: var(--yellow);
				color: var(--dark);

				&::after {

					background-color: #4e4e4e;

				}

				&::before {

					color: var(--dark);

				}

			}

		}

		@media ($mdWidth) {

			min-width: 140px;
			height: 50px;
			padding: 0 25px 0 56px;
			background-color: var(--dark);

			font-size: 0;
			color: transparent;
			background-color: var(--dark);

			&::before {

				color: #fff;
				content: attr(data-mobile);
				font: 15px/50px Hermes;

			}

			&::after {

				position: absolute;
				width: 19px;
				height: 18px;
				top: 16px;
				left: 25px;
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' viewBox='0 0 19 18'%3E%3Cg fill='%23FFF95A' fill-rule='evenodd'%3E%3Cpath d='M17.984 3.502H6.68c-.368 0-.578.285-.469.636L8 9.376c.088.283.4.512.696.512h7.41a.772.772 0 00.696-.512l1.558-5.361c.089-.283-.08-.513-.376-.513z'/%3E%3Ccircle cx='8.703' cy='15.922' r='1.691'/%3E%3Ccircle cx='15.858' cy='15.943' r='1.691'/%3E%3Cpath d='M17.888 11.609h-9.89L4.04.218H.957a.957.957 0 100 1.914h1.721l3.959 11.392h11.25a.957.957 0 100-1.915z'/%3E%3C/g%3E%3C/svg%3E%0A");

			}

		}

	}

	&--dotted {

		display: inline-block;
		color: #010101;
		padding: 0;
		font-size: 12px;
		line-height: 18px;
		height: 18px;
		border-bottom: 1px dotted;
		transition: border-color .3s;

		&:hover {

			border-bottom-color: transparent;

		}

		&[data-open].is-open {

			&::before {

				color: #010101;
				font-size: 12px;
				border-bottom: 1px dotted;

			}

			&:hover::before {

				border-bottom-color: transparent;

			}

		}

	}

	&--write {

		padding: 0 85px 0 50px;
		background-color: #fff;
		border: 2px solid #4e4e4e;
		line-height: 42px;

		&:hover {

			background-color: var(--yellow);
			color: var(--dark);
			border-color: var(--yellow);

			&::after {

				background-color: var(--dark);

			}

			&::before {

				background-color: var(--yellow);

			}

			svg {

				fill: var(--dark);

			}

		}

		&::after,
		&::before {

			position: absolute;
			width: 48px;
			top: 0;
			right: 0;
			bottom: 0;
			content: '';
			background-color: #858585;
			transition: .3s;

		}

		&::after {

			width: 2px;
			height: 20px;
			right: 46px;
			margin: auto;
			background-color: transparent;

		}

		svg {

			position: absolute;
			top: 10px;
			right: 8px;
			fill: #fff;
			transition: .3s;

		}

	}

	&--tab {

		border: 2px solid #eee;
		font-weight: bold;
		padding: 0 10px;
		height: 26px;
		line-height: 22px;

		&:hover,
		&.is-active {

			border-color: var(--yellow);
			background-color: var(--yellow);

		}

	}

	&--add {

		padding: 0 10px;
		line-height: 18px;
		height: 22px;
		border: 2px solid var(--yellow);
		background-color: #fff;

		&:hover {

			color: var(--dark);
			background-color: var(--yellow);

		}

		&.in-cart {

			font-size: 0;
			color: transparent;

			&::before {

				font-size: 14px;
				color: var(--color);
				content: attr(data-in-cart);

			}

			&:hover::before {

				content: attr(data-delete);

			}

		}

	}

}

.input {

	height: 34px;
	line-height: 24px;
	border-radius: 0;

	padding: 5px 10px;

	font-size: 16px;
	color: var(--color);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px); /* FIX for iOS safari https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/5 */

	background-color: #eee;
	border: 0;

	textarea& {

		resize: none;
		height: 100px;
		overflow: auto;

	}

	&::placeholder {

		color: var(--color);
		opacity: 1;
		font-size: 14px;

	}

	&::-ms-clear {

		display: none;

	}

	&:-webkit-autofill {

		animation-name: autofill;
		animation-fill-mode: both;

	}

	&:hover {

		background-color: #dadada;

	}

	&:focus {

		outline: none;
		background-color: #dadada;

		&::placeholder {

			opacity: 1;

		}

	}

	&[disabled] {

		pointer-events: none;

	}

	&--error {

		background-color: color(var(--error) a(25%)) !important;

	}

	&:invalid {

		box-shadow: none;

	}

}

@keyframes autofill {

	to {

		color: var(--color);
		background-color: #eee;

	}

}


.checkbox {

	display: block;
	position: relative;
	cursor: pointer;

	&__input {

		position: absolute;
		width: 1px;
		height: 1px;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;

	}

	&__label {

		display: block;
		padding-left: 28px;

		&::before {

			width: 12px;
			height: 12px;
			border: solid 2px #5a5a5a;
			position: absolute;
			top: 0;
			left: 0;
			content: '';

		}

	}

	&:hover &__label::before {

		border-color: var(--color);

	}

	&--error &__label::before {

		border-color: var(--error);

	}

	&__input[type="checkbox"]:checked + &__label::before {

		background-color: var(--yellow);
		border-color: transparent;

	}

	&__input[type="checkbox"]:checked + &__label::after {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 83'%3E%3Cpath d='M75 3.73a5.44 5.44 0 01-1.44 2.84c-2.91 3.58-5.84 7.13-8.66 10.78-1.75 2.27-3.29 4.71-5 7.06A282.89 282.89 0 0044 50.25q-7.8 14-14.33 28.56a9.34 9.34 0 01-.72 1.36 5.08 5.08 0 01-8.47 0c-2-2.91-4.06-5.83-6.09-8.74L.71 51.82a3.55 3.55 0 011.88-5.57 3.45 3.45 0 013.77 1.18c1.52 1.77 3 3.55 4.54 5.32l12.36 14.53.32.36.3-.58c5.42-10.48 11.38-20.63 17.77-30.54C46.5 29 51.73 21.71 57.22 14.62c2.29-3 4.84-5.7 7.27-8.55q2.09-2.46 4.25-4.87a3.56 3.56 0 015.88.8c.1.21.18.42.27.63l.11 1.1'/%3E%3C/svg%3E%0A");
		background-size: contain;
		position: absolute;
		width: 13px;
		height: 14px;
		top: -3px;
		left: 4px;
		content: '';

	}

	&__input[type="radio"] + &__label::before {

		border-radius: 50%;

	}

	&__input[type="radio"]:checked + &__label::before {

		border-color: var(--color);
		background-color: var(--color);
		box-shadow: inset 0 0 0 4px var(--yellow);

	}


}

/*


.select {

	display: block;
	position: relative;
	border-radius: 4px;
	background-color: color(#e5ebf3 a(15%));

	&::after {

		position: absolute;
		width: 20px;
		height: 20px;
		top: 10px;
		right: 13px;
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='M13.418 7.859a.695.695 0 0 1 .978 0 .68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83a.68.68 0 0 1 0-.969.695.695 0 0 1 .978 0L10 11l3.418-3.141z'/%3E%3C/svg%3E%0A");
		transition: .3s;
		pointer-events: none;

	}

	&--open::after {

		transform: scale(-1);

	}


	&--open &__value {

		color: #fff;

	}

	&--open &__list {

		opacity: 1;
		pointer-events: auto;
		transform: translate3d(0, 0, 0);

	}

	&__value {

		display: block;
		position: relative;
		cursor: pointer;
		line-height: 40px;
		padding: 10px 40px 10px 15px;
		font-size: 16px;
		line-height: 1.25;
		color: color(#fff a(50%));
		z-index: 1;
		transition: color .3s;
		user-select: none;

		&-inner {

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;

		}

		@media ($mdWidth) {

			pointer-events: none;

		}

	}

	&__list {

		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin-top: 10px;
		border-radius: 8px;
		box-shadow: 0 0 30px rgba(0, 61, 95, 0.3);
		background-color: #fff;
		padding: 10px 0;
		z-index: 5;
		opacity: 0;
		pointer-events: none;
		transform: translate3d(0, -10px, 0);
		transition: opacity 0.3s 0s, transform 0.3s 0s;

		&-item {

			padding: 5px 20px;
			font-size: 16px;
			line-height: 1.25;
			color: var(--color);
			transition: .3s;
			width: 100%;
			text-align: left;
			display: block;
			white-space: normal;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {

				color: var(--color);

			}

		}

		@media ($mdWidth) {

			display: none;

		}

	}

	select {

		position: absolute;
		width: 100%;
		height: 40px;
		top: 0;
		left: 0;
		opacity: 0;

	}

} */