.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: .3s;
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: 0;
	color: transparent;
	text-align: center;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&[disabled] {

		pointer-events: none;

	}

}


.btn {

	display: block;
	text-align: center;
	vertical-align: middle;
	position: relative;
	white-space: nowrap;

	padding: 0 30px;

	height: 46px;
	font-size: 14px;
	line-height: 46px;
	font-weight: 400;
	text-align: center;
	color: #555;
	border-radius: 0px;
	background-color: transparent;

	&--yellow {

		color: #111;
		background-color: var(--yellow);

		&:hover {

			color: #fff;
			background-color: #4e4e4e;

		}

	}

	&--gray {

		background-color: #eee;

		&:hover {

			background-color: #dadada;

		}

	}

	&--link {

		font-weight: 700;
		padding: 0;
		height: 18px;
		line-height: 18px;
		border-bottom: 1px solid;

		&:hover {

			border-bottom-color: transparent;

		}

	}

	&--user {

		padding-right: 78px;

		&::before {

			position: absolute;
			width: 2px;
			top: 14px;
			right: 50px;
			bottom: 12px;
			background-color: var(--color);
			transition: .3s;
			content: '';

		}

		svg {

			position: absolute;
			top: 14px;
			right: 15px;
			fill: var(--dark);
			transition: .3s;

		}

		&:hover {

			&::before {

				background-color: #fff;

			}

			svg {

				fill: var(--yellow);

			}

		}

	}

}

.input {

	height: 34px;
	line-height: 24px;
	border-radius: 0;

	padding: 5px 10px;

	font-size: 16px;
	color: var(--color);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px); /* FIX for iOS safari https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/5 */

	background-color: #eee;
	border: 0;

	textarea& {

		resize: none;
		height: 100px;
		overflow: auto;

	}

	&::placeholder {

		color: var(--color);
		opacity: 1;
		font-size: 14px;

	}

	&::-ms-clear {

		display: none;

	}

	&:-webkit-autofill {

		animation-name: autofill;
		animation-fill-mode: both;

	}

	&:hover {

		background-color: #dadada;

	}

	&:focus {

		outline: none;
		background-color: #dadada;

		&::placeholder {

			opacity: 1;

		}

	}

	&[disabled] {

		pointer-events: none;

	}

	&--error {

		background-color: color(var(--error) a(25%)) !important;

	}

	&:invalid {

		box-shadow: none;

	}

}

@keyframes autofill {

	to {

		color: var(--color);
		background-color: #eee;

	}

}


.checkbox {

	display: block;
	position: relative;
	cursor: pointer;

	&__input {

		position: absolute;
		width: 1px;
		height: 1px;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;

	}

	&__label {

		display: block;
		padding-left: 24px;

		&::before {

			width: 16px;
			height: 16px;
			border: solid 1px var(--color);
			position: absolute;
			top: 0;
			left: 0;
			content: '';

		}

	}

	&__input:checked + &__label::before {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 343 343'%3E%3Cpath d='M290.04 33.286L118.861 204.427l-66.541-66.52L0 190.226l118.862 118.845L342.357 85.606z'/%3E%3C/svg%3E%0A");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 80% auto;

	}

	&--error &__label::before {

		border-color: var(--error);

	}

}

/*


.select {

	display: block;
	position: relative;
	border-radius: 4px;
	background-color: color(#e5ebf3 a(15%));

	&::after {

		position: absolute;
		width: 20px;
		height: 20px;
		top: 10px;
		right: 13px;
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='M13.418 7.859a.695.695 0 0 1 .978 0 .68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83a.68.68 0 0 1 0-.969.695.695 0 0 1 .978 0L10 11l3.418-3.141z'/%3E%3C/svg%3E%0A");
		transition: .3s;
		pointer-events: none;

	}

	&--open::after {

		transform: scale(-1);

	}


	&--open &__value {

		color: #fff;

	}

	&--open &__list {

		opacity: 1;
		pointer-events: auto;
		transform: translate3d(0, 0, 0);

	}

	&__value {

		display: block;
		position: relative;
		cursor: pointer;
		line-height: 40px;
		padding: 10px 40px 10px 15px;
		font-size: 16px;
		line-height: 1.25;
		color: color(#fff a(50%));
		z-index: 1;
		transition: color .3s;
		user-select: none;

		&-inner {

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;

		}

		@media ($mdWidth) {

			pointer-events: none;

		}

	}

	&__list {

		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin-top: 10px;
		border-radius: 8px;
		box-shadow: 0 0 30px rgba(0, 61, 95, 0.3);
		background-color: #fff;
		padding: 10px 0;
		z-index: 5;
		opacity: 0;
		pointer-events: none;
		transform: translate3d(0, -10px, 0);
		transition: opacity 0.3s 0s, transform 0.3s 0s;

		&-item {

			padding: 5px 20px;
			font-size: 16px;
			line-height: 1.25;
			color: var(--color);
			transition: .3s;
			width: 100%;
			text-align: left;
			display: block;
			white-space: normal;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {

				color: var(--color);

			}

		}

		@media ($mdWidth) {

			display: none;

		}

	}

	select {

		position: absolute;
		width: 100%;
		height: 40px;
		top: 0;
		left: 0;
		opacity: 0;

	}

} */