.header {

/* 	background-color: #fff;
padding: 25px;

 	.center {

	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1360px;

}

&__logo {

	flex-shrink: 0;

	@media ($mdWidth) {

		margin: 0 auto;

		img {

			width: 192px;
			height: 40px;

		}

	}

	@media ($smWidth) {

		img {

			width: 148px;
			height: 30px;

		}

	}

}

&__right {

	display: flex;
	align-items: center;

	@media ($mdWidth) {

		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 290px;
		background-color: #fff;
		z-index: 20;
		padding: 20px;
		transition: 1s;
		transform: translate3d(-290px,0,0);
		display: block;

		.menu-show & {

			transform: translate3d(0,0,0);

		}

		.modal-show & {

			transition: 0s;

		}

	}

}

&__menu {

	margin: 0 85px 0 30px;
	display: flex;
	align-items: center;

	@media ($mdWidth) {

		margin: 85px 0 52px;
		display: block;

	}

}

&__tel {

	a {

		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
		padding-left: 30px;
		position: relative;
		white-space: nowrap;

		svg {

			position: absolute;
			top: 3px;
			left: 1px;

		}

	}

}

&__lk {

	padding-left: 32px;

	&-ico {

		position: absolute;
		top: 0;
		right: 0;
		border-radius: 6px;
		background-image: var(--grad-tealish);
		width: 40px;
		height: 40px;

		svg {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;

		}

		@media ($smWidth) {

			width: 30px;
			height: 30px;

		}

	}

	.btn {

		font-size: 15px;

	}

	@media ($mdWidth) {

		padding-left: 0;
		margin: 22px 0;

	}

}

}

.menu {

font-weight: 500;

@media ($desktop) {

	display: flex;

	&__item {

		margin: 0 20px;
		height: 60px;
		display: flex;
		align-items: center;
		color: color(var(--color) a(50%));

		&--active {

			color: var(--color);

			&::after {

				position: absolute;
				left: 0;
				right: 0;
				top: 100%;
				margin-top: 21px;
				content: '';
				height: 4px;
				background-image: linear-gradient(263deg, var(--red), var(--rusty-red));

			}

		}

	}

	&__link {

		display: block;
		color: inherit;
		transition: .3s;

		&:hover {

			color: var(--color);

		}

	}

}

@media ($mdWidth) {

	&__item {

		margin: 20px 0;

	}

}

}

@media ($mdWidth) {

.btn-menu-toggle {

	font-size: 0;
	color: transparent;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 5px;
	left: 0;

	@media ($smWidth) {

		top: 0;
		left: -5px;

	}

	span,
	&::after,
	&::before {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 30px;
		height: 2px;
		transition: .3s;
		border-radius: 2px;
		background-color: var(--color);

		@media ($smWidth) {

			width: 20px;

		}

	}

	&::before {

		bottom: 18px;
		content: '';

		@media ($smWidth) {

			bottom: 10px;

		}

	}

	&::after {

		top: 18px;
		content: '';

		@media ($smWidth) {

			top: 10px;

		}

	}

	&--close {

		margin: 14px;

		@media ($smWidth) {

			margin: 20px;

		}

		span {

			background-color: transparent;

		}

		&::before {

			transform: rotate(225deg);
			bottom: 0 !important;
			width: 22px;

		}

		&::after {

			transform: rotate(-225deg);
			top: 0 !important;
			width: 22px;

		}

	}

}

.menu-show {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;

	&::after {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: 0.6;
		background-color: #000;
		z-index: 19;

	}

}
 */
}