.header {

	padding-top: 22px;
	flex-shrink: 0;

	&__top {

		padding-top: 44px;
		position: relative;
		display: flex;

	}

	&__contacts {

		padding: 10px;
		position: relative;
		white-space: nowrap;

		&::before {

			background-color: var(--yellow);
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100vw;

		}

	}

	&__phone {

		position: relative;

		a {

			color: #565656;
			font-family: 'Hermes', 'Impact';
			font-size: 25px;
			display: flex;
			align-items: center;
			line-height: 23px;
			margin: 3px 0 2px;

			span {

				color: #858585;
				border-left: 2px solid #fff;
				border-right: 2px solid #fff;
				margin: 0 8px;
				min-width: 54px;
				text-align: center;

			}

			& + a {

				margin-top: 8px;

			}

		}

	}

	&__address {

		position: relative;

	}

	&__logo {

		position: absolute;
		top: -24px;
		left: 0;
		right: 88px;
		width: 301px;
		height: 146px;
		margin: auto;

		@media ($mdWidth) {

		}

		@media ($smWidth) {


		}

	}

	&__bottom {

		display: flex;
		align-items: flex-end;

	}

	&__user {

		flex-grow: 1;
		position: relative;
		margin-top: -10px;

		&-btns {

			display: flex;
			background-color: var(--yellow);
			padding: 2px;

		}

	}

	&__basket {

		width: 50%;

		&-link {

			white-space: nowrap;
			height: 63px;
			font-size: 14px;
			line-height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;

		}

		&-link:hover &-count {

			text-decoration-color: color(var(--color) a(0%));

		}

		&-count {

			color: var(--color);
			text-decoration: underline;
			text-decoration-color: var(--color);
			transition: .3s;
			display: block;

		}

		&-bold {

			display: block;
			color: var(--color);
			font-weight: bold;
			font-size: 16px;
			line-height: 22px;
			text-align: left;

		}

	}

	&__lk {

		width: 50%;

		button {

			background-color: #fff;
			transition: .3s;
			color: #000;
			font-size: 11px;
			line-height: 63px;
			height: 63px;
			text-transform: uppercase;
			width: 100%;

			&:hover {

				background-color: var(--yellow);

			}

		}

	}

	&__whatsapp {

		position: absolute;
		top: -25px;
		left: 0;

		a {

			display: flex;
			color: var(--color);
			align-items: baseline;

		}

		svg {

			margin-right: 3px;
			flex-shrink: 0;
			fill: var(--color);

		}

		span {

			text-decoration: underline;
			margin-right: 10px;

		}

	}

}


@media ($mdWidth) {

	.btn-menu-toggle {

		font-size: 0;
		color: transparent;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 5px;
		left: 0;

		@media ($smWidth) {

			top: 0;
			left: -5px;

		}

		span,
		&::after,
		&::before {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 30px;
			height: 2px;
			transition: .3s;
			border-radius: 2px;
			background-color: var(--color);

			@media ($smWidth) {

				width: 20px;

			}

		}

		&::before {

			bottom: 18px;
			content: '';

			@media ($smWidth) {

				bottom: 10px;

			}

		}

		&::after {

			top: 18px;
			content: '';

			@media ($smWidth) {

				top: 10px;

			}

		}

		&--close {

			margin: 14px;

			@media ($smWidth) {

				margin: 20px;

			}

			span {

				background-color: transparent;

			}

			&::before {

				transform: rotate(225deg);
				bottom: 0 !important;
				width: 22px;

			}

			&::after {

				transform: rotate(-225deg);
				top: 0 !important;
				width: 22px;

			}

		}

	}

	.menu-show {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			opacity: 0.6;
			background-color: #000;
			z-index: 19;

		}

	}

}