.header {

	padding-top: 22px;
	flex-shrink: 0;

	&::before {

		position: absolute;
		height: 2px;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		background-color: var(--yellow);

	}

	&--home {

		&::before {

			display: none;

		}

		@media ($smWidth) {

			.header__catalog {

				display: block;

			}

			& ~ .main {

				padding-top: 0;

			}

		}

	}

	@media ($smWidth) {

		display: flex;
		flex-direction: column;
		padding: 0;

	}

	&__box {

		position: relative;
		padding-right: 272px;

		@media ($mdWidth) {

			padding: 0;
			margin-top: 30px;

		}

		@media ($smWidth) {

			margin: 0;

		}

	}

	&__catalog {

		position: relative;
		padding-right: 272px;
		left: -15px;

		@media ($mdWidth) {

			padding: 0;
			left: 0;

		}

		@media ($smWidth) {

			order: 3;
			left: 0;
			display: none;

		}

	}

	&__top {

		display: flex;
		align-items: flex-end;

		@media ($mdWidth) {

			justify-content: space-between;

		}

		@media ($smWidth) {

			height: 60px;
			align-items: center;

		}

		@media ($xsWidth) {

			padding: 0 10px;

		}

	}

	&__contacts {

		padding: 10px;
		position: relative;
		white-space: nowrap;

		@media ($smWidth) {

			display: none;

		}

		&::before {

			background-color: var(--yellow);
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100vw;

		}

	}

	&__phone {

		position: relative;

		a {

			color: #565656;
			font-family: 'Hermes', 'Impact';
			font-size: 25px;
			display: flex;
			align-items: center;
			line-height: 23px;
			margin: 3px 0 2px;

			span {

				color: #858585;
				border-left: 2px solid #fff;
				border-right: 2px solid #fff;
				margin: 0 8px;
				min-width: 54px;
				text-align: center;

			}

			& + a {

				margin-top: 8px;

			}

		}

	}

	&__address {

		position: relative;

	}

	&__logo {

		top: -24px;
		width: 301px;
		height: 146px;
		position: relative;
		margin-left: 76px;

		@media ($mdWidth) {

			top: 0;
			margin: 0;
			height: 98px;
			flex-grow: 1;
			display: flex;
			justify-content: center;

			img {

				width: 200px;
				height: 98px;

			}

		}

		@media ($smWidth) {

			width: 82px;
			height: 40px;
			flex-grow: 0;
			flex-shrink: 0;
			top: -7px;

			img {

				width: 82px;
				height: 40px;

			}

		}

		@media ($xsWidth) {

			width: 62px;
			height: 40px;
			flex-grow: 0;
			flex-shrink: 0;
			top: -5px;

			img {

				width: 62px;
				height: 40px;

			}

		}

	}

	&__user {

		position: absolute;
		width: 272px;
		right: 0;
		bottom: -110px;
		z-index: 2;

		@media ($mdWidth) {

			position: relative;
			bottom: 0;

		}

		@media ($smWidth) {

			width: auto;
			flex-grow: 1;

			&-ico {

				&-tel {

					width: 16px;
					height: 16px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M15.965 12.397c-.045-.136-.333-.337-.863-.602a26.521 26.521 0 00-.614-.341 57.211 57.211 0 01-.721-.398 24.104 24.104 0 01-.608-.352c-.03-.023-.125-.089-.284-.199a3.194 3.194 0 00-.404-.244.744.744 0 00-.324-.08c-.151 0-.34.108-.568.324-.227.216-.435.45-.624.705a6.85 6.85 0 01-.602.704c-.213.216-.387.324-.523.324a.773.773 0 01-.256-.057 2.65 2.65 0 01-.233-.096 4.246 4.246 0 01-.273-.16c-.129-.079-.2-.123-.216-.13-1.037-.576-1.928-1.235-2.67-1.977-.742-.743-1.401-1.633-1.977-2.67a6.582 6.582 0 00-.13-.217 4.097 4.097 0 01-.16-.272 2.463 2.463 0 01-.097-.233.769.769 0 01-.056-.256c0-.136.108-.31.324-.523.215-.212.45-.413.704-.602a5.53 5.53 0 00.705-.625c.215-.227.323-.416.323-.568a.742.742 0 00-.08-.324 3.159 3.159 0 00-.243-.403c-.11-.16-.177-.254-.2-.284a24.96 24.96 0 01-.352-.608 57.37 57.37 0 01-.397-.722c-.144-.265-.258-.47-.341-.613-.265-.53-.466-.819-.602-.864A.636.636 0 003.364 0c-.205 0-.472.038-.801.114a4.5 4.5 0 00-.779.238c-.378.16-.78.621-1.204 1.386C.194 2.45 0 3.155 0 3.852c0 .204.014.403.04.597.027.193.074.41.142.653.068.242.123.422.165.54.042.117.12.327.233.63.113.303.182.489.204.557.265.743.58 1.405.943 1.989.599.97 1.415 1.971 2.449 3.005 1.034 1.035 2.036 1.85 3.006 2.45.583.363 1.246.677 1.988.942.069.023.254.091.557.205.303.114.513.191.63.233.118.042.298.097.54.165.243.068.46.116.654.142.193.026.392.04.596.04.697 0 1.402-.193 2.114-.58.765-.424 1.227-.825 1.386-1.204.084-.19.163-.449.239-.779.076-.33.113-.596.113-.8a.634.634 0 00-.034-.24z'/%3E%3C/svg%3E%0A");

				}

				&-search {

					width: 16px;
					height: 16px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M15.614 13.877l-3.291-3.291a6.572 6.572 0 001.19-3.83c0-.914-.178-1.79-.533-2.624a6.753 6.753 0 00-1.44-2.16A6.754 6.754 0 009.381.532 6.64 6.64 0 006.756 0c-.915 0-1.79.178-2.624.533a6.753 6.753 0 00-2.16 1.44 6.754 6.754 0 00-1.44 2.159A6.639 6.639 0 000 6.756c0 .915.178 1.79.533 2.625a6.753 6.753 0 001.44 2.16 6.755 6.755 0 002.159 1.439 6.64 6.64 0 002.624.533 6.573 6.573 0 003.83-1.19l3.291 3.281c.23.244.518.365.864.365.333 0 .62-.121.864-.365a1.18 1.18 0 00.364-.863c0-.34-.118-.627-.355-.864zm-5.82-4.083c-.842.841-1.854 1.262-3.038 1.262-1.183 0-2.196-.421-3.037-1.262-.841-.842-1.262-1.854-1.262-3.038 0-1.183.42-2.196 1.262-3.037.841-.841 1.854-1.262 3.037-1.262 1.184 0 2.196.42 3.038 1.262.841.841 1.262 1.854 1.262 3.037 0 1.184-.421 2.196-1.262 3.038z'/%3E%3C/svg%3E%0A");

				}

				&-cart {

					width: 20px;
					height: 20px;
					background-position: center;
					background-repeat: no-repeat;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' viewBox='0 0 19 18'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M17.984 3.502H6.68c-.368 0-.578.285-.469.636L8 9.376c.088.283.4.512.696.512h7.41a.772.772 0 00.696-.512l1.558-5.361c.089-.283-.08-.513-.376-.513z'/%3E%3Ccircle cx='8.703' cy='15.922' r='1.691'/%3E%3Ccircle cx='15.858' cy='15.943' r='1.691'/%3E%3Cpath d='M17.888 11.609h-9.89L4.04.218H.957a.957.957 0 100 1.914h1.721l3.959 11.392h11.25a.957.957 0 100-1.915z'/%3E%3C/g%3E%3C/svg%3E%0A");

					&[data-count] {

						&::before {

							position: absolute;
							top: -8px;
							left: -8px;
							right: -8px;
							bottom: -8px;
							border-radius: 50%;
							content: '';
							background-color: var(--yellow);
							z-index: -1;

						}

						&::after {

							position: absolute;
							top: -16px;
							left: 16px;
							content: attr(data-count);
							color: #fff;
							font-size: 11px;
							border-radius: 50%;
							width: 16px;
							height: 16px;
							line-height: 16px;
							text-align: center;
							background-color: var(--color);

						}

					}

				}

				&-whatsapp {

					width: 20px;
					height: 20px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M.837 19.167l1.24-4.554A9.125 9.125 0 01.832 10 9.166 9.166 0 0110 .833 9.166 9.166 0 0119.167 10 9.166 9.166 0 0110 19.167a9.125 9.125 0 01-4.61-1.242L.836 19.167zM6.692 5.699a.88.88 0 00-.34.092c-.1.056-.19.126-.27.209-.11.103-.172.193-.24.28-.338.441-.52.982-.517 1.538.002.45.12.887.303 1.296.374.826.991 1.702 1.806 2.513.196.195.388.391.594.574a8.66 8.66 0 003.52 1.875l.522.08c.17.01.339-.004.51-.012.266-.014.527-.086.763-.212.152-.08.224-.12.351-.201 0 0 .04-.026.115-.083.123-.091.2-.156.302-.264.076-.079.142-.171.193-.277.071-.149.143-.434.172-.671.022-.182.016-.28.013-.342-.004-.098-.085-.2-.174-.243l-.534-.24s-.797-.347-1.284-.569a.456.456 0 00-.162-.037.442.442 0 00-.347.116v-.002c-.004 0-.066.053-.729.856a.32.32 0 01-.337.119 1.298 1.298 0 01-.175-.06l-.23-.1-.005-.003a5.51 5.51 0 01-1.44-.916c-.115-.101-.222-.211-.332-.317a5.771 5.771 0 01-.935-1.163l-.054-.087a.846.846 0 01-.094-.188.294.294 0 01.056-.243s.223-.243.326-.375c.086-.11.167-.224.241-.342.109-.175.142-.353.086-.492a76.32 76.32 0 00-.796-1.87c-.054-.123-.215-.212-.36-.229a4.069 4.069 0 00-.149-.015 3.103 3.103 0 00-.37.004V5.7z'/%3E%3C/svg%3E%0A");

				}

			}

		}

		&-links {

			@media ($smWidth) {

				display: flex;
				justify-content: flex-end;
				align-items: center;

				li {

					padding-left: 25px;

					& + li::before {

						position: absolute;
						width: 3px;
						height: 3px;
						top: 50%;
						left: 10px;
						margin-top: -1px;
						content: '';
						background-color: #f5e615;

					}

				}

				a {

					color: transparent;
					display: block;
					font-size: 0;
					position: relative;

					&::after {

						position: absolute;
						top: -5px;
						left: -5px;
						right: -5px;
						bottom: -5px;
						content: '';

					}

				}

			}

		}

		&-btns {

			display: flex;
			background-color: var(--yellow);
			padding: 2px;

		}

	}

	&__basket {

		width: 50%;

		&-link {

			white-space: nowrap;
			height: 63px;
			font-size: 14px;
			line-height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;

		}

		&-link:hover &-count {

			text-decoration-color: color(var(--color) a(0%));

		}

		&-count {

			color: var(--color);
			text-decoration: underline;
			text-decoration-color: var(--color);
			transition: .3s;
			display: block;

		}

		&-bold {

			display: block;
			color: var(--color);
			font-weight: bold;
			font-size: 16px;
			line-height: 22px;
			text-align: left;

		}

	}

	&__lk {

		width: 50%;
		position: relative;

		button {

			background-color: #fff;
			transition: .3s;
			color: #000;
			font-size: 11px;
			line-height: 63px;
			height: 63px;
			text-transform: uppercase;
			width: 100%;

			&:hover {

				background-color: var(--yellow);

			}

		}

		&-mini-menu {

			position: absolute;
			top: 100%;
			left: -2px;
			right: -2px;
			background-color: #fff;
			z-index: 10;
			border: 2px solid var(--yellow);
			padding: 12px 20px;
			font-size: 13px;
			display: none;

			li {

				margin: 5px 0;

			}

			a {

				color: var(--color);
				text-decoration: underline;
				text-decoration-color: var(--color);
				transition: .3s;

				&:hover {

					text-decoration-color: transparent;

				}

			}

		}

		&:hover &-mini-menu {

			display: block;

		}

	}

	&__whatsapp {

		margin-bottom: 5px;

		a {

			display: flex;
			color: var(--color);
			align-items: baseline;

		}

		svg {

			margin-right: 3px;
			flex-shrink: 0;
			fill: var(--color);

		}

		span {

			text-decoration: underline;
			margin-right: 10px;

		}

	}

}


@media ($smWidth) {

	.btn-menu-toggle {

		font-size: 0;
		color: transparent;
		width: 40px;
		height: 40px;
		position: relative;
		left: -10px;
		flex-shrink: 0;

		span,
		&::after,
		&::before {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 20px;
			height: 2px;
			transition: .3s;
			border-radius: 2px;
			background-color: var(--dark);

		}

		&::before {

			bottom: 10px;
			content: '';

		}

		&::after {

			top: 10px;
			content: '';

		}

		.menu-show &{

			span {

				background-color: transparent;

			}

			&::before {

				transform: rotate(225deg);
				bottom: 0;
				width: 22px;

			}

			&::after {

				transform: rotate(-225deg);
				top: 0;
				width: 22px;

			}

		}

	}

	.menu-show {

		.main,
		.footer,
		.home-slider,
		.header__catalog,
		.header__user-links {

			display: none;

		}

		.header::before {

			display: none;

		}

		.menu-mobile {

			display: block;

		}

	}

}