.help-contacts {

	background-color: var(--bg);
	padding: 113px 0;

	@media ($mdWidth) {

		padding: 50px 0;

	}

	@media ($smWidth) {

		padding: 50px 0 60px;

	}

	&__box {

		display: flex;
		justify-content: space-between;
		align-items: center;

		@media ($smWidth) {

			display: block;

		}

	}

	&__content {

		max-width: 560px;

	}

	&__title {

		color: var(--red);

	}

	&__intro {

		font-size: 16px;
		line-height: 30px;
		color: color(var(--color) a(60%));
		margin-top: 6px;

		@media ($smWidth) {

			font-size: 14px;
			line-height: 1.25;

			br {

				margin-bottom: 7px;

			}

		}

		br {

			display: block;
			margin-bottom: 5px;

		}

		a {

			color: var(--color);
			font-size: 36px;
			white-space: nowrap;

			@media ($smWidth) {

				font-size: 30px;

			}

		}

	}

	&__form {

		display: flex;

		@media ($mdWidth) {

			display: block;

			.btn {

				width: 100%;

			}

		}

		@media ($smWidth) {

			padding-top: 52px;

		}

		&-input {

			width: 348px;
			margin-right: 20px;
			position: relative;

			@media ($mdWidth) {

				width: 100%;
				margin: 0 0 20px;

			}

			svg {

				position: absolute;
				top: 21px;
				left: 20px;
				z-index: 1;
				pointer-events: none;

			}

			.input {

				padding-left: 66px;

			}

		}

	}

}