.home-articles-news {

	flex-shrink: 0;

	@media ($mdWidth) {

		margin: 0 -15px;

	}

	&__box {

		background-color: #eee;
		padding: 25px 10px 29px 37px;
		display: flex;
		justify-content: space-between;
		position: relative;

		@media ($mdWidth) {

			padding: 25px 15px;

			&::after {

				position: absolute;
				width: 100vw;
				top: 0;
				right: 99%;
				bottom: 0;
				content: '';
				background-color: #eee;

			}

		}

		&::before {

			position: absolute;
			width: 100vw;
			top: 0;
			left: 99%;
			bottom: 0;
			content: '';
			background-color: #eee;

		}

	}

	&__link {

		color: var(--color);
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		border-bottom: 1px solid #000;
		text-decoration: none;
		transition: all .3s;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';

		}

		&:hover {

			border-color: var(--yellow);
			color: #4e4e4e;

		}

	}

	&__date {

		color: #4e4e4e;
		font-family: 'Hermes', 'Impact';
		font-size: 20px;
		margin: 2px 0;

		span {

			color: #bbb;

		}

	}

	&__grid {

		flex-grow: 1;
		padding-right: 26px;

		&-list {

			position: relative;
			background-color: var(--yellow);
			display: flex;
			flex-wrap: wrap;
			padding: 1px;
			margin-top: 58px;

			&::before {

				position: absolute;
				border-top: 45px solid transparent;
				border-right: 55px solid var(--yellow);
				content: "";
				top: -45px;
				left: 0;

			}

		}

		&-item {

			width: calc(50% - 2px);
			min-height: 261px;
			margin: 1px;
			background-color: #fff;
			padding: 22px 20px 20px 20px;
			display: flex;
			position: relative;

			&--first {

				width: 100%;
				padding: 17px;
				min-height: 0;
				background-color: transparent;

			}

			&-img {

				flex-shrink: 0;
				padding: 7px 0;
				margin-right: 19px;

			}

			&-content {

				flex-grow: 1;

			}

			p {

				margin-top: 8px;
				line-height: 17px;

			}

		}

		&-link-all {

			display: flex;
			justify-content: flex-end;

		}

	}

	&__column {

		width: 300px;
		padding-bottom: 45px;
		flex-shrink: 0;

		.link-all {

			position: absolute;
			left: 0;
			bottom: 0;

		}

		&-item {

			margin: 21px 0 29px;

			p {

				margin-top: 8px;
				line-height: 17px;

			}

		}

	}

}