.home-articles-news {

	flex-shrink: 0;

	@media ($mdWidth) {

		margin: 0 -15px;

	}

	@media ($smWidth) {

		margin: 0 -20px;

	}

	@media ($xsWidth) {

		margin: 0 -10px;

	}

	&__box {

		background-color: #eee;
		padding: 25px 10px 29px 37px;
		display: flex;
		justify-content: space-between;
		position: relative;

		@media ($mdWidth) {

			padding: 25px 15px;

			&::after {

				position: absolute;
				width: 100vw;
				top: 0;
				right: 99%;
				bottom: 0;
				content: '';
				background-color: #eee;

			}

		}

		@media ($smWidth) {

			padding: 40px 20px 15px;
			display: block;

			&::after {

				display: none;

			}

		}

		@media ($xsWidth) {

			padding: 20px 10px;

		}

		&::before {

			position: absolute;
			width: 100vw;
			top: 0;
			left: 99%;
			bottom: 0;
			content: '';
			background-color: #eee;

		}

	}

	&__link {

		color: var(--color);
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		border-bottom: 1px solid #000;
		text-decoration: none;
		transition: all .3s;

		@media ($mdWidth) {

			color: var(--dark);
			font: 15px/18px Hermes;
			border-color: var(--dark);

		}

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';

		}

		&:hover {

			border-color: var(--yellow);
			color: #4e4e4e;

		}

	}

	&__date {

		color: #4e4e4e;
		font-family: 'Hermes', 'Impact';
		font-size: 20px;
		margin: 2px 0;

		@media ($smWidth) {

			display: none;

		}

		span {

			color: #bbb;

		}

	}

	&__grid {

		flex-grow: 1;
		padding-right: 26px;

		@media ($smWidth) {

			padding: 0;

		}

		&-list {

			position: relative;
			background-color: var(--yellow);
			display: flex;
			flex-wrap: wrap;
			padding: 1px;
			margin-top: 58px;

			@media ($smWidth) {

				display: block;
				padding: 0;
				margin: 20px 0;
				background-color: transparent;

				&::before {

					display: none;

				}

			}

			&::before {

				position: absolute;
				border-top: 45px solid transparent;
				border-right: 55px solid var(--yellow);
				content: "";
				top: -45px;
				left: 0;

			}

		}

		&-item {

			width: calc(50% - 2px);
			min-height: 261px;
			margin: 1px;
			background-color: #fff;
			padding: 22px 20px 20px 20px;
			display: flex;
			position: relative;

			@media ($mdWidth) {

				min-height: 0;

			}

			@media ($smWidth) {

				width: 100%;
				margin: 7px 0;
				background-color: transparent;
				padding: 0;

			}

			&--first {

				width: 100%;
				padding: 17px;
				min-height: 0;
				background-color: transparent;

				@media ($smWidth) {

					padding: 7px;
					width: auto;
					margin: 0 -20px;
					background-color: var(--yellow);

				}

				@media ($xsWidth) {

					margin: 0 -10px;

				}

			}

			&-img {

				flex-shrink: 0;
				padding: 7px 0;
				margin-right: 20px;

				img {

					max-width: 100%;

				}

				@media ($mdWidth) {

					padding: 0;
					width: 120px;

				}

			}

			&-content {

				flex-grow: 1;

				@media ($smWidth) {

					padding-top: 18px;

				}

			}

			p {

				margin-top: 8px;
				line-height: 17px;

				@media ($mdWidth) {

					font-size: 12px;
					line-height: 16px;
					color: var(--dark);
					margin-top: 10px;

				}

			}

		}

		&-link-all {

			display: flex;
			justify-content: flex-end;

			@media ($smWidth) {

				position: absolute;
				top: 6px;
				right: 0;

			}

		}

	}

	&__column {

		width: 300px;
		padding-bottom: 45px;
		flex-shrink: 0;
		position: relative;

		@media ($smWidth) {

			padding: 0;
			margin-top: 40px;
			width: 100%;

		}

		.link-all {

			position: absolute;
			left: 0;
			bottom: 0;

			@media ($smWidth) {

				top: 6px;
				right: 0;
				left: auto;
				bottom: auto;

			}

		}

		&-item {

			margin: 21px 0 29px;

			p {

				margin-top: 8px;
				line-height: 17px;

				@media ($mdWidth) {

					font-size: 12px;
					line-height: 16px;
					color: var(--dark);
					margin-top: 10px;

				}

			}

		}

	}

}