.home-actions {

	flex-shrink: 0;

	&__title {

		margin: 0 0 13px;

	}

	&__box {

		display: flex;
		position: relative;

		@media ($smWidth) {

			display: block;
			position: static;

		}

	}

	&__left {

		position: relative;
		background-color: var(--yellow);
		padding: 14px 30px 30px 0;
		flex-grow: 1;
		margin-top: 44px;

		@media ($smWidth) {

			margin: 0 -20px;
			padding: 7px;

			&::before {

				display: none;

			}

		}

		@media ($xsWidth) {

			margin: 0 -10px;

		}

		&::before {

			position: absolute;
			border-top: 45px solid transparent;
			border-right: 55px solid var(--yellow);
			content: "";
			top: -45px;
			left: 0;

		}

		&::after {

			position: absolute;
			width: 100vw;
			top: 0;
			right: 100%;
			bottom: 0;
			content: '';
			background-color: var(--yellow);

		}

	}

	&__right {

		width: 330px;
		flex-shrink: 0;
		border: 2px solid var(--yellow);
		padding: 24px 24px 24px 36px;

		@media ($smWidth) {

			margin: 0 -20px;
			padding: 20px;
			width: auto;

		}

		@media ($xsWidth) {

			margin: 0 -10px;
			padding: 10px;

		}

	}

	&__right &__item {

		display: block;

	}

	&__right &__link {

		color: var(--dark);
		border-bottom-color: var(--dark);
		font-size: 28px;

		@media ($mdWidth) {

			font: 15px/18px Hermes;

		}

	}

	&__link {

		color: var(--color);
		border-bottom: 2px solid #5a594c;
		color: #555;
		font-family: 'Hermes', 'Impact';
		font-size: 30px;
		text-decoration: none;
		word-spacing: 2.5px;
		text-transform: uppercase;

		@media ($mdWidth) {

			color: var(--dark);
			font: 15px/18px Hermes;
			border-bottom: 1px solid;

		}

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';

		}

		&:hover {

			border-color: var(--yellow);

		}

	}

	&__item {

		display: flex;
		position: relative;

		p {

			margin-top: 14px;
			line-height: 17px;

			@media ($mdWidth) {

				font-size: 12px;
				line-height: 16px;
				color: var(--dark);
				margin-top: 10px;

			}

		}

	}

	&__img {

		flex-shrink: 0;
		margin: 7px 28px 7px 0;

		img {

			max-width: 100%;

		}

		@media ($mdWidth) {

			margin: 0 20px 0 0;
			width: 120px;

		}

	}

	&__content {

		flex-grow: 1;

		@media ($mdWidth) {

			margin: 18px 0;

		}

	}

	&__link-all {

		display: flex;
		justify-content: flex-end;
		position: absolute;
		top: 0;
		right: 330px;

		@media ($smWidth) {

			top: 6px;
			right: 0;

		}

	}

}