.link-all {

	display: flex;
	position: relative;

	a,
	.button {

		position: relative;
		border: 2px solid var(--yellow);
		color: #555;
		padding: 0 76px 0 20px;
		transition: .3s;
		line-height: 44px;
		white-space: nowrap;
		font-size: 14px;

		&:hover {

			color: #555;
			background-color: var(--yellow);

			&::before {

				background-color: #5a5a5a;

			}

		}

		&::before {

			position: absolute;
			width: 2px;
			top: 8px;
			right: 45px;
			bottom: 8px;
			background-color: #eee;
			content: "";
			transition: .3s;

		}

		svg {

			position: absolute;
			top: 15px;
			right: 10px;
			fill: #555;
			transition: .3s;

		}

	}

	&--white {

		a {

			background-color: #fff;
			border: 0;
			padding-right: 66px;

			&::before {

				top: 12px;
				right: 42px;
				bottom: 10px;

			}

		}

	}

	&--dark {

		a {

			color: #fff;
			background-color: #4e4e4e;
			border: 0;
			padding-right: 63px;

			svg {

				fill: var(--yellow);

			}

			&:hover {

				background-color: var(--yellow);

				svg {

					fill: #fff;

				}

			}

			&::before {

				width: 46px;
				top: 0;
				right: 0;
				bottom: 0;
				background-color: var(--dark);

			}

		}

	}

	&--gray {

		a,
		.button {

			color: var(--color);
			background-color: #eee;
			border: 0;
			padding-right: 63px;

			svg {

				fill: var(--yellow);

			}

			&:hover {

				background-color: var(--yellow);

				svg {

					fill: #fff;

				}

			}

			&::before {

				width: 46px;
				top: 0;
				right: 0;
				bottom: 0;
				background-color: var(--dark);

			}

		}

	}

}