.visible-md,
.visible-sm,
.visible-xs {

	display: none;

}

.visible-lg {

	display: block;

}


.center {

	margin: 0 auto;
	width: 980px;
	max-width: 100%;
	position: relative;
	padding: 0 15px;

}

.mb30 {

	margin-bottom: 30px;

}

.mb50 {

	margin-bottom: 50px;

}

@media ($wideWidth) {


}

@media ($desktop) {


}

@media ($mdWidth) {

	.hidden-md {

		display: none !important;

	}

	.visible-md {

		display: block;

	}

	.mb30--md {

		margin-bottom: 30px;

	}

}

@media ($smWidth) {

	.hidden-sm {

		display: none !important;

	}

	.visible-sm {

		display: block;

	}

	.center {

		padding: 0 20px;

	}

}

@media ($xsWidth) {

	.hidden-xs {

		display: none !important;

	}

	.visible-xs {

		display: block;

	}

	.center {

		padding: 0 10px;

	}

}