.menu {

	&-top {

		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 1;

		&__list {

			display: flex;
			justify-content: space-between;
			width: 410px;

		}

		a {

			border-bottom: 1px solid transparent;
			color: #888;
			display: block;
			transition: color .3s;

			&:hover {

				border-bottom-color: var(--yellow);
				color: #565656;

			}

		}

	}

	&-catalog {

		width: 678px;
		flex-shrink: 0;

		&__list {

			display: flex;

		}

		&__item {

			width: 113px;

		}

		&__logo {

			position: absolute;
			height: 56px;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			fill: #565656;

		}

		a {

			padding: 10px;
			padding-top: 56px;
			height: 98px;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			display: block;
			transition: .3s;
			line-height: 17px;
			color: #000;

			&:hover {

				background-color: var(--yellow);

			}

		}

	}

}