.modal {

	flex-grow: 1;
	position: relative;
	-webkit-overflow-scrolling: touch;
	z-index: 10;
	display: none;
	width: 100%;

	&__box {

		flex-grow: 1;
		display: flex;
		width: 100%;
		padding: 80px 20px 20px;

		@media ($xsWidth) {

			padding: 80px 10px 10px;

		}

	}

	&__item {

		position: relative;
		max-width: 100%;
		margin: auto;
		flex-shrink: 0;
		width: 470px;
		border-radius: 6px;
		background-color: #fff;
		padding: 60px;

		@media ($smWidth) {

			padding: 30px;

		}

		@media ($xsWidth) {

			padding: 20px;

		}

	}

	&__close-btn {

		position: absolute;
		width: 40px;
		height: 40px;
		background-color: #fff;
		border-radius: 50%;

		top: 20px;
		right: 20px;

		&::after,
		&::before {

			position: absolute;
			width: 20px;
			height: 2.5px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 1px;
			margin: auto;
			background-color: var(--color);
			transform: rotate(-45deg);
			content: '';

		}

		&::after {

			transform: rotate(45deg);

		}

	}

}

.modal-show {

	padding: 0;

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			opacity: 0.6;
			z-index: 9;
			background-color: #000;

		}

	}

}

.modal-form {

	&__title {

		text-align: center;
		margin: -10px 0 34px;
		color: var(--red);

		@media ($smWidth) {

			margin: 0 0 20px;

		}

	}

	&__input {

		margin: 20px 0;

	}

	&__links {

		display: flex;
		justify-content: space-between;

		&-red,
		&-dark {

			font-size: 16px;
			line-height: 30px;
			color: var(--color);
			text-decoration: underline;

			&:hover {

				text-decoration: none;

			}

		}

		&-red {

			color: var(--red);

		}

	}

	&__submit {

		width: 100%;
		font-weight: 600;
		font-size: 20px;
		margin-top: 30px;

	}

}