.modal {

	flex-grow: 1;
	position: relative;
	-webkit-overflow-scrolling: touch;
	z-index: 10;
	display: none;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 20px;

	&__box {

		border: 2px solid var(--yellow);
		padding: 12px;
		width: 430px;
		max-width: 100%;
		position: relative;

	}

	&--wide &__box {

		width: 940px;

	}

	&__item {

		position: relative;
		background-color: #fff;
		padding: 30px 40px;

		@media ($smWidth) {

			padding: 20px 30px;

		}

		@media ($xsWidth) {

			padding: 10px 20px;

		}

		&--gallery {

			overflow: hidden;
			padding: 0;

			img {

				max-height: 80vh;
				margin: auto;
				display: block;
				max-width: calc(100% - 96px);

			}

			.swiper-controls {

				top: 0;
				margin: auto;

			}

			.swiper-navigation {

				justify-content: space-between;
				width: 100%;
				pointer-events: none;

				button {

					pointer-events: auto;

				}

				&::before {

					display: none;

				}

			}

		}

	}

	&__close-btn {

		position: absolute;
		width: 48px;
		height: 48px;
		top: 12px;
		right: 12px;
		z-index: 1;

		svg {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			transition: .3s;
			fill: #ddd;

		}

		&:hover svg {

			fill: var(--dark);

		}

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			opacity: 0.6;
			z-index: 9;
			background-color: var(--dark);

		}

	}

}

.modal-form {

	&__text {

		color: #4e4e4e;
		margin: 10px 0;

		&--big {

			font-size: 18px;
			font-weight: 700;

		}

		.is-error & {

			color: color(var(--red) a(50%)) !important;

		}

	}

	&__input {

		margin: 24px 0;

	}

	&__input &__text {

		margin-top: 4px;

	}

	&__btns {

		display: flex;
		justify-content: space-between;
		margin: 24px 0 12px;

		&--center {

			justify-content: center;

			.btn {

				margin: 0 10px;

			}

		}

		&--right {

			justify-content: flex-end;

			.btn {

				margin-left: 20px;

			}

		}

	}

}
