.new {

	margin-bottom: 30px;

	&__head {

		time {

			margin: 20px 0;

		}

		@media ($mdWidth) {

			.h1 {

				text-transform: none;
				color: var(--dark);

			}

		}

	}

	&__tags {

		font-weight: 700;

	}

}