.news {

	.pagination {

		margin-bottom: 50px;

	}

	&__title {

		@media ($mdWidth) {

			text-transform: none;
			margin-bottom: 30px;
			color: var(--dark);

		}

	}

	&__item {

		display: flex;

		@media ($smWidth) {

			display: block;

			&::after {

				display: table;
				content: ' ';
				width: 100%;

			}

		}

	}

	&__img {

		width: 220px;
		flex-shrink: 0;
		margin-right: 30px;

		img {

			max-width: 100%;

		}

		@media ($smWidth) {

			width: 120px;
			margin-right: 20px;
			float: left;

		}

		@media ($xsWidth) {

			margin-right: 10px;

		}

	}

	&__date {

		margin-bottom: 21px;

		@media ($smWidth) {

			margin-bottom: 0;

		}

	}

	&__img:hover ~ &__body &__link {

		border-bottom-color: transparent;

	}

	&__link {

		font-size: 18px;
		line-height: 22px;
		font-weight: bold;
		color: var(--dark);
		text-decoration: none;
		border-bottom: 1px solid;
		transition: .3s;

		&:hover {

			border-bottom-color: transparent;

		}

		@media ($smWidth) {

			font: 15px/18px Hermes;

		}

	}

	&__text {

		margin-top: 10px;

		@media ($smWidth) {

			font-size: 12px;
			line-height: 16px;
			color: var(--dark);

		}

	}

	&__last {

		@media ($mdWidth) {

			margin: 0 -15px;
			padding: 15px;
			background-color: var(--yellow);

			&-white,
			&-column {

				padding: 0 15px;

				.news__img {

					width: calc(220px - 15px);

				}

				.news__item {

					background-color: #fff;
					padding: 15px;
					margin: 10px -15px 0;

				}

			}

		}

		@media ($smWidth) {

			margin: 0 -20px;
			padding: 7px;

			&-yellow {

				padding-bottom: 10px;

				.news__img {

					width: 133px;

				}

			}

			&-white,
			&-column {

				.news__img {

					width: 118px;
					float: left;

				}

				.news__item {

					margin: 7px -15px 0;

				}

			}

		}

		@media ($xsWidth) {

			margin: 0 -10px;

		}

		@media ($desktop) {

			display: flex;
			justify-content: space-between;
			margin: 30px 0;

			&-left {

				width: 562px;
				border: 2px solid var(--yellow);

			}

			&-right {

				width: 346px;
				padding: 24px 40px;
				border: 2px solid var(--yellow);

			}

			&-white {

				padding: 26px;

			}

			&-yellow {

				padding: 26px;
				background-color: var(--yellow);

			}

			&-column {

				.news__item {

					flex-direction: column-reverse;

				}

				.news__img {

					margin: 30px 0 0;

				}

			}

		}

		&-yellow {

			.news__tags li {

				background-color: #fff;

			}

		}

	}

	&__list {

		margin-bottom: 50px;

		@media ($mdWidth) {

			margin-bottom: 30px;

		}

	}

	&__list &__item {

		margin-top: 50px;

		@media ($mdWidth) {

			margin-top: 30px;

		}

	}

	&__link-all {

		@media ($smWidth) {

			position: absolute;
			top: 6px;
			right: 0;

		}

	}

}