.pagination {

	display: flex;
	justify-content: center;
	margin: -4px;

	@media ($mdWidth) {

		margin: -6px;

	}

	@media ($xsWidth) {

		margin: -5px;

	}

	&__item {

		margin: 4px;

		@media ($mdWidth) {

			margin: 6px;

		}

		@media ($xsWidth) {

			margin: 5px;

		}

		a,
		span {

			color: var(--color);
			padding: 0 8px;
			display: block;
			background-color: #eff0f1;
			border-radius: 16px;
			min-width: 32px;
			text-align: center;
			height: 32px;
			line-height: 32px;

			@media ($mdWidth) {

				line-height: 35px;
				min-width: 35px;
				height: 35px;
				border-radius: 0;

			}

			@media ($xsWidth) {

				line-height: 32px;
				min-width: 32px;
				height: 32px;

			}

		}

		a {

			transition: .3s;

			&:hover {

				background-color: #dadada;

			}

		}


		&--active {

			span {

				color: #fff;
				background-color: #4e4e4e;

			}

		}

		&--prev,
		&--next {

			svg {

				display: none;
				pointer-events: none;
				fill: none;
				stroke: #4e4e4e;

				@media ($mdWidth) {

					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					display: block;

				}

			}

			a,
			span {

				padding: 0 18px;
				color: #aab1b4;
				background-color: #fff;
				border: 2px solid #eff0f1;
				line-height: 28px;

				@media ($mdWidth) {

					font-size: 0;
					color: transparent;
					padding: 0;
					border: 0;
					background-color: #eff0f1;

				}

			}

			a {

				&:hover {

					border-color: #dadada;
					background-color: #fff;
					color: #000;

				}

			}

		}

	}

	&--white,
	&--white &__item--prev,
	&--white &__item--next {

		a,
		span {

			background-color: #fff;

		}

	}

	&--white &__item--active {

		span {

			color: #fff;
			background-color: #4e4e4e;

		}

	}

}