.related {

	.swiper-container-style {

		padding-bottom: 88px;

		.swiper-controls {

			left: -22px;

			@media ($mdWidth) {

				left: 0;

			}

			@media ($smWidth) {

				top: auto;
				bottom: 0;
				left: 0;

			}

		}

		.swiper-pagination {

			display: flex;
			top: 0;

		}

	}

	&__title {

		margin-bottom: 21px;

	}

	&__box {

		overflow: hidden;
		position: relative;

		& + & {

			margin-top: 48px;

		}

		@media ($smWidth) {

			margin-top: 36px !important;

			&.swiper-container-style {

				padding-bottom: 36px;

			}

		}

		& + &.swiper-container-style {

			margin-top: 64px;

		}

	}

	&__head {

		margin: 21px 0 15px;

	}

	&__list {

		display: flex;

	}

	&__item {

		width: calc((100% - 144px) / 4);
		margin-right: 48px;
		flex-shrink: 0;

		@media ($mdWidth) {

			width: calc((100% - 40px) / 3);
			margin-right: 20px;

		}

		@media ($smWidth) {

			width: calc((100% - 10px) / 2);
			margin-right: 10px;

		}

	}

	&__link {

		display: block;

	}

	&__img {

		height: 140px;
		display: block;
		position: relative;
		background-color: #fff;

		img {

			max-width: 100%;
			max-height: 100%;
			object-fit: contain;

		}

	}

	&__price {

		height: 20px;
		position: relative;
		display: block;
		background-color: #fff;

		&-old {

			color: rgba(85,85,85,.7);
			font-size: 18px;
			text-decoration: line-through;
			position: absolute;
			bottom: 32px;
			right: 10px;

		}

		&-current {

			color: rgba(0,0,0,.8);
			font-weight: bold;
			font-size: 20px;
			position: absolute;
			bottom: 5px;
			right: 10px;

		}

		&::before {

			border-right: 60px solid var(--yellow);
			border-top: 60px solid transparent;
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;

		}

	}

	&__name {

		display: block;
		margin: 0 0 12px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		height: 35px;

		color: #555;
		text-decoration: underline;
		text-decoration-color: var(--color);
		transition: .3s;

	}

	&__link:hover &__name {

		color: #000;
		text-decoration-color: color(var(--color) a(0%));

	}

	&__cart {

		margin-top: 20px;

		.btn {

			width: 100%;

		}

	}

}