.search-form {

	padding: 10px;
	position: relative;
	background-color: #eee;
	display: flex;

	&--header {

		padding-right: 0;

		&::before {

			position: absolute;
			top: 0;
			left: 100%;
			bottom: 0;
			width: calc((100vw - var(--widthScrollBar) - var(--widthCenter)) / 2);
			content: '';
			background-color: #eee;
			pointer-events: none;

		}

	}

	&__input {

		background-color: #fff !important;

	}

	&__submit {

		background-color: var(--dark);
		height: 34px;
		width: 34px;
		fill: var(--yellow);
		transition: .3s;
		flex-shrink: 0;
		position: relative;

		svg {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			fill: var(--yellow);
			transition: .3s;

		}

		&:hover {

			background-color: var(--yellow);

			svg {

				fill: var(--dark);

			}

		}

	}

}