

.icon-arrow-right {
  width: 8px;
  height: 12px;
  fill: #D10808;
}


.icon-bx-log-in {
  width: 15px;
  height: 15px;
  fill: #FFF;
}


.icon-bxs-phone-call {
  width: 19px;
  height: 19px;
  fill: none;
}


.icon-flag-russia {
  width: 26px;
  height: 18px;
  fill: none;
}


.icon-home-alt {
  width: 21px;
  height: 24px;
  fill: none;
}


.icon-home {
  width: 22px;
  height: 24px;
  fill: #D30000;
}


.icon-ldquo {
  width: 22px;
  height: 16px;
  fill: #DF9400;
}


.icon-rdquo {
  width: 22px;
  height: 15px;
  fill: #DF9400;
}