@import url(fonts.css);
@import url(variables.css);
@import url(media.css);
@import url(default.css);
@import url(sprite.css);
@import url(form.css);

@import url(modal.css);
@import url(swiper.css);

@import url(header.css);
@import url(menu.css);
@import url(footer.css);

@import url(carousel.css);
@import url(link-all.css);

@import url(home-slider.css);
@import url(home-articles-news.css);
@import url(home-actions.css);

@import url(article.css);
@import url(search-ajax-result.css);
@import url(breadcrumbs.css);

@import url(catalog-section.css);
@import url(catalog.css);
