@import url(fonts.css);
@import url(variables.css);
@import url(media.css);
@import url(default.css);
@import url(sprite.css);
@import url(form.css);
@import url(search-form.css);

@import url(modal.css);
@import url(swiper.css);

@import url(header.css);
@import url(menu.css);
@import url(footer.css);

@import url(carousel.css);
@import url(link-all.css);

@import url(home-slider.css);
@import url(home-articles-news.css);
@import url(home-actions.css);

@import url(article.css);
@import url(search-ajax-result.css);
@import url(breadcrumbs.css);
@import url(pagination.css);
@import url(sort.css);
@import url(tabs.css);
@import url(tags.css);
@import url(table.css);

@import url(catalog-section.css);
@import url(catalog.css);
@import url(catalog-product.css);
@import url(filter.css);
@import url(more-slide.css);
@import url(tooltop.css);
@import url(slider-range.css);
@import url(nouislider.css);
@import url(product.css);
@import url(related.css);
@import url(reviews.css);
@import url(news.css);
@import url(new.css);
@import url(about.css);
@import url(comments.css);
@import url(brands.css);
@import url(brand.css);
@import url(service.css);
@import url(certificate.css);

@import url(discounts.css);
@import url(address.css);
@import url(delivery-and-payment.css);
@import url(contacts.css);
@import url(p404.css);
@import url(lab.css);
