.table {

	&-wht {

		thead {

			background-color: #fdfefe;

		}

		th {

			font-weight: 400;
			padding: 5px 10px 6px 25px;
			text-align: left;

		}


		td {

			padding: 21px 10px 24px 25px;
			vertical-align: top;

		}

		tbody {

			tr {

				border-bottom: 1px solid #fff;

			}

		}

	}

}