.tabs {

	position: relative;

	&__nav {

		display: flex;
		position: relative;

	}

	&__nav &__btn {

		padding: 2px 10px;
		line-height: 18px;
		position: relative;
		margin-right: 5px;
		border: 2px solid transparent;
		cursor: pointer;

		&--active {

			background-color: #fff;
			border-color:  var(--yellow);

		}

		&:hover {

			color: var(--dark);

		}

	}

	&-hash {

		position: relative;

		@media ($mdWidth) {

			margin: 0 -15px;

		}

		@media ($smWidth) {

			margin: 0 -20px;

		}

		@media ($xsWidth) {

			margin: 0 -10px;

		}

		.visuallyhidden .hash-detect {

			top: 1px;
			left: 1px;

		}

		&__nav {

			display: flex;
			position: relative;
			white-space: nowrap;

			@media ($smWidth) {

				padding: 0 5px;
				overflow-y: auto;

			}

		}

		&__btn {

			color: #5d5d5d;
			padding: 11px 24px 5px;
			line-height: 24px;
			height: 40px;
			position: relative;
			margin-left: 40px;

			@media ($mdWidth) {

				padding: 10px 15px 6px;

			}

			@media ($smWidth) {

				font: 15px/18px Hermes;
				color: var(--dark);
				padding: 10px 15px;
				margin: 0;
				text-transform: none;

				&::before {

					display: none;

				}

			}

			&--active {

				background-color: #eee;
				color: #353434;
				pointer-events: none;

				@media ($smWidth) {

					background-color: #f7f7f7;

				}

				&::before {

					border-top: 40px solid transparent;
					border-right: 40px solid var(--yellow);
					content: "";
					position: absolute;
					top: 0;
					left: -40px;

				}

			}

			&:hover {

				color: #353434;

			}

			&--active {

				opacity: 1;
				pointer-events: none;

			}

		}

		&__item {

			background-color: #eee;
			padding: 22px;
			position: relative;
			top: 0;
			left: 0;

			@media ($mdWidth) {

				padding: 15px;

			}

			@media ($smWidth) {

				padding: 20px;
				font-size: 12px;
				line-height: 1.33;
				color: var(--dark);
				background-color: #f7f7f7;

			}

			@media ($xsWidth) {

				padding: 15px;

			}

		}

	}

}