.tabs {

	position: relative;

	&__nav {

		display: flex;
		position: relative;

	}

	&__btn {

		padding: 2px 10px;
		line-height: 18px;
		position: relative;
		margin-right: 5px;
		border: 2px solid transparent;
		cursor: pointer;

		&--active {

			background-color: #fff;
			border-color:  var(--yellow);

		}

		&:hover {

			color: var(--dark);

		}

	}

	&-hash {

		position: relative;

		.visuallyhidden .hash-detect {

			top: 1px;
			left: 1px;

		}

		&__nav {

			display: flex;
			position: relative;

		}

		&__btn {

			color: #5d5d5d;
			padding: 11px 24px 5px;
			line-height: 24px;
			height: 40px;
			position: relative;
			margin-left: 40px;

			&--active {

				background-color: #eee;
				color: #353434;
				pointer-events: none;

				&::before {

					border-top: 40px solid transparent;
					border-right: 40px solid var(--yellow);
					content: "";
					position: absolute;
					top: 0;
					left: -40px;

				}

			}

			&:hover {

				color: #353434;

			}

			&--active {

				opacity: 1;
				pointer-events: none;

			}

		}

		&__item {

			background-color: #eee;
			padding: 22px;
			position: relative;
			top: 0;
			left: 0;

		}

	}

}