.tags {

	display: flex;
	flex-wrap: wrap;
	margin: 10px -3px;

	li {

		margin: 3px;
		background-color: var(--yellow);
		padding: 3px 17px 5px;
		color: var(--dark);

		@media ($mdWidth) {

			font: 12px/14px Hermes;
			padding: 5px;

		}

	}

}