:root {

	--color: #555;
	--yellow: #fff95a;
	--yellow: #f5e615;
	--gray: #eee;
	--dark: #231f20;
	--red: #f00;
	--error: #a94442;
	--blue: #0073a3;
	--green: green;
	--bg: #f7f7f7;

	--widthCenter: 100vw;
	--widthScrollBar: 0px;

}

$wideWidth: (min-width: 1920px);
$desktop: (min-width: 1200px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);