:root {

	--color: #555;
	--yellow: #fff95a;
	--gray: #eee;
	--dark: #231f20;
	--red: #f00;
	--error: #f00;
	--blue: #0073a3;

}

$wideWidth: (min-width: 1920px);
$desktop: (min-width: 1200px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);