:root {

	--color: #555;
	--yellow: #fff95a;
	--gray: #a41212;
	--red: #f00;

}

$wideWidth: (min-width: 1920px);
$desktop: (min-width: 1200px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);