{% set title = "Новости компании" %}

{% set description = "" %}

{% set urlPage = "news" %}

{% set breadcrumbs = [
	{
		name : "Новости",
		link: "news"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="news">

		<h1 class="h1">
			{{ title }}
		</h1>

{% set list = [
	{
		title: "Приглашаем на выставку Arms & Hunting 2019",
		date: "2019-10-07",
		text: "С 10 по 13 октября ждём вас на стенде E90 в выставочном комплексе «Гостиный двор».",
		img: "1"
	},
	{
		title: "Готовые комплекты с фонарями EagleTac",
		date: "2019-09-19",
		text: "Представляем вам готовые комплекты с фонарями EagleTac: поисковыми, ручными и подствольными (тактическими). Комплекты готовы к использованию, не требуют обязательного приобретения дополнительных аксессуаров. Они выгоднее по цене, чем покупка всех их составляющих отдельно.",
		img: "2"
	},
	{
		title: "Выберите свою новинку EagleTac",
		date: "2019-08-15",
		text: "Новые модели фонарей EagleTac ждут вас в нашем магазине. Взгляните на новый тактический фонарь EagleTac G3L (пришедший на смену легендарному G25C2 Mk II), на новые версии D25C Clicky Mark II (которые светят более чем в 1,5 раза ярче предыдущей версии), на новый титановый D3C. Также вам стоит обратить внимание на компактные карманные фонари DX3B Clicky на дальнобойном светодиоде XHP35 HI, на новый DX3L (тот же DX3B, только на АКБ 18650) и на версию TX3L со светодиодом XHP35 HI.",
		img: "3"
	},
	{
		title: "Ещё одно расширение зоны доставки по Москве",
		date: "2019-06-28",
		text: "Стоимость доставки в Прокшино, Коммунарку и поселения вдоль продлённой Сокольнической линии метрополитена снизилась до уровня стоимости доставки внутри МКАД.",
		img: "4"
	},
	{
		title: "Расширение зоны доставки по Москве",
		date: "2019-06-13",
		text: "Стоимость доставки в Косино-Ухтомский, Кожухово и Люберецкие поля снизилась в связи с открытием Некрасовской линии метро.",
		img: "5"
	},
	{
		title: "График работы в майские праздники",
		date: "2019-04-30",
		text: "В дни праздничные дни, с 1 по 5 и с 9 по 12 мая наш магазин не работает, обработка заказов не производится."
	}
] %}

		<div class="news__last">

			<div class="news__last-left">

				<div class="news__last-yellow">

{% set item = list[0] %}
{% set maxText = 150 %}

{% include "news/item.html" %}

				</div>

				<div class="news__last-white">

{% set item = list[1] %}

{% include "news/item.html" %}

				</div>

			</div>

			<div class="news__last-right">

				<div class="news__last-column">

{% set item = list[2] %}

{% include "news/item.html" %}

				</div>

			</div>

		</div>

		<div class="news__list">

{% for item in [list[3],list[4],list[5]] %}
{% set maxText = 300 %}

{% include "news/item.html" %}

{% endfor %}

		</div>

{% include "template/pagination.html" %}

	</section>

{% endblock %}