{% set title = "Тактические фонари EagleTac" %}

{% set description = "Высококачественные американские фонари, обладающие огромной мощностью, отличными ТТХ, высоким удобством использования" %}

{% set urlPage = "brand" %}

{% set ogType = "article" %}
{% set ogImage = "/img/brands/EagleTac.jpg" %}

{% set breadcrumbs = [
	{
		name : "Бренды",
		link: "brands"
	},
	{
		name : "Тактические фонари EagleTac",
		link: "brand"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="article">

		<h1>
			{{ title }}
		</h1>

		<div class="clr">

			<img src="/img/brands/EagleTac.jpg" alt="" class="img-left">

			<p>
				Высококачественные американские фонари, обладающие огромной мощностью, отличными ТТХ, высоким удобством использования. В светодиодных <a href="/catalog/fonari/?set_filter=y&amp;prod_filter_872_2225864208=Y" target="_blank">фонарях EagleTac</a> установлена лучшая электроника с максимальным КПД. Подствольные и <a href="/catalog/fonari/?set_filter=y&amp;prod_filter_872_2225864208=Y&amp;prod_filter_873_2251689819=Y" target="_blank">тактические фонари EagleTac</a> легко устанавливаются на нарезное и гладкоствольное оружие.
			</p>

		</div>

		<h2>
			Тактические, оружейные фонари и аккумуляторные фонари EagleTac
		</h2>

		<p>
			<a href="/catalog/fonari/?set_filter=y&amp;prod_filter_872_2225864208=Y" target="_blank">Американские фонари EagleTac</a> известны по всему миру как сверхмощные и надежные источники света для различных сфер использования. Модельный ряд EagleTac - это яркие фонари различного назначения, начиная от функциональных тактических моделей и заканчивая компактными наключными фонариками (например, D25AAA Mini). Продукция этой американской компании уже давно завоевала популярность у российского потребителя. Поэтому многие люди, желающие приобрести тактические (подствольные) фонари, выбирают именно EagleTac.
		</p>

		<p>
			<strong>Фонари EagleTac</strong> удобны в эксплуатации, экономичны и могут работать неделями от одного комплекта элементов питания. Любой <a href="" target="_blank">аккумуляторный фонарь EagleTac</a> характеризуется ударопрочностью, устойчивостью к критическим температурам, водонепроницаемостью и высокой функциональностью. Помимо прочего, <em>оружейные и тактические фонари</em> EagleTac специально предназначены для крепления на оружие, выдерживают отдачу и удобны в освещении цели. Выбирая <a href="/catalog/fonari/?set_filter=y&amp;prod_filter_872_2225864208=Y&amp;prod_filter_873_2251689819=Y" target="_blank">подствольные фонари фирмы EagleTac</a>, Вы выбираете надежность, долговечность и высокий КПД продукта. Все фонари работают как от батарей, так и от аккумуляторов.
		</p>

		<h2>
			Светодиодный фонарь EagleTac – везде, где нужен свет!
		</h2>

		<p>
			Фонари для охоты EagleTac характеризуются <strong>отличной светоотдачей</strong>, высокой устойчивостью к вибрациям и отдаче оружия. Подствольные фонари и <a href="/catalog/fonari/?set_filter=y&amp;prod_filter_872_2225864208=Y&amp;prod_filter_873_408066808=Y" target="_blank">карманные фонарики EagleTac</a> (ИглТак) отлично подходят для охоты, рыбалки и туризма. С помощью <a href="" target="_blank">специального крепления</a> любой тактический оружейный фонарь надежно крепится под ствол или сбоку от ствола, и обеспечивает высокое качество освещения.
		</p>

		<p>
			В отличие от других аналогов тактических фонарей, подствольный оружейный фонарь EagleTac оснащается светодиодами высокой мощности. Поэтому, если вы решите купить <a href="/catalog/fonari/?set_filter=y&amp;prod_filter_872_2225864208=Y&amp;prod_filter_873_2251689819=Y" target="_blank">подствольный фонарь EagleTac</a>, то можете быть уверены в том, что получите комфортное и яркое освещение, без синевы. А <strong>рекордное время работы</strong>, которыми славятся аккумуляторные фонари этого американского производителя, станут отличным стимулом купить именно такой <a href="/catalog/fonari/?set_filter=y&amp;prod_filter_872_2225864208=Y" target="_blank">светодиодный фонарик EagleTac</a>! Купить тактический, подствольный, поисковый, налобный или карманный американский фонарь EagleTac вы можете, <strong>оформив заказ на сайте</strong> либо обратившись в один из <a href="/contacts/" target="_blank">наших офисов</a>.
		</p>

		<p>
			<a href="/catalog/fonari/?set_filter=y&amp;prod_filter_872_2225864208=Y" target="_blank" style="font-size:16px; font-weight:bold;">Смотреть все фонари EagleTac</a>
		</p>

	</article>

{% endblock %}