{% set title = "Суперфонарик - лучший магазин, где можно купить фонарь в Москве недорого" %}

{% set description = "Магазин Суперфонарик в Москве - это самое лучшее место, где можно купить фонарь с ярким светом. У нас вы найдёте ответ на вопрос - где купить фонарик по низкой цене и с высоким качеством света." %}

{% set urlPage = "/" %}
{% extends "template/base.html" %}

{% block content %}

{% include "_include/home/article.html" %}
{% include "_include/home/slider.html" %}
{% include "_include/home/carousel.html" %}
{% include "_include/home/articles-news.html" %}
{% include "_include/home/sale.html" %}
{% include "_include/home/actions.html" %}

{% endblock %}