{% set title = "SuperFonarik.ru" %}

{% set description = "" %}

{% extends "template/base.html" %}

{% block content %}

	<hr style="margin: 20px 0">

	<h1 class="h1">Pages</h1>

	<ul class="h1">
		<li><a class="color-dark" href="/home">главная</a></li>
		<li><a class="color-dark" href="/catalog">каталог</a></li>
		<li><a class="color-dark" href="/catalog/fonari">фильтр</a></li>
		<li><a class="color-dark" href="/search">поиск</a></li>
		<li><a class="color-dark" href="/product">товар</a></li>
		<li><a class="color-dark" href="/product--notify">товар нет в наличии</a></li>
		<li><a class="color-dark" href="/news">Новости</a></li>
		<li><a class="color-dark" href="/news/new">Новость</a></li>
		<li><a class="color-dark" href="/articles">Статьи</a></li>
		<li><a class="color-dark" href="/articles/article">Статья</a></li>
		<li><a class="color-dark" href="/about">О компании</a></li>
		<li><a class="color-dark" href="/lab">Наша лаборатория</a></li>
		<li><a class="color-dark" href="/discounts">Скидки</a></li>
		<li><a class="color-dark" href="/where-to-buy">Где купить?</a></li>
		<li><a class="color-dark" href="/delivery-and-payment">Доставка и оплата</a></li>
		<li><a class="color-dark" href="/contacts">Контакты</a></li>
		<li><a class="color-dark" href="/404">404</a></li>
		<li><a class="color-dark" href="/brand">Бренд</a></li>
		<li><a class="color-dark" href="/personal/cart">Корзина</a></li>
		<li><a class="color-dark" href="/personal/order/make">Оформление заказа</a></li>
		<li><a class="color-dark" href="/personal/cart/empty">Корзина пуста</a></li>
		<li><a class="color-dark" href="/personal/cart/finish">Заказ сформирован</a></li>

		<li><a class="color-dark" href="/personal/">Личный кабинет</a></li>
		<li><a class="color-dark" href="/personal/private">Личные данные</a></li>
		<li><a class="color-dark" href="/personal/profiles">Адреса для доставки</a></li>
		<li><a class="color-dark" href="/personal/profiles/empty">Нет добавленных адресов</a></li>
		<li><a class="color-dark" href="/personal/profiles/edit">Редактирование|добавление адреса</a></li>

		<li><a class="color-dark" href="/personal/orders/">Текущие заказы</a></li>
		<li><a class="color-dark" href="/personal/orders/empty">Нет заказов</a></li>
		<li><a class="color-dark" href="/personal/orders/item">Мой заказ</a></li>
		<li><a class="color-dark" href="/personal/orders/cancel">Отмена заказа</a></li>

	</ul>

	<hr style="margin: 20px 0">

	<h1 class="h1">PageSpeed</h1>

	<ul class="h3">
		<li><a class="color-dark" target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fsf.wndrbase.com%2Fhome%2F">главная <b>99|100</b></a></li>
		<li><a class="color-dark" target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fsf.wndrbase.com%2Fcatalog%2F">каталог <b>98|100</b></a></li>
		<li><a class="color-dark" target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fsf.wndrbase.com%2Fcatalog%2Ffonari%2F">фильтр <b>99|99</b></a></li>
		<li><a class="color-dark" target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fsf.wndrbase.com%2Fproduct%2F">товар <b>99|100</b></a></li>
	</ul>

	<hr style="margin: 20px 0">

	<h1 class="h1">Schema</h1>

	<ul class="h3">
		<li><a class="color-dark" target="_blank" href="https://search.google.com/structured-data/testing-tool?hl=ru#url=http%3A%2F%2Fsf.wndrbase.com%2Fproduct%2F">товар</a></li>
		<li><a class="color-dark" target="_blank" href="https://search.google.com/structured-data/testing-tool?hl=ru#url=http%3A%2F%2Fsf.wndrbase.com%2Fnews%2Fnew">Новость</a></li>
	</ul>

	<hr style="margin: 20px 0">

	<div>

		<button style="float: left; margin: 10px; width: 120px" type="button" onclick="SF.modalShow('message', 'Уведомить о поступлении', 'Мы оповестим вас как только товар появится в наличии.');">
			Подписаться
		</button>

		<button style="float: left; margin: 10px; width: 120px" type="button" onclick="SF.modalShow('message', false, 'Вы отписались.');">
			Отписаться
		</button>

		<button style="float: left; margin: 10px; width: 120px" type="button" onclick="SF.modalShow('message', false, '<b>Вы успешно авторизованы.</b>');">
			Авторизация
		</button>

		<button style="float: left; margin: 10px; width: 120px" type="button" onclick="SF.modalShow('notify');">
			Уведомление о поступлении
		</button>

		<button style="float: left; margin: 10px; width: 120px" type="button" onclick="SF.modalShow('pre-order');">
			Оформить предзаказ
		</button>

		<button style="float: left; margin: 10px; width: 120px" type="button" onclick="SF.modalShow('one-click-buy');">
			Купить в один клик
		</button>

	</div>

{% endblock %}